<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.project.mapper.MarkingMapperV1">
    <resultMap id="BaseResultMap" type="cn.staitech.anno.project.domain.Marking">
        <id property="markingId" column="marking_id" jdbcType="BIGINT"/>
        <result property="annotationId" column="annotation_id" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="perimeter" column="perimeter" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="number" column="number" jdbcType="BIGINT"/>
        <result property="measureType" column="measure_type" jdbcType="INTEGER"/>
        <result property="measureRelation" column="measure_relation" jdbcType="VARCHAR"/>
        <result property="measureName" column="measure_name" jdbcType="VARCHAR"/>
        <result property="measureNumber" column="measure_number" jdbcType="INTEGER"/>
        <result property="radius" column="radius" jdbcType="VARCHAR"/>
        <result property="meanDistance" column="mean_distance" jdbcType="DOUBLE"/>
        <result property="maxDistance" column="max_distance" jdbcType="DOUBLE"/>
        <result property="minDistance" column="min_distance" jdbcType="DOUBLE"/>
        <result property="innerAngle" column="inner_angle" jdbcType="VARCHAR"/>
        <result property="exteriorAngle" column="exterior_angle" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="annotationType" column="annotation_type" jdbcType="VARCHAR"/>
        <result property="locationType" column="location_type" jdbcType="VARCHAR"/>
        <result property="slideId" column="slide_id" jdbcType="INTEGER"/>
        <result property="centerPoint" column="center_point" jdbcType="VARCHAR"/>
        <result property="pointCount" column="point_count" jdbcType="INTEGER"/>
        <result property="geometry" column="geometry" jdbcType="OTHER"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="annotationOwner" column="annotation_owner" jdbcType="VARCHAR"/>
        <result property="annotationUpdateOwner" column="annotation_update_owner" jdbcType="VARCHAR"/>
        <result property="projectId" column="project_id" jdbcType="BIGINT"/>
        <result property="imageId" column="image_id" jdbcType="BIGINT"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="organizationId" column="organization_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        marking_id
        ,annotation_id,area,
        perimeter,description,category_id,
        number,measure_type,measure_relation,
        measure_name,measure_number,radius,
        mean_distance,max_distance,min_distance,
        inner_angle,exterior_angle,create_by,
        create_time,annotation_type,location_type,
        slide_id,center_point,point_count,
        geometry,update_by,update_time,
        annotation_owner,annotation_update_owner,project_id,
        image_id,image_url,organization_id
    </sql>

    <select id="selectMarkings" resultMap="BaseResultMap">
        select * from tb_marking_tmp
    </select>
    
    <select id="markingList" parameterType="cn.staitech.anno.project.domain.Marking" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_marking
            <where>
                <if test="slideId != null">
                    AND slide_id = #{slideId}
                </if>
                <if test="categoryId != null">
                    AND category_id = #{categoryId}
                </if>
                <if test="projectId != null">
                    AND project_id = #{projectId}
                </if>
            </where>
    </select>
</mapper>
