<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.project.mapper.ProjectMapperV1">
    <select id="queryProject" parameterType="cn.staitech.anno.project.vo.ProjectIN"
            resultType="cn.staitech.anno.project.vo.ProjectVO">
        select p.*,s.name as species_val,s.name_en as
        species_val_en,o.organization_name,u.user_name,i.indicator_name,i.indicator_name_en,ps.name as
        ps_name,ps.name_en as ps_name_en
        from tb_project p
        left join tb_project_member m on p.project_id = m.project_id
        left join tb_species s on p.species_id = s.species_id
        left join sys_organization o on p.organization_id = o.organization_id
        left join sys_user u on p.create_by = u.user_id
        left join tb_pathological_indicator i on p.tag_id = i.indicator_id
        left join tb_product_series ps on p.product_series_id = ps.product_series_id
        <where>
            p.status != '1'
            <if test="params.userId!= null">
                AND m.user_id = #{params.userId}
            </if>
            <if test="params.projectName!= null">
                AND p.project_name like CONCAT('%',#{params.projectName},'%')
            </if>
            <if test="params.productSeriesId!= null">
                AND p.product_series_id = #{params.productSeriesId}
            </if>
            <if test="params.speciesId!= null">
                AND p.species_id = #{params.speciesId}
            </if>
            <if test="params.projectType!= null">
                AND p.project_type = #{params.projectType}
            </if>
            <if test="params.projectType == null">
                AND p.project_type in ('1','3')
            </if>
            <if test="params.createBy!= null">
                AND p.create_by = #{params.createBy}
            </if>
            <if test="params.userName!= null">
                AND u.user_name like CONCAT('%',#{params.userName},'%')
            </if>
            <if test="params.status!= null">
                AND p.status = #{params.status}
            </if>
            <if test="params.colorType!= null">
                AND p.color_type = #{params.colorType}
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.beginTime != null">
                and date_format(m.create_time,'%y%m%d') &gt;= date_format(#{params.createTimeParams.beginTime},'%y%m%d')
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.endTime != null">
                and date_format(m.create_time,'%y%m%d') &lt;= date_format(#{params.createTimeParams.endTime},'%y%m%d')
            </if>
        </where>
        order by p.create_time desc
    </select>

    <select id="pageProject" parameterType="cn.staitech.anno.project.vo.ProjectIN"
            resultType="cn.staitech.anno.project.vo.ProjectVO">
        select p.*,s.name as species_val,s.name_en as
        species_val_en,o.organization_name,u.user_name,i.indicator_name,i.indicator_name_en,ps.name as
        ps_name,ps.name_en as ps_name_en
        from tb_project p
        left join tb_project_member m on p.project_id = m.project_id
        left join tb_species s on p.species_id = s.species_id
        left join sys_organization o on p.organization_id = o.organization_id
        left join sys_user u on p.create_by = u.user_id
        left join tb_pathological_indicator i on p.indicator_id = i.indicator_id
        left join tb_product_series ps on p.product_series_id = ps.product_series_id

        <where>
            p.status != '1'
            <if test="params.userId!= null">
                AND m.user_id = #{params.userId}
            </if>
            <if test="params.projectName!= null">
                AND p.project_name like CONCAT('%',#{params.projectName},'%')
            </if>
            <if test="params.productSeriesId!= null">
                AND p.product_series_id = #{params.productSeriesId}
            </if>
            <if test="params.speciesId!= null">
                AND p.species_id = #{params.speciesId}
            </if>
            <if test="params.projectType!= null">
                AND p.project_type = #{params.projectType}
            </if>
            <if test="params.projectType == null">
                AND p.project_type in ('1','3')
            </if>
            <if test="params.createBy!= null">
                AND p.create_by = #{params.createBy}
            </if>
            <if test="params.userName!= null">
                AND u.user_name like CONCAT('%',#{params.userName},'%')
            </if>
            <if test="params.status!= null">
                AND p.status = #{params.status}
            </if>
            <if test="params.colorType!= null">
                AND p.color_type = #{params.colorType}
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.beginTime != null">
                and date_format(m.create_time,'%y%m%d') &gt;= date_format(#{params.createTimeParams.beginTime},'%y%m%d')
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.endTime != null">
                and date_format(m.create_time,'%y%m%d') &lt;= date_format(#{params.createTimeParams.endTime},'%y%m%d')
            </if>
        </where>
        order by p.create_time desc
    </select>
</mapper>
