<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.project.mapper.ProjectMapperV1">

    <resultMap id="BaseResultMap" type="cn.staitech.anno.project.domain.Project">
            <id property="projectId" column="project_id" jdbcType="BIGINT"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="specialId" column="special_id" jdbcType="BIGINT"/>
            <result property="systemCode" column="system_code" jdbcType="BIGINT"/>
            <result property="viscusCode" column="viscus_code" jdbcType="BIGINT"/>
            <result property="speciesId" column="species_id" jdbcType="INTEGER"/>
            <result property="productSeriesId" column="product_series_id" jdbcType="INTEGER"/>
            <result property="colorType" column="color_type" jdbcType="TINYINT"/>
            <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
            <result property="slideTotal" column="slide_total" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="organizationId" column="organization_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryProject" parameterType="cn.staitech.anno.project.vo.ProjectIN" resultType="cn.staitech.anno.project.vo.ProjectVO">
        select p.*,s.name as species_val,o.organization_name,u.user_name,i.indicator_name,ps.name as ps_name
        from tb_project p
        left join tb_project_member m on p.project_id = m.project_id
        left join tb_species s on p.species_id = s.species_id
        left join sys_organization o on p.organization_id = o.organization_id
        left join sys_user u on p.create_by = u.user_id
        left join tb_pathological_indicator i on p.tag_id = i.indicator_id
        left join tb_product_series ps on p.product_series_id = ps.product_series_id
        <where>
            <if test="params.userId!= null">
                AND m.user_id = #{params.userId}
            </if>
            <if test="params.projectName!= null">
                AND p.project_name like CONCAT('%',#{params.projectName},'%')
            </if>
            <if test="params.productSeriesId!= null">
                AND p.product_series_id = #{params.productSeriesId}
            </if>
            <if test="params.speciesId!= null">
                AND p.species_id = #{params.speciesId}
            </if>
            <if test="params.projectType!= null">
                AND p.project_type = #{params.projectType}
            </if>
            <if test="params.createBy!= null">
                AND p.create_by = #{params.createBy}
            </if>
            <if test="params.status!= null">
                AND p.status = #{params.status}
            </if>
            <if test="params.colorType!= null">
                AND p.color_type = #{params.colorType}
            </if>
            <if test="params.strat != null">
                and date_format(m.create_time,'%y%m%d') &gt;= date_format(#{params.start},'%y%m%d')
            </if>
            <if test="params.end != null">
                and date_format(m.create_time,'%y%m%d') &lt;= date_format(#{params.end},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="pageProject" parameterType="cn.staitech.anno.project.vo.ProjectIN" resultType="cn.staitech.anno.project.vo.ProjectVO">
        select p.*,s.name as species_val,o.organization_name,u.user_name,i.indicator_name,ps.name as ps_name
        from tb_project p
        left join tb_project_member m on p.project_id = m.project_id
        left join tb_species s on p.species_id = s.species_id
        left join sys_organization o on p.organization_id = o.organization_id
        left join sys_user u on p.create_by = u.user_id
        left join tb_pathological_indicator i on p.tag_id = i.indicator_id
        left join tb_product_series ps on p.product_series_id = ps.product_series_id

        <where>
            <if test="params.userId!= null">
                AND m.user_id = #{params.userId}
            </if>
            <if test="params.projectName!= null">
                AND p.project_name like CONCAT('%',#{params.projectName},'%')
            </if>
            <if test="params.productSeriesId!= null">
                AND p.product_series_id = #{params.productSeriesId}
            </if>
            <if test="params.speciesId!= null">
                AND p.species_id = #{params.speciesId}
            </if>
            <if test="params.projectType!= null">
                AND p.project_type = #{params.projectType}
            </if>
            <if test="params.createBy!= null">
                AND p.create_by = #{params.createBy}
            </if>
            <if test="params.status!= null">
                AND p.status = #{params.status}
            </if>
            <if test="params.colorType!= null">
                AND p.color_type = #{params.colorType}
            </if>
            <if test="params.start != null">
                and date_format(m.create_time,'%y%m%d') &gt;= date_format(#{params.start},'%y%m%d')
            </if>
            <if test="params.end != null">
                and date_format(m.create_time,'%y%m%d') &lt;= date_format(#{params.end},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>
