<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.project.mapper.SlideMapperV1">

    <resultMap id="BaseResultMap" type="cn.staitech.anno.project.domain.Slide">
        <id property="slideId" column="slide_id" jdbcType="BIGINT"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="imageId" column="image_id" jdbcType="INTEGER"/>
        <result property="humanAnnotationTotal" column="human_annotation_total" jdbcType="INTEGER"/>
        <result property="algorithmAnnotationTotal" column="algorithm_annotation_total" jdbcType="INTEGER"/>
        <result property="examinationSlideTotal" column="examination_slide_total" jdbcType="INTEGER"/>
        <result property="processFlag" column="process_flag" jdbcType="SMALLINT"/>
        <result property="examinationFlag" column="examination_flag" jdbcType="SMALLINT"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="aiCheck" column="ai_check" jdbcType="SMALLINT"/>
        <result property="aiAnalyzed" column="ai_analyzed" jdbcType="SMALLINT"/>
        <result property="diagnosis" column="diagnosis" jdbcType="SMALLINT"/>
        <result property="geojsonUrl" column="geojson_url" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="pageSlides" resultType="cn.staitech.anno.project.vo.SlideVO"
            parameterType="cn.staitech.anno.project.vo.SlideQueryIN">
        select s.*, i.thumb_url, i.image_name as image_code
        from tb_slide s
        left join tb_image i on s.image_id = i.image_id
        <where>
            <if test="params.projectId!= null">
                AND s.project_id = #{params.projectId}
            </if>
            <if test="params.userId!= null">
                AND s.create_by = #{params.userId}
            </if>
            <if test="params.imageCode!= null">
                AND i.image_name like CONCAT('%',#{params.imageCode},'%')
            </if>
            <if test="params.remark!= null">
                AND s.remark like CONCAT('%',#{params.remark},'%')
            </if>
            <if test="params.status!= null">
                AND s.status = #{params.status}
            </if>
            <if test="params.annoUser!= null">
                AND EXISTS(select u.slide_id from tb_slide_attr u where u.slide_id = s.slide_id and u.attr_type = '1'
                and u.attr_id = #{params.annoUser})
            </if>
            <if test="params.annoCategory!= null">
                AND EXISTS(select c.slide_id from tb_slide_attr c where c.slide_id = s.slide_id and c.attr_type = '2'
                and c.attr_id = #{params.annoCategory})
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.beginTime != null">
                and date_format(s.create_time,'%y%m%d') &gt;= date_format(#{params.createTimeParams.beginTime},'%y%m%d')
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.endTime != null">
                and date_format(s.create_time,'%y%m%d') &lt;= date_format(#{params.createTimeParams.endTime},'%y%m%d')
            </if>
            <if test="params.updateTimeParams != null and params.updateTimeParams.beginTime != null">
                and date_format(s.update_time,'%y%m%d') &gt;= date_format(#{params.updateTimeParams.beginTime},'%y%m%d')
            </if>
            <if test="params.updateTimeParams != null and params.updateTimeParams.endTime != null">
                and date_format(s.update_time,'%y%m%d') &lt;= date_format(#{params.updateTimeParams.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <select id="querySlides" resultType="cn.staitech.anno.project.vo.SlideExportVO"
            parameterType="cn.staitech.anno.project.vo.SlideQueryIN">
        select s.*, i.thumb_url,  i.image_name as image_code,p.project_name
        from tb_slide s
        left join tb_image i on s.image_id = i.image_id
        left join tb_project p on s.project_id = p.project_id
        <where>
            <if test="params.projectId!= null">
                AND s.project_id = #{params.projectId}
            </if>
            <if test="params.userId!= null">
                AND s.create_by = #{params.userId}
            </if>
            <if test="params.imageCode!= null">
                AND i.image_name like CONCAT('%',#{params.imageCode},'%')
            </if>
            <if test="params.remark!= null">
                AND s.remark like CONCAT('%',#{params.remark},'%')
            </if>
            <if test="params.status!= null">
                AND s.status = #{params.status}
            </if>
            <if test="params.projectId!= null">
                AND s.project_id = #{params.projectId}
            </if>
            <if test="params.annoUser!= null">
                AND EXISTS(select u.slide_id from tb_slide_attr u where u.slide_id = s.slide_id and u.attr_type = '1'
                and u.attr_id = #{params.annoUser})
            </if>
            <if test="params.annoCategory!= null">
                AND EXISTS(select c.slide_id from tb_slide_attr c where c.slide_id = s.slide_id and c.attr_type = '2'
                and c.attr_id = #{params.annoCategory})
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.beginTime != null">
                and date_format(s.create_time,'%y%m%d') &gt;= date_format(#{params.createTimeParams.beginTime},'%y%m%d')
            </if>
            <if test="params.createTimeParams != null and params.createTimeParams.endTime != null">
                and date_format(s.create_time,'%y%m%d') &lt;= date_format(#{params.createTimeParams.endTime},'%y%m%d')
            </if>
            <if test="params.updateTimeParams != null and params.updateTimeParams.beginTime != null">
                and date_format(s.update_time,'%y%m%d') &gt;= date_format(#{params.updateTimeParams.beginTime},'%y%m%d')
            </if>
            <if test="params.updateTimeParams != null and params.updateTimeParams.endTime != null">
                and date_format(s.update_time,'%y%m%d') &lt;= date_format(#{params.updateTimeParams.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="pageReviewSlide" parameterType="cn.staitech.anno.project.vo.ReviewSlideIN"
            resultType="cn.staitech.anno.project.vo.ReviewSlideVO">
        select m.image_name,
        m.thumb_url,
        m.format,
        m.width,
        m.height,
        m.resolution_x,
        m.resolution_y,
        m.source_lens,
        m.image_path,
        s.slide_id,
        s.diagnosis,
        s.ai_analyzed,
        s.ai_check,
        case when r.review_count >2 then '2' else '1' end  as review_status,
        r.score,
        s.image_id,
        s.group_name,
        s.gender,
        s.species,
        s.product_series,
        s.dosage,
        s.animal_source,
        s.receiving_week,
        s.dosing_cycle,
        s.recovery_cycle,
        s.date_of_death,
        s.remove_reason,
        s.remark,
        s.organ,
        s.lesion_type1,
        s.lesion_degree1,
        s.lesion_type2,
        s.lesion_degree2,
        s.process_flag,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.topic_id,
        s.topic_name,
        s.status,
        s.delete_flag,
        s.organization_id,
        s.host_id
        from tb_slide s
        left join tb_image m on m.image_id = s.image_id
        left join (select slide_id,count(slide_id) as review_count, group_concat(score separator '-') as score from tb_review t group by t.slide_id) r on s.slide_id = r.slide_id
        <where>
            <if test="params.imageCode != null ">
                AND m.image_name like CONCAT('%',#{params.imageCode},'%')
            </if>
            <if test="params.projectId != null ">
                AND s.project_id = #{params.projectId}
            </if>
            <if test="params.reviewRoundId != null ">
                AND s.review_round_id = #{params.reviewRoundId}
            </if>
            <if test="params.score != null ">
                AND r.score like CONCAT('%',#{params.score},'%')
            </if>
            <if test="params.removeReason != null ">
                AND s.remove_reason like CONCAT('%',#{params.removeReason},'%')
            </if>
            <if test="params.reviewStatus != null">
                <choose>
                    <when test="params.reviewStatus == 1">
                        AND (r.review_count <![CDATA[<]]>3 or r.review_count is null)
                    </when>
                    <otherwise>
                        AND r.review_count >2
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>
</mapper>
