<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.AccessProjectRecordsMapper">
  <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.AccessProjectRecords">
    <id column="records_id" jdbcType="BIGINT" property="recordsId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="access_time" jdbcType="TIMESTAMP" property="accessTime" />
  </resultMap>

  <resultMap id="BaseResult" type="cn.staitech.anno.vo.accessprojectrecords.AccessProjectRecordsOut">
    <result column="num"  property="num" />
    <result column="access_time" property="accessTime" />
  </resultMap>

  <sql id="Base_Column_List">
    records_id, user_id, project_id, access_time
  </sql>

  <!--添加-->
  <insert id="insertSelective" keyColumn="records_id" keyProperty="recordsId" parameterType="cn.staitech.anno.domain.AccessProjectRecords" useGeneratedKeys="true">
    insert into tb_access_project_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
        access_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      sysdate()
    </trim>
  </insert>

  <!--查询-->
  <select id="accessRecords" parameterType="cn.staitech.anno.vo.accessprojectrecords.AccessProjectRecordsIn" resultMap="BaseResult">
    select a.access_time,count(*) as num from (
    select date_format(p.access_time,'%m/%d') as access_time from tb_access_project_records as p
        <where>
          <if test="userId != null">
          AND p.user_id = #{userId}
          </if>
          <if test="timeParams != null">
            <if test="timeParams.beginTime != null and timeParams.beginTime != ''">
              <!-- 开始时间检索 -->
              and date_format(p.access_time,'%y%m%d') &gt;= date_format(#{timeParams.beginTime},'%y%m%d')
            </if>
            <if test="timeParams.endTime != null and timeParams.endTime != ''">
              <!-- 结束时间检索 -->
              and date_format(p.access_time,'%y%m%d') &lt;= date_format(#{timeParams.endTime},'%y%m%d')
            </if>
          </if>
        </where>
    ) as a group by a.access_time
  </select>

  <!--删除-->
  <delete id="delAccessRecords" parameterType="cn.staitech.anno.vo.accessprojectrecords.AccessProjectRecordsIn">
    delete from tb_access_project_records
    <where>
      <if test= "timeParams.beginTime != null and timeParams.beginTime != ''">
      <!-- 开始时间检索 -->
      and date_format(access_time,'%y%m%d') &lt; date_format(#{timeParams.beginTime},'%y%m%d')
        </if>
    </where>
  </delete>



</mapper>