<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.AipreFolderMapper">
  <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.AipreFolder">
    <id column="folder_id" jdbcType="BIGINT" property="folderId" />
    <result column="folder_name" jdbcType="VARCHAR" property="folderName" />
    <result column="folder_size" jdbcType="BIGINT" property="folderSize" />
    <result column="folder_url" jdbcType="VARCHAR" property="folderUrl" />
    <result column="files_id" jdbcType="BIGINT" property="filesId" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    folder_id, folder_name, folder_size, folder_url, files_id, organization_id, create_by, 
    create_time, update_by, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aipre_folder
    where folder_id = #{folderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from aipre_folder
    where folder_id = #{folderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="folder_id" keyProperty="folderId" parameterType="cn.staitech.anno.domain.AipreFolder" useGeneratedKeys="true">
    insert into aipre_folder (folder_name, folder_size, folder_url, 
      files_id, organization_id, create_by, 
      create_time, update_by, update_time, 
      delete_flag)
    values (#{folderName,jdbcType=VARCHAR}, #{folderSize,jdbcType=BIGINT}, #{folderUrl,jdbcType=VARCHAR}, 
      #{filesId,jdbcType=BIGINT}, #{organizationId,jdbcType=BIGINT}, #{createBy,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="folder_id" keyProperty="folderId" parameterType="cn.staitech.anno.domain.AipreFolder" useGeneratedKeys="true">
    insert into aipre_folder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="folderName != null">
        folder_name,
      </if>
      <if test="folderSize != null">
        folder_size,
      </if>
      <if test="folderUrl != null">
        folder_url,
      </if>
      <if test="filesId != null">
        files_id,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="folderName != null">
        #{folderName,jdbcType=VARCHAR},
      </if>
      <if test="folderSize != null">
        #{folderSize,jdbcType=BIGINT},
      </if>
      <if test="folderUrl != null">
        #{folderUrl,jdbcType=VARCHAR},
      </if>
      <if test="filesId != null">
        #{filesId,jdbcType=BIGINT},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.staitech.anno.domain.AipreFolder">
    update aipre_folder
    <set>
      <if test="folderName != null">
        folder_name = #{folderName,jdbcType=VARCHAR},
      </if>
      <if test="folderSize != null">
        folder_size = #{folderSize,jdbcType=BIGINT},
      </if>
      <if test="folderUrl != null">
        folder_url = #{folderUrl,jdbcType=VARCHAR},
      </if>
      <if test="filesId != null">
        files_id = #{filesId,jdbcType=BIGINT},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where folder_id = #{folderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.staitech.anno.domain.AipreFolder">
    update aipre_folder
    set folder_name = #{folderName,jdbcType=VARCHAR},
      folder_size = #{folderSize,jdbcType=BIGINT},
      folder_url = #{folderUrl,jdbcType=VARCHAR},
      files_id = #{filesId,jdbcType=BIGINT},
      organization_id = #{organizationId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=CHAR}
    where folder_id = #{folderId,jdbcType=BIGINT}
  </update>
</mapper>