<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.AirepostMapper">
    <resultMap type="cn.staitech.anno.domain.Airepost" id="AirepostResult">
        <result property="reportUuid" column="report_uuid"/>
        <result property="aiStatus" column="ai_status"/>
        <result property="aiReportJson" column="ai_report_json"/>
        <result property="imageUuidId" column="image_uuid_id"/>
        <result property="projectId" column="project_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="wasteTime" column="waste_time"/>
        <result property="msg" column="msg"/>
        <result property="jsonAddr" column="json_addr"/>
        <result property="taskId" column="task_id"/>
        <result property="graphicsCardModel" column="graphics_card_model"/>
        <result property="serverModel" column="server_model"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="centerX" column="center_x"/>
        <result property="centerY" column="center_y"/>
        <result property="initCenterX" column="init_center_x"/>
        <result property="initCenterY" column="init_center_y"/>
        <result property="rotation" column="rotation"/>
        <result property="level" column="level"/>
        <result property="initLevel" column="init_level"/>
        <result property="primary" column="primary"/>
        <result property="visible" column="visible"/>
        <result property="initVisible" column="init_visible"/>
        <result property="slideId" column="slide_id"/>
        <result property="fileName" column="file_name"/>
    </resultMap>

    <sql id="selectAirepostVo">
        select a.report_uuid,
               a.ai_status,
               a.ai_report_json,
               a.image_uuid_id,
               a.project_id,
               a.start_time,
               a.end_time,
               a.waste_time,
               a.msg,
               a.json_addr,
               a.task_id,
               a.graphics_card_model,
               a.server_model,
               a.width,
               a.height,
               a.center_x,
               a.center_y,
               a.init_center_x,
               a.init_center_y,
               a.rotation,
               a.level,
               a.init_level,
               a.`primary`,
               a.visible,
               a.init_visible,
               s.slide_id,
               i.file_name
        from aipre_airepost a
                 LEFT JOIN aipre_slide_prediction s ON a.image_uuid_id = s.slide_prediction_id
                 LEFT JOIN tb_image i ON s.image_id = i.image_id
    </sql>

    <select id="selectAirepostList" parameterType="cn.staitech.anno.domain.Airepost" resultMap="AirepostResult">
        <include refid="selectAirepostVo"/>
        <where>
            <if test="slideId != null">
                and s.slide_id = #{slideId}
            </if>
            <if test="aiStatus != null  and aiStatus != ''">
                and a.ai_status = #{aiStatus}
            </if>
            <if test="aiReportJson != null  and aiReportJson != ''">
                and a.ai_report_json = #{aiReportJson}
            </if>
            <if test="imageUuidId != null  and imageUuidId != ''">
                and a.image_uuid_id = #{imageUuidId}
            </if>
            <if test="projectId != null  and projectId != ''">
                and a.project_id = #{projectId}
            </if>
            <if test="startTime != null ">
                and a.start_time = #{startTime}
            </if>
            <if test="endTime != null ">
                and a.end_time = #{endTime}
            </if>
            <if test="wasteTime != null ">
                and a.waste_time = #{wasteTime}
            </if>
            <if test="msg != null  and msg != ''">
                and a.msg = #{msg}
            </if>
            <if test="jsonAddr != null  and jsonAddr != ''">
                and a.json_addr = #{jsonAddr}
            </if>
            <if test="taskId != null  and taskId != ''">
                and a.task_id = #{taskId}
            </if>
            <if test="graphicsCardModel != null  and graphicsCardModel != ''">
                and a.graphics_card_model = #{graphicsCardModel}
            </if>
            <if test="serverModel != null  and serverModel != ''">
                and a.server_model = #{serverModel}
            </if>
        </where>
        ORDER BY a.level ASC
    </select>
</mapper>