<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.AlgorithmAssessmentMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.algorithm.AlgorithmAssessment">
        <id column="algorithm_assessment_id" property="algorithmAssessmentId"/>
        <result column="slide_id" property="slideId"/>
        <result column="thumb_url" property="thumbUrl"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="annotation_json_name" property="annotationJsonName"/>
        <result column="annotation_json_url" property="annotationJsonUrl"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="project_id" property="projectId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="category_ids" property="categoryIds"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        algorithm_assessment_id
        , slide_id, thumb_url, category_id, category_name, annotation_json_name, annotation_json_url, create_by, create_time, update_by, update_time, project_id, del_flag, category_ids
    </sql>
</mapper>
