<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ColorMapper">
    <resultMap type="cn.staitech.anno.domain.color.Color" id="ColorResult">
        <result property="colorId" column="color_id"/>
        <result property="rgb" column="rgb"/>
        <result property="hex" column="hex"/>
    </resultMap>
</mapper>
