<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ExaminationMapper">
    <resultMap type="cn.staitech.anno.domain.vo.ExaminationListVO" id="ExaminationResult">
        <result property="slideId" column="slide_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imageId" column="image_id"/>
        <result property="humanAnnotationTotal" column="human_annotation_total"/>
        <result property="processFlag" column="process_flag"/>
        <result property="examinationFlag" column="examination_flag"/>
        <result property="imageName" column="image_name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="imagePath" column="image_path"/>
        <result property="thumbUrl" column="thumb_url"/>
        <result property="projectName" column="project_name"/>
        <result property="indicatorId" column="indicator_id"/>
        <result property="indicatorName" column="indicator_name"/>
        <result property="createBy" column="create_by"/>
        <result property="userName" column="user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectExaminationVo">
        SELECT s.slide_id,
               s.project_id,
               p.project_name,
               s.image_id,
               i.image_name,
               i.image_url,
               i.image_path,
               i.thumb_url,
               s.examination_flag,
               s.human_annotation_total,
               s.create_by,
               s.create_time,
               s.update_by,
               u.user_name,
               s.update_time,
               p.indicator_id,
               pi.indicator_name
        FROM tb_slide s
                 LEFT JOIN tb_image i ON i.image_id = s.image_id
                 LEFT JOIN tb_project p ON p.project_id = s.project_id
                 LEFT JOIN tb_pathological_indicator pi ON pi.indicator_id = p.indicator_id
                 LEFT JOIN sys_user u ON u.user_id = s.update_by
    </sql>

    <!-- 切片提交复核 -->
    <update id="updateExaminationSubmit" parameterType="cn.staitech.anno.domain.vo.ExaminationSubmitVO">
        update tb_slide
        <set>
            <if test="processFlag != null and processFlag != ''">
                process_flag = #{processFlag},
            </if>
            <if test="examinationFlag != null">
                examination_flag = #{examinationFlag},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where slide_id = #{slideId}
    </update>

    <!--查询复核图像列表-->
    <select id="selectExaminationList" parameterType="cn.staitech.anno.domain.vo.ExaminationSelectVO"
            resultMap="ExaminationResult">
        <include refid="selectExaminationVo"/>
        <where>
            s.examination_flag IS NOT NULL
            -- AND s.examination_flag &lt;&gt; 3
            -- AND s.examination_flag &lt;&gt; 4
            <if test="imageName != null and imageName != ''">
                AND i.image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="projectName != null and projectName != ''">
                AND p.project_name like concat('%', #{projectName}, '%')
            </if>
            <if test="userName != null and userName != ''">
                AND u.user_name like concat('%', #{userName}, '%')
            </if>
            <if test="examinationFlag != null ">
                AND s.examination_flag = #{examinationFlag}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(s.update_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(s.update_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        ORDER BY s.update_time DESC
    </select>

    <!--修改复核图像状态-->
    <update id="updateExaminationState" parameterType="cn.staitech.anno.domain.vo.ExaminationStateVO">
        update tb_slide
        <set>
            <if test="examinationFlag != ''">
                examination_flag = #{examinationFlag},
            </if>
            <if test="processFlag != null and processFlag != ''">
                process_flag = #{processFlag}
            </if>
        </set>
        where slide_id = #{slideId}
    </update>
</mapper>