<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ExamineScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.ExamineScore">
        <id column="examine_score_id" property="examineScoreId" />
        <result column="project_id" property="projectId" />
        <result column="slide_number" property="slideNumber" />
        <result column="nick_name" property="nickName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="should_number" property="shouldNumber" />
        <result column="reality_number" property="realityNumber" />
        <result column="algorithm_interval" property="algorithmInterval" />
        <result column="personal_fit" property="personalFit" />
        <result column="exam_results" property="examResults" />
        <result column="operate_status" property="operateStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        examine_score_id, project_id, slide_id, slide_number, nick_name, start_time, end_time, should_number, reality_number, algorithm_interval, personal_fit, exam_results, operate_status, create_time, create_by, update_time, update_by
    </sql>

    <sql id="selectQuestionProject">
        SELECT
            e.nick_name,
            q.image_name,
            q.question_id,
            q.slide_id,
            qp.question_project_id,
            e.start_time,
            e.end_time,
            e.exam_results,
            CASE
                WHEN e.operate_status IS NULL THEN
                    0 ELSE e.operate_status
                END AS operate_status
        FROM
            tb_question_project_rel AS qp
                LEFT JOIN tb_question_bank AS q ON qp.question_id = q.question_id
                LEFT JOIN tb_examine_score AS e ON e.question_project_id = qp.question_project_id
    </sql>

    <select id="selectExaminationBy" parameterType="long" resultType="cn.staitech.anno.domain.examineScore.SelectExaminationListVO">
        <include refid="selectQuestionProject"/>
        where qp.question_project_id = #{questionProjectId}
    </select>


    <select id="selectExaminationList" parameterType="cn.staitech.anno.domain.QuestionBank" resultType="cn.staitech.anno.domain.examineScore.SelectExaminationListVO">
        <include refid="selectQuestionProject"/>
        where #{createBy} in (select user_id from tb_project_member where project_id = #{projectId})
          and qp.project_id = #{projectId}
        <if test="imageName != null and imageName != ''">
            and qp.image_name like concat('%', #{imageName}, '%')
        </if>
    </select>

    <select id="selectLists" parameterType="list" resultType="cn.staitech.anno.domain.examineScore.ExamineScoreExportVO">
        SELECT
            p.project_name,
            e.image_name,
            e.nick_name,
            e.start_time,
            e.end_time,
            e.should_number,
            e.reality_number,
            e.algorithm_interval,
            e.personal_fit,
            CASE
                e.exam_results
                WHEN '1' THEN
                    '通过' ELSE '不通过'
                END
                as exam_results
        FROM
            tb_examine_score AS e
                LEFT JOIN tb_project AS p ON p.project_id = e.project_id
        WHERE
            e.examine_score_id IN
        <foreach item="examineScoreId" collection="examineScoreIdList" separator="," open="(" close=")" index="">
            #{examineScoreId, jdbcType=NUMERIC}
        </foreach>
    </select>


</mapper>
