<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ExaminationLogMapper">
    <resultMap type="cn.staitech.anno.domain.ExaminationLog" id="ExaminationLogResult">
        <result property="slideId" column="slide_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imageId" column="image_id"/>
        <result property="annotationId" column="annotation_id"/>
        <result property="examinationFlag" column="examination_flag"/>
        <result property="examinationType" column="examination_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.vo.ExaminationLogVO" id="ExaminationLogRecord">
        <result property="slideId" column="slide_id"/>
        <result property="examinationFlag" column="examination_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectReviewVo">
        SELECT s.slide_id,
               s.project_id,
               p.project_name,
               s.image_id,
               i.image_name,
               i.image_url,
               i.image_path,
               i.thumb_url,
               s.examination_flag,
               s.human_annotation_total,
               s.create_by,
               s.create_time,
               s.update_by,
               u.user_name,
               s.update_time,
               p.indicator_id,
               pi.indicator_name
        FROM tb_slide s
                 LEFT JOIN tb_image i ON i.image_id = s.image_id
                 LEFT JOIN tb_project p ON p.project_id = s.project_id
                 LEFT JOIN tb_pathological_indicator pi ON pi.indicator_id = p.indicator_id
                 LEFT JOIN sys_user u ON u.user_id = s.update_by
    </sql>

    <!--更新切片审核日志-->
    <insert id="insertExaminationLog" parameterType="cn.staitech.anno.domain.ExaminationLog">
        insert into tb_examination_log (
        <if test="slideId != null and slideId != '' ">slide_id,</if>
        <if test="projectId != null and projectId != '' ">project_id,</if>
        <if test="imageId != null and imageId != '' ">image_id,</if>
        <if test="examinationFlag != null and examinationFlag != '' or examinationFlag == 0 ">examination_flag,</if>
        <if test="createBy != null and createBy != '' ">create_by,</if>
        examination_type,create_time
        )values(
        <if test="slideId != null and slideId != '' ">#{slideId},</if>
        <if test="projectId != null and projectId != '' ">#{projectId},</if>
        <if test="imageId != null and imageId != '' ">#{imageId},</if>
        <if test="examinationFlag != null and examinationFlag != '' or examinationFlag == 0  ">#{examinationFlag},</if>
        <if test="createBy != null and createBy != '' ">#{createBy},</if>
        3,sysdate()
        )
    </insert>

    <!--根据切片id获取数据-->
    <select id="selectBySlideId" parameterType="java.lang.Long" resultMap="ExaminationLogRecord">
        select *
        from tb_examination_log
        where slide_id = #{slideId}
    </select>
</mapper>