<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ImageCsvMapper">
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.ImageCsv">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="imageId" column="image_id" jdbcType="BIGINT"/>
        <result property="imageName" column="image_name" jdbcType="VARCHAR"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="species" column="species" jdbcType="VARCHAR"/>
        <result property="productSeries" column="product_series" jdbcType="VARCHAR"/>
        <result property="dosage" column="dosage" jdbcType="VARCHAR"/>
        <result property="animalSource" column="animal_source" jdbcType="VARCHAR"/>
        <result property="receivingWeek" column="receiving_week" jdbcType="VARCHAR"/>
        <result property="dosingCycle" column="dosing_cycle" jdbcType="VARCHAR"/>
        <result property="recoveryCycle" column="recovery_cycle" jdbcType="VARCHAR"/>
        <result property="dateOfDeath" column="date_of_death" jdbcType="VARCHAR"/>
        <result property="removeReason" column="remove_reason" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="organ" column="organ" jdbcType="VARCHAR"/>
        <result property="lesionType1" column="lesion_type1" jdbcType="VARCHAR"/>
        <result property="lesionDegree1" column="lesion_degree1" jdbcType="VARCHAR"/>
        <result property="lesionType2" column="lesion_type2" jdbcType="VARCHAR"/>
        <result property="lesionDegree2" column="lesion_degree2" jdbcType="VARCHAR"/>
        <result property="processFlag" column="process_flag" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
        <result property="topicName" column="topic_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
        <result property="organizationId" column="organization_id" jdbcType="BIGINT"/>
        <result property="hostId" column="host_id" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,image_id,image_name,
        group_name,gender,species,
        product_series,dosage,animal_source,
        receiving_week,dosing_cycle,recovery_cycle,
        date_of_death,remove_reason,remark,
        organ,lesion_type1,lesion_degree1,
        lesion_type2,lesion_degree2,process_flag,
        create_by,create_time,update_by,
        update_time,topic_id,topic_name,
        status,delete_flag,organization_id,
        host_id
    </sql>
</mapper>
