<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.MarkingGisMapper">




    <select id="stClosestPoint" parameterType="cn.staitech.anno.vo.marking.AnnotationDistance" resultType="cn.staitech.anno.vo.marking.AnnotationDistance">
        SELECT
            st_asgeojson ( st_closestpoint ( st_geomfromgeojson ( #{contourOne} ), st_geomfromgeojson ( #{contourTwo} ) ) ) AS contourOne,
            st_asgeojson ( st_closestpoint ( st_geomfromgeojson ( #{contourTwo} ), st_geomfromgeojson ( #{contourOne} ) ) ) AS contourTwo
    </select>

    <select id="stDistance" parameterType="cn.staitech.anno.vo.marking.AnnotationDistance" resultType="cn.staitech.anno.vo.marking.AnnotationDistance">
        SELECT
            ST_Distance ( st_geomfromgeojson ( #{contourOne} ), st_geomfromgeojson ( #{contourTwo} ) ) AS minDistance
    </select>

    <select id="avgDistance" parameterType="cn.staitech.anno.vo.marking.AnnotationDistance" resultType="cn.staitech.anno.vo.marking.AnnotationDistance">
        WITH polygon1 AS (
            SELECT ST_GeomFromGeoJSON(#{contourOne}) AS geom
        ),
            polygon2 AS (
                 SELECT ST_GeomFromGeoJSON(#{contourTwo}) AS geom
             ),
        <!-- 获取polygon1的所有顶点 -->
            points_polygon1 AS (
                 SELECT (ST_DumpPoints(p1.geom)).geom AS point_geom
        FROM polygon1 p1
            ),
        <!-- 获取polygon2的所有顶点 -->
            points_polygon2 AS (
        SELECT (ST_DumpPoints(p2.geom)).geom AS point_geom
        FROM polygon2 p2
            ),
        <!-- 计算polygon1的每个点到polygon2的最短距离 -->
            distances_1_to_2 AS (
        SELECT
            ST_Distance(points_polygon1.point_geom, p2.geom) AS distance
        FROM
            points_polygon1, polygon2 p2
            ),
        <!-- 计算polygon2的每个点到polygon1的最短距离 -->
            distances_2_to_1 AS (
        SELECT
            ST_Distance(points_polygon2.point_geom, p1.geom) AS distance
        FROM
            points_polygon2, polygon1 p1
            )
        <!-- # 合并两个平均距离计算 -->
        SELECT
            (avg_1_to_2 + avg_2_to_1) / 2 AS meanDistance
        FROM (
                 SELECT
                     AVG(distance) AS avg_1_to_2,
                     (SELECT AVG(distance) FROM distances_2_to_1) AS avg_2_to_1
                 FROM
                     distances_1_to_2
             ) subquery;

    </select>


</mapper>
