<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.MarkingMapper">
    <resultMap type="cn.staitech.anno.domain.marking.Marking" id="markingResult">
        <result property="marking_id" column="marking_id"/>
        <result property="annotation_id" column="annotation_id"/>
        <result property="area" column="area"/>
        <result property="perimeter" column="perimeter"/>
        <result property="description" column="description"/>
        <result property="category_id" column="category_id"/>
        <result property="measure_type" column="measure_type"/>
        <result property="measure_relation" column="measure_relation"/>
        <result property="measure_name" column="measure_name"/>
        <result property="measure_number" column="measure_number"/>
        <result property="radius" column="radius"/>
        <result property="mean_distance" column="mean_distance "/>
        <result property="max_distance" column="max_distance"/>
        <result property="min_distance" column="min_distance"/>
        <result property="inner_angle" column="inner_angle"/>
        <result property="exterior_angle" column="exterior_angle"/>
        <result property="center_point" column="center_point"/>
        <result property="annotation_type" column="annotation_type"/>
        <result property="location_type" column="location_type"/>
        <result property="create_by" column="create_by"/>
        <result property="create_time" column="create_time"/>
        <result property="slide_id" column="slide_id"/>
        <result property="point_count" column="point_count"/>
    </resultMap>


    <resultMap type="cn.staitech.anno.domain.geojson.JsonExport" id="jsonExportResult">
        <result property="topicName" column="topic_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="speciesId" column="species_id"/>
        <result property="organId" column="organ_id"/>
        <result property="indicatorId" column="indicator_id"/>
        <result property="imageShape" column="image_shape"/>
        <result property="imageName" column="image_name"/>
        <result property="format" column="format"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.marking.MarkingSelectListVO" id="markingSelectListVoResult">
        <result property="marking_id" column="marking_id"/>
        <result property="area" column="area"/>
        <result property="perimeter" column="perimeter"/>
        <result property="measure_full_name" column="measure_full_name"/>
        <result property="mean_distance" column="mean_distance "/>
        <result property="max_distance" column="max_distance"/>
        <result property="min_distance" column="min_distance"/>
        <result property="inner_angle" column="inner_angle"/>
        <result property="exterior_angle" column="exterior_angle"/>
        <result property="create_time" column="create_time"/>
        <result property="point_count" column="point_count"/>
    </resultMap>


    <resultMap type="cn.staitech.anno.domain.geojson.Features" id="featuresResult">
        <result property="id" column="annotation_id"/>
        <result property="geometry" column="geometry"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="properties" column="properties"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.geojson.Properties" id="propertiesResult">
        <result property="marking_id" column="marking_id"/>
        <result property="area" column="area"/>
        <result property="perimeter" column="perimeter"/>
        <result property="description" column="description"/>
        <result property="category_id" column="category_id"/>
        <result property="measure_full_name" column="measure_full_name"/>
        <result property="measure_type" column="measure_type"/>
        <result property="label_name" column="label_name"/>
        <result property="label_color" column="label_color"/>
        <result property="annotation_update_owner" column="annotation_update_owner"/>
        <result property="measure_relation" column="measure_relation"/>
        <result property="measure_name" column="measure_name"/>
        <result property="measure_number" column="measure_number"/>
        <result property="number" column="number"/>
        <result property="radius" column="radius"/>
        <result property="mean_distance" column="mean_distance"/>
        <result property="max_distance" column="max_distance"/>
        <result property="min_distance" column="min_distance"/>
        <result property="inner_angle" column="inner_angle"/>
        <result property="exterior_angle" column="exterior_angle"/>
        <result property="center_point" column="center_point"/>
        <result property="annotation_type" column="annotation_type"/>
        <result property="location_type" column="location_type"/>
        <result property="annotation_owner" column="annotation_owner"/>
        <result property="create_time" column="create_time"/>
        <result property="point_count" column="point_count"/>
        <result property="create_by" column="create_by"/>
        <result property="update_by" column="update_by"/>
        <result property="project_id" column="project_id"/>
        <result property="image_id" column="image_id"/>
        <result property="image_url" column="image_url"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.marking.SlideRes" id="slideResult">
        <result property="slideId" column="slide_id"/>
        <result property="imageName" column="image_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.marking.PointCount" id="pointCountResult">
        <result property="category_id" column="category_id"/>
        <result property="point_count" column="point_count"/>
        <result property="label_name" column="category_name"/>
    </resultMap>

    <sql id="selectMarking">
        select marking_id
             , slide_id
             , annotation_id
             , area
             , perimeter
             , measure_full_name
             , measure_type
             , measure_relation
             , measure_name
             , measure_number
             , radius
             , mean_distance
             , max_distance
             , min_distance
             , inner_angle
             , exterior_angle
             , center_point
             , annotation_type
             , location_type
             , create_by
             , create_time
             , point_count
        from tb_marking
    </sql>

    <sql id="selectBy">
        SELECT t.annotation_type,
               t.marking_id,
               t.area,
               t.perimeter,
               t.description,
               t.category_id,
               t.measure_type,
               t.measure_relation,
               t.measure_name,
               t.measure_number,
               t.radius,
               t.mean_distance,
               t.max_distance,
               t.min_distance,
               t.inner_angle,
               t.exterior_angle,
               t.create_by,
               t.create_time,
               t.location_type,
               t.slide_id,
               t.center_point,
               t.point_count,
               t.annotation_owner,
               c.rgb                                                             as label_color,
               c.category_name                                                   as label_name,
               CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name) as measure_full_name,
               t.annotation_owner,
               t.annotation_update_owner,
               t.update_time,
               t.update_by,
               t.image_id,
               t.project_id,
               t.image_url
        FROM tb_marking AS t
                 LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
    </sql>

    <sql id="selectPoint">
        SELECT DISTINCT CONCAT_WS("_", t.measure_name, t1.category_name) as measure_full_name,
                        t.point_count
        FROM tb_marking AS t
                 LEFT JOIN tb_pathological_indicator_category AS t1 ON t.category_id = t1.category_id
    </sql>

    <sql id="selectList">
        SELECT annotation_id,
               geometry,
               JSON_OBJECT(
                       "annotation_type",
                       t.annotation_type,
                       "area",
                       t.area,
                       "perimeter",
                       t.perimeter,
                       "measure_type",
                       t.measure_type,
                       "measure_relation",
                       t.measure_relation,
                       "measure_name",
                       t.measure_name,
                       "measure_number",
                       t.measure_number,
                       "radius",
                       t.radius,
                       "mean_distance",
                       t.mean_distance,
                       "max_distance",
                       t.max_distance,
                       "min_distance",
                       t.min_distance,
                       "inner_angle",
                       t.inner_angle,
                       "exterior_angle",
                       t.exterior_angle,
                       "create_time",
                       DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s'),
                       "center_point",
                       t.center_point,
                       "annotation_owner",
                       cast(t.create_by as char(200)),
                       "label_color",
                       c.rgb,
                       "label_code",
                       c.number,
                       "number",
                       t.number,
                       "label_name",
                       c.category_name,
                       "measure_full_name",
                       CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name)
                   ) AS properties
        FROM tb_marking AS t
                 LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
    </sql>

    <sql id="selectListBy">
        SELECT annotation_id,
               geometry,
               JSON_OBJECT(
                       "annotation_type",
                       t.annotation_type,
                       "marking_id",
                       t.marking_id,
                       "area",
                       t.area,
                       "perimeter",
                       t.perimeter,
                       "description",
                       t.description,
                       "category_id",
                       t.category_id,
                       "measure_type",
                       t.measure_type,
                       "measure_relation",
                       t.measure_relation,
                       "measure_name",
                       t.measure_name,
                       "measure_number",
                       t.measure_number,
                       "radius",
                       t.radius,
                       "mean_distance",
                       t.mean_distance,
                       "max_distance",
                       t.max_distance,
                       "min_distance",
                       t.min_distance,
                       "inner_angle",
                       t.inner_angle,
                       "exterior_angle",
                       t.exterior_angle,
                       "create_by",
                       t.create_by,
                       "create_time",
                       DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s'),
                       "location_type",
                       t.location_type,
                       "slide_id",
                       t.slide_id,
                       "center_point",
                       t.center_point,
                       "point_count",
                       t.point_count,
                       "annotation_owner",
                       t.annotation_owner,
                       "label_color",
                       c.rgb,
                       "label_code",
                       c.number,
                       "number",
                       t.number,
                       "label_name",
                       c.category_name,
                       "measure_full_name",
                       CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name),
                       "image_id",
                       t.image_id,
                       "project_id",
                       t.project_id,
                       "image_url",
                       t.image_url
                   ) AS properties
        FROM tb_marking AS t
                 LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
    </sql>

    <select id="selectListBy" parameterType="long" resultMap="featuresResult">
        <include refid="selectListBy"/>
        where slide_id = #{slideId}
    </select>


    <select id="selectBy" parameterType="string" resultMap="propertiesResult">
        <include refid="selectBy"/>
        where marking_id = #{markingId}
    </select>

    <select id="selectMeasureList" parameterType="long" resultMap="propertiesResult">
        <include refid="selectBy"/>
        where
        t.slide_id = #{slideId}
        AND t.location_type != "Point"
    </select>


    <select id="jsonExportSelect" parameterType="long" resultMap="jsonExportResult">
        SELECT t.topic_name,
               p.project_id,
               p.project_name,
               pi.species_id,
               pi.organ_id,
               i.file_name                       as image_name,
               i.format,
               i.image_url,
               p.indicator_id,
               s.create_time,
               CONCAT_WS(',', i.width, i.height) AS image_shape
        FROM tb_slide AS s
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
                 LEFT JOIN tb_review_round AS re on re.review_round_id = s.review_round_id
                 LEFT JOIN tb_topic AS t ON t.topic_id = re.topic_id
                 LEFT JOIN tb_image AS i ON i.image_id = s.image_id
                 LEFT JOIN tb_pathological_indicator as pi on pi.indicator_id = p.indicator_id
        WHERE s.slide_id = #{slideId}
    </select>

    <select id="reviewJsonExportSelect" parameterType="long" resultMap="jsonExportResult">
        SELECT t.topic_name,
               p.project_id,
               p.project_name,
               pi.species_id,
               pi.organ_id,
               i.file_name                       as image_name,
               i.format,
               i.image_url,
               p.indicator_id,
               s.create_time,
               CONCAT_WS(',', i.width, i.height) AS image_shape
        FROM tb_slide AS s
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
                 LEFT JOIN tb_topic AS t ON t.topic_id = s.topic_id
                 LEFT JOIN tb_image AS i ON i.image_id = s.image_id
                 LEFT JOIN tb_pathological_indicator as pi on pi.indicator_id = p.indicator_id
        WHERE s.slide_id = #{slideId}
    </select>


    <select id="selectLists" parameterType="long" resultMap="featuresResult">
        <include refid="selectList"/>
        where slide_id = #{slideId}
    </select>


    <select id="selectList" parameterType="long" resultMap="markingSelectListVoResult">
        <include refid="selectBy"/>
        where slide_id = #{slideId}
        AND location_type != "Point"
        ORDER BY marking_id DESC
    </select>

    <select id="selectPointCountList" parameterType="long" resultMap="markingSelectListVoResult">
        <include refid="selectPoint"/>
        where slide_id = #{slideId}
        AND location_type = "Point"
    </select>

    <select id="selectSlideList" parameterType="long" resultMap="slideResult">
        SELECT s.slide_id,
               sub.image_name
        FROM tb_special AS spe
                 LEFT JOIN tb_project AS p ON spe.special_id = p.special_id
                 LEFT JOIN tb_slide AS s ON s.project_id = p.project_id
                 LEFT JOIN tb_sub_image AS sub ON s.image_id = sub.image_id
        WHERE spe.special_id = #{specialId}
          AND p.del_flag = 0
          AND s.is_delete = 0
    </select>

    <select id="selectCategoryCountList" parameterType="long" resultMap="pointCountResult">
        SELECT category_id,
               count(marking_id) AS point_count
        FROM tb_marking
        WHERE slide_id = #{slideId}
          AND location_type = "Point"
        GROUP BY category_id
    </select>

    <select id="selectCategoryCount" parameterType="cn.staitech.anno.domain.marking.Marking"
            resultMap="pointCountResult">
        SELECT
        category_id,
        count( marking_id ) AS point_count
        FROM
        tb_marking
        WHERE
        location_type = "Point"
        <if test="slide_id != null">
            AND slide_id = #{slide_id}
        </if>
        <if test="category_id != null">
            AND category_id = #{category_id}
        </if>
    </select>

    <!--    <select id="selectById" parameterType="Long" resultMap="markingResult">-->
    <!--        <include refid="selectMarking"/>-->
    <!--        where marking_id = #{markingId}-->
    <!--    </select>-->

    <!--    <insert id="insert" parameterType="cn.staitech.anno.domain.marking.Marking" useGeneratedKeys="true"-->
    <!--            keyProperty="marking_id">-->
    <!--        insert into tb_marking (-->
    <!--        <if test="annotation_id != null and annotation_id != '' ">annotation_id,</if>-->
    <!--        <if test="area != null and area != '' ">area,</if>-->
    <!--        <if test="perimeter != null and perimeter != '' ">perimeter,</if>-->
    <!--        <if test="description != null and description != ''">description ,</if>-->
    <!--        <if test="category_id != null and category_id != ''">category_id,</if>-->
    <!--        <if test="measure_full_name != null and measure_full_name != '' ">measure_full_name,</if>-->
    <!--        <if test="measure_type != null and measure_type   != '' ">measure_type,</if>-->
    <!--        <if test="measure_relation != null and measure_relation != '' ">measure_relation,</if>-->
    <!--        <if test="measure_name != null and measure_name != ''">measure_name,</if>-->
    <!--        <if test="measure_number != null and measure_number != ''">measure_number,</if>-->
    <!--        <if test="radius != null and radius != ''">radius,</if>-->
    <!--        <if test="mean_distance != null and mean_distance != ''">mean_distance,</if>-->
    <!--        <if test="max_distance != null and max_distance != ''">max_distance,</if>-->
    <!--        <if test="min_distance != null and min_distance != ''">min_distance,</if>-->
    <!--        <if test="inner_angle != null and inner_angle != ''">inner_angle,</if>-->
    <!--        <if test="exterior_angle != null and exterior_angle != ''">exterior_angle,</if>-->
    <!--        <if test="annotation_type != null and annotation_type != ''">annotation_type,</if>-->
    <!--        <if test="center_point != null and center_point != ''">center_point,</if>-->
    <!--        <if test="location_type != null and location_type != ''">location_type,</if>-->
    <!--        <if test="create_by != null and create_by != ''">create_by,</if>-->
    <!--        <if test="slide_id != null and slide_id != ''">slide_id,</if>-->
    <!--        create_time-->
    <!--        )values(-->
    <!--        <if test="annotation_id != null and annotation_id != ''">#{annotation_id},</if>-->
    <!--        <if test="area != null and area != ''">#{area},</if>-->
    <!--        <if test="perimeter != null and perimeter != ''">#{perimeter},</if>-->
    <!--        <if test="description != null and description != ''">#{description},</if>-->
    <!--        <if test="category_id != null and category_id != ''">#{category_id},</if>-->
    <!--        <if test="measure_full_name != null and measure_full_name != ''">#{measure_full_name},</if>-->
    <!--        <if test="measure_type != null and measure_type != ''">#{measure_type},</if>-->
    <!--        <if test="measure_relation != null and measure_relation != ''">#{measure_relation},</if>-->
    <!--        <if test="measure_name != null and measure_name != ''">#{measure_name},</if>-->
    <!--        <if test="measure_number != null and measure_number != ''">#{measure_number},</if>-->
    <!--        <if test="radius != null and radius != ''">#{radius},</if>-->
    <!--        <if test="mean_distance != null and mean_distance != ''">#{mean_distance},</if>-->
    <!--        <if test="max_distance != null and max_distance != ''">#{max_distance},</if>-->
    <!--        <if test="min_distance != null and min_distance != ''">#{min_distance},</if>-->
    <!--        <if test="inner_angle != null and inner_angle != ''">#{inner_angle},</if>-->
    <!--        <if test="exterior_angle != null and exterior_angle != ''">#{exterior_angle},</if>-->
    <!--        <if test="annotation_type != null and annotation_type != ''">#{annotation_type},</if>-->
    <!--        <if test="center_point != null and center_point != ''">#{center_point},</if>-->
    <!--        <if test="location_type != null and location_type != ''">#{location_type},</if>-->
    <!--        <if test="create_by != null and create_by != ''">#{create_by},</if>-->
    <!--        <if test="slide_id != null and slide_id != ''">#{slide_id},</if>-->
    <!--        sysdate()-->
    <!--        )-->
    <!--    </insert>-->

    <insert id="delete" parameterType="java.lang.String">
        delete
        from tb_marking
        where marking_id = #{markingId}
    </insert>

    <!--    <update id="update" parameterType="cn.staitech.anno.domain.marking.Marking" useGeneratedKeys="true"-->
    <!--            keyProperty="marking_id">-->
    <!--        update tb_marking-->
    <!--        <set>-->
    <!--            <if test="area != null and area != ''">area = #{area},</if>-->
    <!--            <if test="perimeter != null and perimeter != ''">perimeter = #{perimeter},</if>-->
    <!--            <if test="description != null">description = #{description},</if>-->
    <!--            <if test="category_id != null">category_id = #{category_id},</if>-->
    <!--            <if test="measure_type != null and measure_type != ''">measure_type = #{measure_type},</if>-->
    <!--            <if test="measure_full_name != null and measure_full_name != ''">measure_full_name = #{measure_full_name},-->
    <!--            </if>-->
    <!--            <if test="measure_relation != null and measure_relation != ''">measure_relation = #{measure_relation},</if>-->
    <!--            <if test="measure_name != null and measure_name != ''">measure_name = #{measure_name},</if>-->
    <!--            <if test="measure_number != null and measure_number != ''">measure_number = #{measure_number},</if>-->
    <!--            <if test="radius != null and radius != ''">radius = #{radius},</if>-->
    <!--            <if test="mean_distance != null and mean_distance != ''">mean_distance = #{mean_distance},</if>-->
    <!--            <if test="max_distance != null and max_distance != ''">max_distance = #{max_distance},</if>-->
    <!--            <if test="min_distance != null and min_distance != ''">min_distance = #{min_distance},</if>-->
    <!--            <if test="inner_angle != null and inner_angle != ''">inner_angle = #{inner_angle},</if>-->
    <!--            <if test="exterior_angle != null and exterior_angle != ''">exterior_angle = #{exterior_angle},</if>-->
    <!--            <if test="annotation_type != null and annotation_type != ''">annotation_type = #{annotation_type},</if>-->
    <!--            <if test="center_point != null and center_point != ''">center_point = #{center_point},</if>-->
    <!--            <if test="location_type != null and location_type != ''">location_type = #{location_type}</if>-->
    <!--        </set>-->
    <!--        where marking_id = #{marking_id}-->
    <!--    </update>-->

    <update id="updatePointCount" parameterType="cn.staitech.anno.domain.marking.Marking" useGeneratedKeys="true"
            keyProperty="marking_id">
        update tb_marking
        <set>
            point_count = #{point_count}
        </set>
        where category_id = #{category_id}
        AND slide_id = #{slide_id}
        AND location_type = 'Point'
    </update>
</mapper>