<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.MarkingMapper">
    <resultMap type="cn.staitech.anno.vo.marking.Marking" id="markingResult">
        <result property="marking_id" column="marking_id"/>
        <result property="annotation_id" column="annotation_id"/>
        <result property="area" column="area"/>
        <result property="perimeter" column="perimeter"/>
        <result property="description" column="description"/>
        <result property="category_id" column="category_id"/>
        <result property="measure_type" column="measure_type"/>
        <result property="measure_relation" column="measure_relation"/>
        <result property="measure_name" column="measure_name"/>
        <result property="measure_number" column="measure_number"/>
        <result property="radius" column="radius"/>
        <result property="mean_distance" column="mean_distance "/>
        <result property="max_distance" column="max_distance"/>
        <result property="min_distance" column="min_distance"/>
        <result property="inner_angle" column="inner_angle"/>
        <result property="exterior_angle" column="exterior_angle"/>
        <result property="center_point" column="center_point"/>
        <result property="annotation_type" column="annotation_type"/>
        <result property="location_type" column="location_type"/>
        <result property="create_by" column="create_by"/>
        <result property="create_time" column="create_time"/>
        <result property="slide_id" column="slide_id"/>
        <result property="point_count" column="point_count"/>
        <result property="geometry" column="geometry" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>


    <resultMap type="cn.staitech.anno.vo.geojson.JsonExport" id="jsonExportResult">
        <result property="topicName" column="topic_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="speciesId" column="species_id"/>
        <result property="organId" column="organ_id"/>
        <result property="indicatorId" column="indicator_id"/>
        <result property="imageShape" column="image_shape"/>
        <result property="imageName" column="image_name"/>
        <result property="format" column="format"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.marking.MarkingSelectListVO" id="markingSelectListVoResult">
        <result property="marking_id" column="marking_id"/>
        <result property="area" column="area"/>
        <result property="perimeter" column="perimeter"/>
        <result property="measure_full_name" column="measure_full_name"/>
        <result property="mean_distance" column="mean_distance "/>
        <result property="max_distance" column="max_distance"/>
        <result property="min_distance" column="min_distance"/>
        <result property="inner_angle" column="inner_angle"/>
        <result property="exterior_angle" column="exterior_angle"/>
        <result property="create_time" column="create_time"/>
        <result property="point_count" column="point_count"/>
    </resultMap>


    <resultMap type="cn.staitech.anno.vo.geojson.Features" id="featuresResult">
        <result property="id" column="annotation_id"/>
        <result property="geometry" column="geometry"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="properties" column="properties"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.geojson.Properties" id="propertiesResult">
        <result property="marking_id" column="marking_id"/>
        <result property="area" column="area"/>
        <result property="perimeter" column="perimeter"/>
        <result property="description" column="description"/>
        <result property="category_id" column="category_id"/>
        <result property="measure_full_name" column="measure_full_name"/>
        <result property="measure_type" column="measure_type"/>
        <result property="label_name" column="label_name"/>
        <result property="label_color" column="label_color"/>
        <result property="annotation_update_owner" column="annotation_update_owner"/>
        <result property="measure_relation" column="measure_relation"/>
        <result property="measure_name" column="measure_name"/>
        <result property="measure_number" column="measure_number"/>
        <result property="number" column="number"/>
        <result property="radius" column="radius"/>
        <result property="mean_distance" column="mean_distance"/>
        <result property="max_distance" column="max_distance"/>
        <result property="min_distance" column="min_distance"/>
        <result property="inner_angle" column="inner_angle"/>
        <result property="exterior_angle" column="exterior_angle"/>
        <result property="center_point" column="center_point"/>
        <result property="annotation_type" column="annotation_type"/>
        <result property="location_type" column="location_type"/>
        <result property="annotation_owner" column="annotation_owner"/>
        <result property="create_time" column="create_time"/>
        <result property="point_count" column="point_count"/>
        <result property="create_by" column="create_by"/>
        <result property="update_by" column="update_by"/>
        <result property="project_id" column="project_id"/>
        <result property="image_id" column="image_id"/>
        <result property="image_url" column="image_url"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.slide.SlideRes" id="slideResult">
        <result property="slideId" column="slide_id"/>
        <result property="imageName" column="image_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.marking.PointCount" id="pointCountResult">
        <result property="category_id" column="category_id"/>
        <result property="point_count" column="point_count"/>
        <result property="label_name" column="category_name"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.MarkMeasure">
        <id column="mark_measure_id" property="mark_measure_id"/>
        <result property="geometry" column="geometry" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="create_by" property="create_by" />
        <result column="category_id" property="category_id" />
    </resultMap>
    
    <resultMap type="cn.staitech.anno.vo.labelprojectstatistics.ProjectLabelOut" id="categoryMarkingNum">
        <result property="projectId" column="project_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="markingNum" column="marking_num"/>
    </resultMap>
    
    <resultMap type="cn.staitech.anno.vo.labelprojectstatistics.ProjectLabelOut" id="categoryImageNum">
        <result property="projectId" column="project_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="imageNum" column="image_num"/>
    </resultMap>
    
    <resultMap type="cn.staitech.anno.vo.labelprojectstatistics.ProjectLabelOut" id="projectMarkingNum">
        <result property="projectId" column="project_id"/>
        <result property="markingNum" column="marking_num"/>
    </resultMap>
    
    <resultMap type="cn.staitech.anno.vo.labelprojectstatistics.ProjectLabelOut" id="projectImageNum">
        <result property="projectId" column="project_id"/>
        <result property="imageNum" column="image_num"/>
    </resultMap>
    
    
    <resultMap type="cn.staitech.anno.project.vo.ImageAnnoStatisticsVO" id="projectAnnoMarkingNum">
        <result property="projectId" column="project_id"/>
        <result property="userId" column="user_id"/>
        <result property="markingNum" column="marking_num"/>
    </resultMap>
    
    <resultMap type="cn.staitech.anno.project.vo.ImageAnnoStatisticsVO" id="projectAnnoImageNum">
        <result property="projectId" column="project_id"/>
        <result property="userId" column="user_id"/>
        <result property="imageCount" column="image_count"/>
    </resultMap>
    
    
    <resultMap type="cn.staitech.anno.domain.MarkingStatistic" id="projectUserLabelMarkingNum">
        <result property="projectId" column="project_id"/>
        <result property="userId" column="user_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="markingNum" column="marking_num"/>
    </resultMap>
    

    <sql id="selectMarking">
        select marking_id
             , slide_id
             , annotation_id
             , area
             , perimeter
             , measure_full_name
             , measure_type
             , measure_relation
             , measure_name
             , measure_number
             , radius
             , mean_distance
             , max_distance
             , min_distance
             , inner_angle
             , exterior_angle
             , center_point
             , annotation_type
             , location_type
             , create_by
             , create_time
             , point_count
        from tb_marking
    </sql>

    <sql id="selectBy">
        SELECT t.annotation_type,
        t.marking_id,
        t.area,
        t.perimeter,
        t.description,
        t.category_id,
        t.measure_type,
        t.measure_relation,
        t.measure_name,
        t.measure_number,
        t.radius,
        t.mean_distance,
        t.max_distance,
        t.min_distance,
        t.inner_angle,
        t.exterior_angle,
        t.create_by,
        t.create_time,
        t.location_type,
        t.slide_id,
        t.center_point,
        t.point_count,
        t.annotation_owner,
        c.rgb as label_color,
        c.category_name as label_name,
        <!-- CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name) as measure_full_name, -->
        c.category_name as measure_full_name,
        t.annotation_owner,
        t.annotation_update_owner,
        t.update_time,
        t.update_by,
        t.image_id,
        t.project_id
        -- t.image_url
        FROM tb_marking AS t
        LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
    </sql>

    <sql id="   selectPoint">
        SELECT DISTINCT CONCAT_WS("_", t.measure_name, t1.category_name) as measure_full_name,
                        t.point_count
        FROM tb_marking AS t
                 LEFT JOIN tb_pathological_indicator_category AS t1 ON t.category_id = t1.category_id
    </sql>

    <sql id="selectList">
        SELECT annotation_id,
        geometry,
        JSON_OBJECT(
        "annotation_type",
        t.annotation_type,
        "area",
        t.area,
        "perimeter",
        t.perimeter,
        "measure_type",
        t.measure_type,
        "measure_relation",
        t.measure_relation,
        "measure_name",
        t.measure_name,
        "measure_number",
        t.measure_number,
        "radius",
        t.radius,
        "mean_distance",
        t.mean_distance,
        "max_distance",
        t.max_distance,
        "min_distance",
        t.min_distance,
        "inner_angle",
        t.inner_angle,
        "exterior_angle",
        t.exterior_angle,
        "create_time",
        DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s'),
        "center_point",
        t.center_point,
        "annotation_owner",
        cast(t.create_by as char(200)),
        "label_color",
        c.rgb,
        "label_code",
        c.number,
        "number",
        t.number,
        "label_name",
        c.category_name,
        "measure_full_name",
        <!--  CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name) -->
        c.category_name
        ) AS properties
        FROM tb_marking AS t
        LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
    </sql>

    <sql id="selectPoint">
        SELECT DISTINCT CONCAT_WS("_", t.measure_name, t1.category_name) as measure_full_name,
                        t.point_count
        FROM tb_marking AS t
                 LEFT JOIN tb_pathological_indicator_category AS t1 ON t.category_id = t1.category_id
    </sql>


    <select id="selectUnionList" parameterType="map" resultMap="markingSelectListVoResult">
        SELECT *
        FROM (SELECT t.marking_id,
        t.create_time,
        t.measure_name,
        t.category_id,
        0 AS point_count,
        t.slide_id,
        t.perimeter,
        t.area,
        t.mean_distance,
        t.max_distance,
        t.min_distance,
        t.radius,
        t.inner_angle,
        t.exterior_angle,
        <!--  CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name) AS measure_full_name, -->
        c.category_name as measure_full_name,
        c.category_name
        FROM tb_marking AS t
        LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
        WHERE t.measure_name != "P"
        AND t.slide_id = #{slideId}
        UNION ALL
        SELECT
        max ( t.marking_id ) AS marking_id, max ( t.create_time ) AS create_time, t.measure_name, t.category_id, sum ( 1
        ) AS point_count, t.slide_id, max ( t.perimeter ) AS perimeter, max ( t.area ) AS area, max ( t.mean_distance )
        AS mean_distance, max ( t.max_distance ) AS max_distance, max ( t.min_distance ) AS min_distance, max ( t.radius
        ) AS radius, max ( t.inner_angle ) AS inner_angle, max ( t.exterior_angle ) AS exterior_angle, CONCAT_WS( "_",
        t.measure_name, c.category_name ) AS measure_full_name, c.category_name
        FROM
        tb_marking AS t
        LEFT JOIN tb_pathological_indicator_category AS c
        ON t.category_id = c.category_id
        WHERE
        measure_name = "P"
        AND slide_id = #{slideId}
        GROUP BY
        t.category_id) AS al
        <if test="measureFullName != null and measureFullName != ''">
            WHERE al.measure_full_name LIKE #{measureFullName}
        </if>
        ORDER BY al.create_time DESC
    </select>

    <sql id="selectListBy">
        SELECT annotation_id,
        geometry,
        JSON_OBJECT(
        "annotation_type",
        t.annotation_type,
        "marking_id",
        t.marking_id,
        "area",
        t.area,
        "perimeter",
        t.perimeter,
        "description",
        t.description,
        "category_id",
        t.category_id,
        "measure_type",
        t.measure_type,
        "measure_relation",
        t.measure_relation,
        "measure_name",
        t.measure_name,
        "measure_number",
        t.measure_number,
        "radius",
        t.radius,
        "mean_distance",
        t.mean_distance,
        "max_distance",
        t.max_distance,
        "min_distance",
        t.min_distance,
        "inner_angle",
        t.inner_angle,
        "exterior_angle",
        t.exterior_angle,
        "create_by",
        t.create_by,
        "create_time",
        DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s'),
        "location_type",
        t.location_type,
        "slide_id",
        t.slide_id,
        "center_point",
        t.center_point,
        "point_count",
        t.point_count,
        "annotation_owner",
        t.annotation_owner,
        "label_color",
        c.rgb,
        "label_code",
        c.number,
        "number",
        t.number,
        "label_name",
        c.category_name,
        "measure_full_name",
        <!-- CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name), -->
        c.category_name,
        "image_id",
        t.image_id,
        "update_by",
        t.update_by,
        "annotation_update_owner",
        t.annotation_update_owner,
        "project_id",
        t.project_id
        -- ,
        -- "image_url",
        -- t.image_url
        ) AS properties
        FROM tb_marking AS t
        LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
    </sql>

    <select id="selectListBy" parameterType="long" resultMap="featuresResult">
        <include refid="selectListBy"/>
        where slide_id = #{slideId}
    </select>

    
    
    <sql id="selectLabelsetList">
        SELECT annotation_id,
        geometry,
        JSON_OBJECT(
        "annotation_type",
        t.annotation_type,
        "marking_id",
        t.marking_id,
        "area",
        t.area,
        "perimeter",
        t.perimeter,
        "description",
        t.description,
        "category_id",
        t.category_id,
        "measure_type",
        t.measure_type,
        "measure_relation",
        t.measure_relation,
        "measure_name",
        t.measure_name,
        "measure_number",
        t.measure_number,
        "radius",
        t.radius,
        "mean_distance",
        t.mean_distance,
        "max_distance",
        t.max_distance,
        "min_distance",
        t.min_distance,
        "inner_angle",
        t.inner_angle,
        "exterior_angle",
        t.exterior_angle,
        "create_by",
        t.create_by,
        "create_time",
        DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s'),
        "location_type",
        t.location_type,
        "slide_id",
        t.slide_id,
        "center_point",
        t.center_point,
        "point_count",
        t.point_count,
        "annotation_owner",
        t.annotation_owner,
        "label_color",
        c.rgb,
        "label_code",
        c.number,
        "number",
        t.number,
        "label_name",
        c.category_name,
        "measure_full_name",
        <!-- CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name), -->
        c.category_name,
        "image_id",
        t.image_id,
        "update_by",
        t.update_by,
        "annotation_update_owner",
        t.annotation_update_owner,
        "project_id",
        t.project_id
        -- ,
        -- "image_url",
        -- t.image_url
        ) AS properties,
		c.structure_id,
		c2.`organization_id`,
		c2.`name`,
		c2.type as structure_type
        FROM tb_marking AS t
        LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
        LEFT JOIN tb_structure AS c2 ON  c.structure_id = c2.structure_id
    </sql>
    
    
    <!-- <select id="selectListMarking" parameterType="map" resultMap="featuresResult">
        <include refid="selectLabelsetList"/>
        where t.slide_id = #{slideId}
        <if test="createBy != null and createBy != ''">
            and t.create_by = #{createBy}
        </if>
        <if test="otherCreateBy != null and otherCreateBy != ''">
            and t.create_by != #{otherCreateBy}
        </if>
        <if test="organizationId != null">
        	and c.organization_id =  #{organizationId}
        </if>
        <if test="roaAndroeAnno != null and roaAndroeAnno.size() >0">  
        	AND c2.type in  
			 <foreach collection="roaAndroeAnno" item="item" separator="," open="("  close=")">
			      #{item}
			 </foreach>			
		</if>
    </select> -->
    
	<select id="selectListMarking" parameterType="map" resultMap="featuresResult">
        SELECT
		        annotation_id,
		        geometry,
		        JSON_OBJECT(
		        "annotation_type",
		        t.annotation_type,
		        "marking_id",
		        t.marking_id,
		        "area",
		        t.area,
		        "perimeter",
		        t.perimeter,
		        "description",
		        t.description,
		        "category_id",
		        t.category_id,
		        "measure_type",
		        t.measure_type,
		        "measure_relation",
		        t.measure_relation,
		        "measure_name",
		        t.measure_name,
		        "measure_number",
		        t.measure_number,
		        "radius",
		        t.radius,
		        "mean_distance",
		        t.mean_distance,
		        "max_distance",
		        t.max_distance,
		        "min_distance",
		        t.min_distance,
		        "inner_angle",
		        t.inner_angle,
		        "exterior_angle",
		        t.exterior_angle,
		        "create_by",
		        t.create_by,
		        "create_time",
		        DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s'),
		        "location_type",
		        t.location_type,
		        "slide_id",
		        t.slide_id,
		        "center_point",
		        t.center_point,
		        "point_count",
		        t.point_count,
		        "annotation_owner",
		        t.annotation_owner,
		        "label_color",
		        c.rgb,
		        "label_code",
		        c.number,
		        "number",
		        t.number,
		        "label_name",
		        c.category_name,
		        "measure_full_name",
		        c.category_name,
		        "image_id",
		        t.image_id,
		        "update_by",
		        t.update_by,
		        "annotation_update_owner",
		        t.annotation_update_owner,
		        "project_id",
		        t.project_id
		        ) AS properties,
				c.structure_id
			 FROM tb_marking AS t
		     LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
        	where t.slide_id = #{slideId}
	        <if test="createBy != null and createBy != ''">
	            and t.create_by = #{createBy}
	        </if>
	        <if test="otherCreateBy != null and otherCreateBy != ''">
	            and t.create_by != #{otherCreateBy}
	        </if>
	        <if test="categoryIds != null and categoryIds.size() >0">
	        	and t.category_id in
	        	<foreach collection="categoryIds" item="item" separator="," open="("  close=")">
				      #{item.categoryId}
				 </foreach>	
	        </if>
    </select>
    
    <select id="getCategoryByMap" parameterType="map" resultType="cn.staitech.anno.domain.PathologicalIndicatorCategory">
		SELECT
			p1.*
		FROM
			( 
			 SELECT t1.category_id, t1.structure_id 
			  FROM tb_pathological_indicator_category t1 
			  WHERE 
			  t1.indicator_id = #{indicatorId}  
			  AND t1.organization_id = #{organizationId}
			  AND t1.del_flag = 0 
            )p1
			LEFT JOIN tb_structure t2 ON p1.structure_id = t2.structure_id
			where t2.organization_id = #{organizationId}
			and t2.type in ('ROA','ROE')
    </select>

    <select id="selectBy" parameterType="string" resultMap="propertiesResult">
        <include refid="selectBy"/>
        where marking_id = #{markingId}
    </select>

    <select id="selectByIds" parameterType="string" resultMap="markingResult">
        select * from tb_marking
        where marking_id = #{markingId}
    </select>

    <select id="selectMeasureList" parameterType="long" resultMap="propertiesResult">
        <include refid="selectBy"/>
        where
        t.slide_id = #{slideId}
        AND t.location_type != "Point"
    </select>


    <select id="jsonExportSelect" parameterType="long" resultMap="jsonExportResult">
        SELECT t.topic_name,
               p.project_id,
               p.project_name,
               pi.species_id,
               pi.organ_id,
               i.file_name                       as image_name,
               i.format,
               i.image_url,
               p.indicator_id,
               s.create_time,
               CONCAT_WS(',', i.width, i.height) AS image_shape
        FROM tb_slide AS s
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
                 LEFT JOIN tb_review_round AS re on re.review_round_id = s.review_round_id
                 LEFT JOIN tb_topic AS t ON t.topic_id = re.topic_id
                 LEFT JOIN tb_image AS i ON i.image_id = s.image_id
                 LEFT JOIN tb_pathological_indicator as pi on pi.indicator_id = p.indicator_id
        WHERE s.slide_id = #{slideId}
    </select>


    <select id="selectCategory" parameterType="long"
            resultType="cn.staitech.anno.domain.PathologicalIndicatorCategory">
        SELECT p.category_id,
               p.structure_id,
               p.category_code
        FROM tb_marking AS m
                 LEFT JOIN tb_pathological_indicator_category AS p ON p.category_id = m.category_id
                 left join tb_structure as s on s.structure_id = p.structure_id
        WHERE m.slide_id = #{slideId}
          AND s.type = "RO"
        GROUP BY p.category_id;
    </select>

    <select id="reviewJsonExportSelect" parameterType="long" resultMap="jsonExportResult">
        SELECT t.topic_name,
               p.project_id,
               p.project_name,
               pi.species_id,
               pi.organ_id,
               i.file_name                       as image_name,
               i.format,
               i.image_url,
               p.indicator_id,
               s.create_time,
               CONCAT_WS(',', i.width, i.height) AS image_shape
        FROM tb_slide AS s
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
                 LEFT JOIN tb_topic AS t ON t.topic_id = s.topic_id
                 LEFT JOIN tb_image AS i ON i.image_id = s.image_id
                 LEFT JOIN tb_pathological_indicator as pi on pi.indicator_id = p.indicator_id
        WHERE s.slide_id = #{slideId}
    </select>


    <select id="selectLists" parameterType="long" resultMap="featuresResult">
        <include refid="selectList"/>
        where slide_id = #{slideId}
    </select>


    <select id="selectFilterCategoryLists" parameterType="map" resultMap="featuresResult">
        <include refid="selectList"/>
        where slide_id = #{slideId}
        <if test="categoryIdList != null and categoryIdList.size() >0 ">
            and c.category_id in
            <foreach item="categoryId" collection="categoryIdList" separator="," open="(" close=")" index="">
                #{categoryId, jdbcType=NUMERIC}
            </foreach>
        </if>
    </select>


    <select id="selectListCount" parameterType="long" resultType="int">
        SELECT count(*) * 1
        FROM tb_marking AS t
        LEFT JOIN tb_pathological_indicator_category AS c ON t.category_id = c.category_id
        where slide_id = #{slideId}
        AND location_type != "Point"
        <if test="measureFullName != null and measureFullName != ''">
            and CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name) LIKE concat('%', #{measureFullName},
            '%')
        </if>
    </select>


    <select id="selectList" parameterType="long" resultMap="markingSelectListVoResult">
        <include refid="selectBy"/>
        where slide_id = #{slideId}
        AND location_type != "Point"
        <if test="measureFullName != null and measureFullName != ''">
            and CONCAT_WS("_", CONCAT(t.measure_name, t.number), c.category_name) LIKE concat('%', #{measureFullName},
            '%')
        </if>
        ORDER BY marking_id DESC
        limit #{pageNum},#{pageSize}
    </select>

    <select id="selectPointCountList" parameterType="map" resultMap="markingSelectListVoResult">
        <include refid="selectPoint"/>
        where slide_id = #{slideId}
        <if test="measureFullName != null and measureFullName != ''">
            AND CONCAT_WS("_", t.measure_name, t1.category_name) LIKE concat('%', #{measureFullName}, '%')
        </if>
        AND location_type = "Point"
    </select>

    <select id="selectCategoryCountList" parameterType="long" resultMap="pointCountResult">
        SELECT category_id,
               count(marking_id) AS point_count
        FROM tb_marking
        WHERE slide_id = #{slideId}
          AND location_type = "Point"
        GROUP BY category_id
    </select>

    <select id="selectCategoryCount" parameterType="cn.staitech.anno.vo.marking.Marking"
            resultMap="pointCountResult">
        SELECT
        category_id,
        count( marking_id ) AS point_count
        FROM
        tb_marking
        WHERE
        location_type = "Point"
        <if test="slide_id != null">
            AND slide_id = #{slide_id}
        </if>
        <if test="category_id != null">
            AND category_id = #{category_id}
        </if>
    </select>


    <insert id="delete" parameterType="java.lang.String">
        delete
        from tb_marking
        where marking_id = #{markingId}
    </insert>


    <update id="updatePointCount" parameterType="cn.staitech.anno.vo.marking.Marking" useGeneratedKeys="true"
            keyProperty="marking_id">
        update tb_marking
        <set>
            point_count = #{point_count}
        </set>
        where category_id = #{category_id}
        AND slide_id = #{slide_id}
        AND location_type = 'Point'
    </update>


    <!-- 标签统计总数 -->
    <select id="selectMarkingStatisticTotal" parameterType="cn.staitech.anno.vo.marking.MarkingStatisticSelectVO"  resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM tb_project_member m
        LEFT JOIN tb_project p ON m.project_id = p.project_id
        LEFT JOIN sys_user u ON m.user_id = u.user_id
        LEFT JOIN tb_pathological_indicator i ON p.indicator_id = i.indicator_id
        LEFT JOIN (
        SELECT DISTINCT category_id,indicator_id,category_name
        FROM tb_pathological_indicator_category
        UNION
        SELECT DISTINCT 0 as category_id,indicator_id,'无属性' as category_name
        FROM tb_pathological_indicator
        WHERE organization_id = #{organizationId}
        ) AS c ON c.indicator_id = i.indicator_id
        WHERE p.project_type = 1
        AND m.organization_id = #{organizationId}
        AND p.organization_id = #{organizationId}
        AND u.organization_id = #{organizationId}
        AND i.organization_id = #{organizationId}
        AND p.project_name IS NOT NULL
        <choose>
            <when test="projectIds != null and projectIds.size() >0 ">
                AND p.project_id IN
                <foreach item="projectId" collection="projectIds" separator="," open="(" close=")" index="">
                    #{projectId, jdbcType=BIGINT}
                </foreach>
            </when>
            <otherwise>
                <if test="userId != null">
                    AND p.project_id IN(
                    SELECT project_id
                    FROM tb_project
                    WHERE organization_id = #{organizationId} AND project_type =1 AND project_id IN(
                    SELECT DISTINCT project_id
                    FROM tb_project_member
                    WHERE user_id = #{userId}
                    )
                    )
                </if>
            </otherwise>
        </choose>
        <if test="createBys != null and createBys.size() >0 ">
            AND m.user_id IN
            <foreach item="createBy" collection="createBys" separator="," open="(" close=")" index="">
                #{createBy, jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="indicatorIds != null and indicatorIds.size() >0 ">
            AND i.indicator_id IN
            <foreach item="indicatorId" collection="indicatorIds" separator="," open="(" close=")" index="">
                #{indicatorId, jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="categoryIds != null and categoryIds.size() >0 ">
            AND c.category_id IN
            <foreach item="categoryId" collection="categoryIds" separator="," open="(" close=")" index="">
                #{categoryId, jdbcType=BIGINT}
            </foreach>
        </if>
    </select>


    <!-- 标签统计
    SELECT m.project_id,p.project_name,m.user_id,u.nick_name,i.indicator_id,i.indicator_name,c.category_id,c.category_name FROM tb_project_member m LEFT JOIN tb_project p ON m.project_id = p.project_id LEFT JOIN sys_user u ON m.user_id = u.user_id LEFT JOIN tb_pathological_indicator i ON p.indicator_id = i.indicator_id LEFT JOIN tb_pathological_indicator_category c ON c.indicator_id = i.indicator_id WHERE p.project_type = 1 AND m.organization_id = 1 AND p.organization_id = 1 AND u.organization_id = 1 AND i.organization_id = 1 AND c.organization_id = 1 AND p.project_name IS NOT NULL AND p.project_id IN ( 119 , 144 , 277 , 304 ) AND m.user_id IN ( 11 ) AND i.indicator_id IN ( 1108 ) AND c.category_id IN ( 1560 )
    -->
    <select id="selectMarkingStatistic" parameterType="cn.staitech.anno.vo.marking.MarkingStatisticSelectVO"
            resultType="cn.staitech.anno.domain.MarkingStatistic">
        SELECT
        m.project_id,p.project_name,m.user_id,u.nick_name,i.indicator_id,i.indicator_name,c.category_id,c.category_name
        FROM tb_project_member m
        LEFT JOIN tb_project p ON m.project_id = p.project_id
        LEFT JOIN sys_user u ON m.user_id = u.user_id
        LEFT JOIN tb_pathological_indicator i ON p.indicator_id = i.indicator_id
        LEFT JOIN (
            SELECT DISTINCT category_id,indicator_id,category_name
            FROM tb_pathological_indicator_category
            UNION
            SELECT DISTINCT 0 as category_id,indicator_id,'无属性' as category_name
            FROM tb_pathological_indicator
            WHERE organization_id = #{organizationId}
        ) AS c ON c.indicator_id = i.indicator_id
        WHERE p.project_type = 1
        AND m.organization_id = #{organizationId}
        AND p.organization_id = #{organizationId}
        AND u.organization_id = #{organizationId}
        AND i.organization_id = #{organizationId}
        AND p.project_name IS NOT NULL
        <choose>
            <when test="projectIds != null and projectIds.size() >0 ">
                AND p.project_id IN
                <foreach item="projectId" collection="projectIds" separator="," open="(" close=")" index="">
                    #{projectId, jdbcType=BIGINT}
                </foreach>
            </when>
            <otherwise>
                <if test="userId != null">
                    AND p.project_id IN(
                        SELECT project_id
                        FROM tb_project
                        WHERE organization_id = #{organizationId} AND project_type =1 AND project_id IN(
                            SELECT DISTINCT project_id
                            FROM tb_project_member
                            WHERE user_id = #{userId}
                        )
                    )
                </if>
            </otherwise>
        </choose>
        <if test="createBys != null and createBys.size() >0 ">
            AND m.user_id IN
            <foreach item="createBy" collection="createBys" separator="," open="(" close=")" index="">
                #{createBy, jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="indicatorIds != null and indicatorIds.size() >0 ">
            AND i.indicator_id IN
            <foreach item="indicatorId" collection="indicatorIds" separator="," open="(" close=")" index="">
                #{indicatorId, jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="categoryIds != null and categoryIds.size() >0 ">
            AND c.category_id IN
            <foreach item="categoryId" collection="categoryIds" separator="," open="(" close=")" index="">
                #{categoryId, jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

    <!--
    标签id  Long category_id
    创建者 Long create_by
    切片id Long slide_id
    更新者 Long update_by
    项目id Long project_id
    机构ID Long organization_id
    -->
    <select id="selectMarkingNum" parameterType="cn.staitech.anno.vo.marking.Marking" resultType="java.lang.Long">
        select count(*) from tb_marking
        <where>
            <if test="category_id != null">
                AND category_id = #{category_id}
            </if>
            <if test="create_by != null">
                AND create_by = #{create_by}
            </if>
            <if test="slide_id != null">
                AND slide_id = #{slide_id}
            </if>
            <if test="update_by != null">
                AND update_by = #{update_by}
            </if>
            <if test="project_id != null">
                AND project_id = #{project_id}
            </if>
            <if test="organization_id != null">
                AND organization_id = #{organization_id}
            </if>
        </where>
    </select>

    <!--ROI查询-->
    <select id="roiMarking" parameterType="cn.staitech.anno.vo.geojson.in.RoiIn" resultMap="markingResult">
        select marking_id,geometry,create_by,category_id from tb_marking
        <where>
            <if test="categoryIds != null and categoryIds.size()>0 ">
                AND category_id in
                <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
            <if test="createBy != null">
                AND create_by = #{createBy}
            </if>
            <if test="slideId != null">
                AND slide_id = #{slideId}
            </if>
        </where>
    </select>

    <!--ROI对measure查询-->
    <select id="roiMeasure" parameterType="cn.staitech.anno.vo.geojson.in.RoiIn" resultMap="BaseResultMap">
        select mark_measure_id,geometry,create_by,category_id from tb_mark_measure
        <where>
            <if test="createBy != null">
                AND create_by = #{createBy}
            </if>
            <if test="slideId != null">
                AND slide_id = #{slideId}
            </if>
        </where>
    </select>

    <!--measure批量删除-->
    <delete id="delMeasure" parameterType="java.util.List">
        delete from tb_mark_measure where mark_measure_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <!-- 标签标注量统计 -->
    <select id="getProjectCategoryMarkingNum" parameterType="java.lang.Long" resultMap="categoryMarkingNum">
         select t.project_id,t.category_id,count(1) marking_num from tb_marking t where t.project_id = #{projectId} GROUP BY t.project_id,t.category_id
    </select>
    
    <!-- 标签图像数量统计 -->
    <select id="getProjectCategoryImageNum" parameterType="java.lang.Long" resultMap="categoryImageNum">
          select t.project_id,t.category_id,count(DISTINCT(t.slide_id)) image_num from tb_marking t where t.project_id = #{projectId} GROUP BY t.project_id,t.category_id
    </select>
    
    <select id="getProjectAnnoMarkingNum" parameterType="java.lang.Long" resultMap="projectAnnoMarkingNum">
          select t.project_id,t.create_by user_id,count(t.annotation_id) marking_num from tb_marking t where t.project_id = #{projectId} GROUP BY t.project_id,t.create_by
    </select>
    
    <select id="getProjectAnnoImageNum" parameterType="java.lang.Long" resultMap="projectAnnoImageNum">
          select t.project_id,t.create_by user_id,count(DISTINCT(t.slide_id)) image_count from tb_marking t where t.project_id = #{projectId} GROUP BY t.project_id,t.create_by
    </select>
    
    
    <select id="getProjectUserLabelMarkingNum" parameterType="java.lang.Long" resultMap="projectUserLabelMarkingNum">
          select t.project_id,t.create_by user_id,t.category_id,count(1) marking_num from tb_marking t where t.project_id = #{projectId} GROUP BY t.project_id,t.create_by,t.category_id
    </select>
    
    <!-- 项目标注量统计 -->
    <select id="getProjectMarkingNum" parameterType="java.lang.Long" resultMap="projectMarkingNum">
         select t.project_id,count(1) marking_num from tb_marking t where t.project_id = #{projectId} GROUP BY t.project_id
    </select>
    
    <!-- 项目图像数量统计 -->
    <select id="getProjectImageNum" parameterType="java.lang.Long" resultMap="projectImageNum">
          select t.project_id,count(DISTINCT(t.slide_id)) image_num from tb_marking t where t.project_id = #{projectId} GROUP BY t.project_id
    </select>
    

</mapper>
