<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.MeasureMapper">
    
    <resultMap type="cn.staitech.anno.domain.Measure" id="MeasureResult">
        <result property="measureId" column="measure_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imageId" column="image_id"/>
        <result property="slideId" column="slide_id"/>
        <result property="maIdA" column="ma_id_a"/>
        <result property="maIdB" column="ma_id_b"/>
        <result property="measureName" column="measure_name"/>
        <result property="measureNum" column="measure_num"/>
        <result property="locationType" column="location_type"/>
        <result property="location" column="location"/>
        <result property="perimeter" column="perimeter"/>
        <result property="area" column="area"/>
        <result property="innerAngle" column="inner_angle"/>
        <result property="exteriorAngle" column="exterior_angle"/>
        <result property="meanDistance" column="mean_distance"/>
        <result property="minDistance" column="min_distance"/>
        <result property="maxDistance" column="max_distance"/>
        <result property="radius" column="radius"/>
        <result property="centerPoint" column="center_point"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="measureType" column="measure_type"/>
    </resultMap>
    
    <resultMap type="cn.staitech.anno.domain.vo.measurevo.MeasureSelectVO" id="MeasureSelectVoResult">
        <result property="measureId" column="measure_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imageId" column="image_id"/>
        <result property="slideId" column="slide_id"/>
        <result property="maIdA" column="ma_id_a"/>
        <result property="maIdB" column="ma_id_b"/>
        <result property="measureName" column="measure_name"/>
        <result property="measureNum" column="measure_num"/>
        <result property="locationType" column="location_type"/>
        <result property="location" column="location"/>
        <result property="perimeter" column="perimeter"/>
        <result property="area" column="area"/>
        <result property="innerAngle" column="inner_angle"/>
        <result property="exteriorAngle" column="exterior_angle"/>
        <result property="meanDistance" column="mean_distance"/>
        <result property="minDistance" column="min_distance"/>
        <result property="maxDistance" column="max_distance"/>
        <result property="radius" column="radius"/>
        <result property="centerPoint" column="center_point"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="userName" column="user_name"/>
        <result property="measureType" column="measure_type"/>
    </resultMap>
    
    
    <resultMap type="cn.staitech.anno.domain.vo.measurevo.MeasureJsonVO" id="MeasureJsonVOResult">
        <result property="measureId" column="measure_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imageId" column="image_id"/>
        <result property="slideId" column="slide_id"/>
        <result property="maIdA" column="ma_id_a"/>
        <result property="maIdB" column="ma_id_b"/>
        <result property="measureName" column="measure_name"/>
        <result property="measureNum" column="measure_num"/>
        <result property="locationType" column="location_type"/>
        <result property="location" column="location"/>
        <result property="perimeter" column="perimeter"/>
        <result property="area" column="area"/>
        <result property="innerAngle" column="inner_angle"/>
        <result property="exteriorAngle" column="exterior_angle"/>
        <result property="meanDistance" column="mean_distance"/>
        <result property="minDistance" column="min_distance"/>
        <result property="maxDistance" column="max_distance"/>
        <result property="radius" column="radius"/>
        <result property="centerPoint" column="center_point"/>
        <result property="createBy" column="create_by"/>
        <result property="measureType" column="measure_type"/>
    </resultMap>
    
    <insert id="insertMeasure" parameterType="cn.staitech.anno.domain.Measure" useGeneratedKeys="true"
        keyProperty="measureId">
        insert into tb_measure (
        <if test="projectId != null and projectId != '' ">project_id,</if>
        <if test="imageId != null and imageId != '' ">image_id,</if>
        <if test="slideId != null and slideId != '' ">slide_id,</if>
        <if test="maIdA != null and maIdA != ''">ma_id_a ,</if>
        <if test="maIdB != null and maIdB != ''">ma_id_b ,</if>
        <if test="measureName != null and measureName != ''">measure_name ,</if>
        <if test="measureNum != null and measureNum != ''">measure_num ,</if>
        <if test="locationType != null and locationType != '' ">location_type,</if>
        <if test="location != null and location != ''">location,</if>
        <if test="perimeter != null and perimeter != ''">perimeter,</if>
        <if test="area != null and area != ''">area,</if>
        <if test="innerAngle != null and innerAngle != ''">inner_angle,</if>
        <if test="exteriorAngle != null and exteriorAngle != ''">exterior_angle,</if>
        <if test="meanDistance != null and meanDistance != ''">mean_distance,</if>
        <if test="minDistance != null and minDistance != ''">min_distance,</if>
        <if test="maxDistance != null and maxDistance != ''">max_distance,</if>
        <if test="centerPoint != null and centerPoint != ''">center_point,</if>
        <if test="radius != null and radius != ''">radius,</if>
        <if test="measureType != null and measureType != ''">measure_type,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="updateBy != null and updateBy != ''">update_by,</if>
        create_time,
        update_time
        )values(
        <if test="projectId != null and projectId != ''">#{projectId},</if>
        <if test="imageId != null and imageId != ''">#{imageId},</if>
        <if test="slideId != null and slideId != ''">#{slideId},</if>
        <if test="maIdA != null and maIdA != ''">#{maIdA},</if>
        <if test="maIdB != null and maIdB != ''">#{maIdB},</if>
        <if test="measureName != null and measureName != ''">#{measureName},</if>
        <if test="measureNum != null and measureNum != ''">#{measureNum},</if>
        <if test="locationType != null and locationType != ''">#{locationType},</if>
        <if test="location != null and location != ''">ST_GEOMFROMTEXT(#{location}),</if>
        <if test="perimeter != null and perimeter != ''">#{perimeter},</if>
        <if test="area != null and area != ''">#{area},</if>
        <if test="innerAngle != null and innerAngle != ''">#{innerAngle},</if>
        <if test="exteriorAngle != null and exteriorAngle != ''">#{exteriorAngle},</if>
        <if test="meanDistance != null and meanDistance != ''">#{meanDistance},</if>
        <if test="minDistance != null and minDistance != ''">#{minDistance},</if>
        <if test="maxDistance != null and maxDistance != ''">#{maxDistance},</if>
        <if test="centerPoint != null and centerPoint != ''">#{centerPoint},</if>
        <if test="radius != null and radius != ''">#{radius},</if>
        <if test="measureType != null and measureType != ''">#{measureType},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
        sysdate(),
        sysdate()
        )
    
    </insert>
    
    
    <select id="selectMeasureBy" resultType="cn.staitech.anno.domain.Measure" resultMap="MeasureSelectVoResult">
        select mea.measure_id
        , mea.project_id
        , mea.image_id
        , mea.slide_id
        , mea.ma_id_a
        , mea.ma_id_b
        , mea.measure_name
        , mea.measure_num
        , mea.location_type
        , ST_ASTEXT(mea.location) as location
        , mea.perimeter
        , mea.area
        , mea.inner_angle
        , mea.exterior_angle
        , mea.mean_distance
        , mea.min_distance
        , mea.max_distance
        , mea.center_point
        , mea.radius
        , mea.measure_type
        , mea.create_by
        , mea.create_time
        , mea.update_by
        , mea.update_time
        , u.user_name
        from tb_measure as mea
        left join sys_user as u on u.user_id = mea.create_by
        where mea.slide_id = #{slideId}
        and mea.create_by = #{createBy}
        <if test="measureType != null">and mea.measure_type = #{measureType}</if>
        <if test="locationType != null">and mea.location_type != #{locationType}</if>
        <if test="orderField != null">
            ORDER BY
            <choose>
                <when test="orderField == 'measure_id'">
                    mea.measure_id ${orderType}
                </when>
                <otherwise>
                    mea.create_time ${orderType}
                </otherwise>
            </choose>
        </if>
    
    </select>
    
    
    <select id="selectMeasureJson" resultType="cn.staitech.anno.domain.vo.measurevo.MeasureJsonVO"
        resultMap="MeasureJsonVOResult">
        select measure_id
        , ma_id_a
        , ma_id_b
        , measure_name
        , measure_num
        , location_type
        , ST_ASTEXT(location) as location
        , perimeter
        , area
        , inner_angle
        , exterior_angle
        , mean_distance
        , min_distance
        , max_distance
        , center_point
        , radius
        , measure_type
        from tb_measure
        where
        slide_id = #{slideId}
        and create_by = #{createBy}
        <if test="measureType != null">and measure_type = #{measureType}</if>
        <if test="locationType != null">and location_type != #{locationType}</if>
        <if test="orderField != null">
            ORDER BY
            <choose>
                <when test="orderField == 'measure_id'">
                    measure_id ${orderType}
                </when>
            </choose>
        </if>
    </select>
    
    <select id="selectMeasureCount" resultType="int">
        select count(*)
        from tb_measure
        where slide_id = #{slideId}
          and create_by = #{createBy}
          and location_type = "Point"
    </select>
    
    
    <insert id="deleteMeasureById" parameterType="java.lang.Long" useGeneratedKeys="true"
        keyProperty="measureId">
        delete
        from tb_measure
        where measure_id = #{measureId}
    </insert>
    
    <update id="updateMeasure" parameterType="cn.staitech.anno.domain.Measure" useGeneratedKeys="true"
        keyProperty="measureId">
        update tb_measure
        <set>
            <if test="maIdA != null and maIdA != ''">ma_id_a = #{maIdA},</if>
            <if test="maIdB != null and maIdB != ''">ma_id_b = #{maIdB},</if>
            <if test="locationType != null and locationType != ''">location_type = #{locationType},</if>
            <if test="location  != null and location != ''">location = ST_GEOMFROMTEXT(#{location}),</if>
            <if test="perimeter != null and perimeter != ''">perimeter = #{perimeter},</if>
            <if test="area != null and area != ''">area = #{area},</if>
            <if test="innerAngle != null and innerAngle != ''">inner_angle = #{innerAngle},</if>
            <if test="exteriorAngle != null and exteriorAngle != ''">exterior_angle = (#{exteriorAngle}),</if>
            <if test="meanDistance != null and meanDistance != ''">mean_distance = #{meanDistance},</if>
            <if test="minDistance != null and minDistance != ''">min_distance = #{minDistance},</if>
            <if test="maxDistance != null and maxDistance != ''">max_distance = #{maxDistance},</if>
            <if test="centerPoint != null and centerPoint != ''">center_point = #{centerPoint},</if>
            <if test="radius != null and radius != ''">radius = #{radius},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where measure_id = #{measureId}
    </update>
    
    <select id="selectMeasureById" resultType="java.lang.Long" resultMap="MeasureResult">
        select mea.measure_id
             , mea.project_id
             , mea.image_id
             , mea.slide_id
             , mea.ma_id_a
             , mea.ma_id_b
             , mea.measure_name
             , mea.measure_num
             , mea.location_type
             , ST_ASTEXT(mea.location) as location
             , mea.perimeter
             , mea.area
             , mea.inner_angle
             , mea.exterior_angle
             , mea.mean_distance
             , mea.min_distance
             , mea.max_distance
             , mea.center_point
             , mea.radius
             , mea.measure_type
             , mea.create_by
             , mea.create_time
             , mea.update_by
             , mea.update_time
        from tb_measure as mea
        where mea.measure_id = #{measureId}
    </select>
    
    <insert id="deleteMeasureBatch" parameterType="cn.staitech.anno.domain.Measure" useGeneratedKeys="true"
        keyProperty="measureId">
        delete
        from tb_measure
        where slide_id = #{slideId}
          and create_by = #{createBy}
    </insert>

</mapper>