<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.domain.Outline">
    <resultMap type="cn.staitech.anno.domain.Outline" id="OutlineMap">
        <result property="outlineId" column="outline_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="imageId" column="image_id" jdbcType="INTEGER"/>
        <result property="slideId" column="slide_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="area" column="area" jdbcType="NUMERIC"/>
        <result property="perimeter" column="perimeter" jdbcType="NUMERIC"/>
        <result property="longAxis" column="long_axis" jdbcType="NUMERIC"/>
        <result property="shortAxis" column="short_axis" jdbcType="NUMERIC"/>
        <result property="geometry" column="geometry"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
