<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.PathologicalTissueMapper">
  <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.PathologicalTissue">
    <id column="tissue_id" jdbcType="BIGINT" property="tissueId" />
    <result column="tissue_name" jdbcType="VARCHAR" property="tissueName" />
    <result column="tissue_name_en" jdbcType="VARCHAR" property="tissueNameEn" />
    <result column="project_type_id" jdbcType="BIGINT" property="projectTypeId" />
  </resultMap>

  <resultMap id="BaseResult" type="cn.staitech.anno.vo.pathologicaltissue.PathologicalTissueVO">
    <id column="tissue_id" jdbcType="BIGINT" property="tissueId" />
    <result column="tissue_name" jdbcType="VARCHAR" property="tissueName" />
    <result column="tissue_name_en" jdbcType="VARCHAR" property="tissueNameEn" />
    <result column="project_type_id" jdbcType="BIGINT" property="projectTypeId" />
  </resultMap>
  <sql id="Base_Column_List">
    tissue_id, tissue_name, tissue_name_en, project_type_id
  </sql>

  <!--查询项目类型下的病理组织-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResult">
    select 
    <include refid="Base_Column_List" />
    from aipre_pathological_tissue
    where project_type_id = #{projectTypeId}
  </select>



</mapper>