<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ProjectMemberMapper">
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.ProjectMember">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
    </resultMap>
    <sql id="Base_Column_List">
        pm
        .
        user_id
        , pm.project_id, u.role_id,pr.role_name,u.user_name,u.nick_name,u.sex,u.phonenumber,u.organization_id,pm.create_by,pm.update_by,pm.create_time,pm.update_time
    </sql>
    <select id="selectByProjectId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_project_member pm
        left join sys_user u on pm.user_id = u.user_id
        left join sys_role pr on u.role_id = pr.role_id
        where pm.project_id = #{ProjectId,jdbcType=BIGINT}
    </select>
    <!--
        <select id="select" parameterType="cn.staitech.anno.domain.ProjectMember" resultMap="BaseResultMap">
            select
            <include refid="Base_Column_List"/>
            from tb_project_member pm
            left join sys_user u on pm.user_id = u.user_id
            left join sys_role pr on u.role_id = pr.role_id
            <where>
                <if test="projectId != null">
                    AND pm.project_id = #{projectId,jdbcType=BIGINT}
                </if>
                <if test="roleId != null">
                    AND u.role_id = #{roleId,jdbcType=BIGINT}
                </if>
                <if test="sex != null">
                    AND u.sex = #{sex,jdbcType=INTEGER}
                </if>
                <if test="userId != null">
                    AND pm.user_id = #{userId,jdbcType=BIGINT}
                </if>
                <if test="organizationId != null">
                    AND pm.organization_id = #{organizationId,jdbcType=BIGINT}
                </if>
                <if test="userName != null and userName != ''">
                    AND u.user_name like concat('%', #{userName}, '%')
                </if>
                <if test="nickName != null and nickName != ''">
                    AND u.nick_name like concat('%', #{nickName}, '%')
                </if>
            </where>
        </select>
    -->


    <!-- 项目用户查询 -->
    <select id="select" parameterType="cn.staitech.anno.domain.ProjectMember" resultMap="BaseResultMap">
        <choose>
            <when test="roleId != null">
                SELECT us.user_name,
                us.nick_name,
                us.user_id,
                us.role_id,
                us.sex,
                us.phonenumber,
                us.organization_id,
                r.role_name
                FROM sys_user_role u
                LEFT JOIN sys_role r ON r.role_id = u.role_id
                LEFT JOIN sys_user us ON us.user_id = u.user_id
                WHERE u.user_id IN (SELECT user_id
                FROM tb_project_member
                WHERE project_id = #{projectId,jdbcType=BIGINT})
                <if test="roleId != null">
                    AND u.role_id = #{roleId,jdbcType=BIGINT}
                </if>
                <if test="sex != null">
                    AND us.sex = #{sex,jdbcType=INTEGER}
                </if>
                <if test="organizationId != null">
                    AND us.organization_id = #{organizationId,jdbcType=BIGINT}
                </if>
                <if test="userName != null and userName != ''">
                    AND us.user_name like concat('%', #{userName}, '%')
                </if>
                <if test="nickName != null and nickName != ''">
                    AND us.nick_name like concat('%', #{nickName}, '%')
                </if>
            </when>
            <otherwise>
                select
                <include refid="Base_Column_List"/>
                from tb_project_member pm
                left join sys_user u on pm.user_id = u.user_id
                left join sys_role pr on u.role_id = pr.role_id
                <where>
                    <if test="projectId != null">
                        AND pm.project_id = #{projectId,jdbcType=BIGINT}
                    </if>
                    <if test="roleId != null">
                        AND u.role_id = #{roleId,jdbcType=BIGINT}
                    </if>
                    <if test="sex != null">
                        AND u.sex = #{sex,jdbcType=INTEGER}
                    </if>
                    <if test="userId != null">
                        AND pm.user_id = #{userId,jdbcType=BIGINT}
                    </if>
                    <if test="organizationId != null">
                        AND pm.organization_id = #{organizationId,jdbcType=BIGINT}
                    </if>
                    <if test="userName != null and userName != ''">
                        AND u.user_name like concat('%', #{userName}, '%')
                    </if>
                    <if test="nickName != null and nickName != ''">
                        AND u.nick_name like concat('%', #{nickName}, '%')
                    </if>
                </where>
            </otherwise>
        </choose>
    </select>

    <select id="selectBy" parameterType="cn.staitech.anno.domain.ProjectMember" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_project_member pm
        left join sys_user u on pm.user_id = u.user_id
        left join sys_role pr on u.role_id = pr.role_id
        <where>
            <if test="projectId != null">
                AND pm.project_id = #{projectId,jdbcType=BIGINT}
            </if>
            <if test="roleId != null">
                AND u.role_id = #{roleId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                AND pm.user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="userName != null and userName != ''">
                AND u.user_name like concat('%', #{userName}, '%')
            </if>
        </where>
    </select>

    <select id="selectUserBy" parameterType="cn.staitech.anno.domain.ProjectMember" resultMap="BaseResultMap">
        select *
        from tb_project_member
        where project_id = #{projectId,jdbcType=BIGINT}
          AND user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_project_member pm
        left join sys_user u on pm.user_id = u.user_id
        left join sys_role pr on u.role_id = pr.role_id
        where pm.user_id = #{UserId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tb_project_member
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>
    <delete id="delete" parameterType="cn.staitech.anno.domain.ProjectMember">
        delete
        from tb_project_member
        where user_id = #{userId,jdbcType=BIGINT}
          and project_id = #{projectId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.staitech.anno.domain.ProjectMember">
        insert into tb_project_member (user_id, project_id, organization_id, create_by, create_time)
        values (#{userId,jdbcType=BIGINT},
                #{projectId,jdbcType=BIGINT},
                #{organizationId,jdbcType=BIGINT},
                #{createBy},
                sysdate())
    </insert>
    <insert id="insertSelective" parameterType="cn.staitech.anno.domain.ProjectMember">
        insert into tb_project_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="createBy != null and createBy != ''">
                create_by,
            </if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null and createBy != ''">
                #{createBy},
            </if>
            sysdate()
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.staitech.anno.domain.ProjectMember">
        update tb_project_member
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.staitech.anno.domain.ProjectMember">
        update tb_project_member
        set project_id  = #{projectId,jdbcType=BIGINT},
            update_by   = #{updateBy},
            update_time = sysdate()
        where user_id = #{userId,jdbcType=BIGINT}
    </update>

    <update id="update" parameterType="cn.staitech.anno.domain.ProjectMember">
        update tb_project_member
        set update_by   = #{updateBy,jdbcType=BIGINT},
            update_time = sysdate()
        where user_id = #{userId,jdbcType=BIGINT}
          and project_id = #{projectId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="cn.staitech.anno.domain.ProjectMember" resultMap="BaseResultMap">
        select distinct user_id
        from tb_project_member
        <where>
        </where>
    </select>

    <select id="selectProject" parameterType="cn.staitech.anno.domain.ProjectMember" resultMap="BaseResultMap">
        select *
        from tb_project_member
        where user_id = #{userId,jdbcType=BIGINT}
          and project_id = #{projectId,jdbcType=BIGINT}
    </select>
    
    <select id="getProjectListByPM" parameterType="cn.staitech.anno.domain.ProjectMember" resultType="cn.staitech.anno.project.vo.SelectProjectVO">
        SELECT
			t2.* 
		FROM
			tb_project t2 
		WHERE
			t2.project_id IN ( SELECT t1.project_id FROM tb_project_member t1 WHERE t1.user_id = #{userId} AND t1.organization_id = #{organizationId} ) 
		AND t2.project_type = '1' 
		AND t2.del_flag = '0'
	
    </select>
    
    <select id="getUserListAll" parameterType="cn.staitech.anno.domain.ProjectMember" resultType="cn.staitech.anno.project.domain.SysUser">
		SELECT
			 DISTINCT(t3.user_id),t3.nick_name,t3.user_name
		FROM
			tb_project_member t2  LEFT JOIN sys_user t3 on t2.user_id = t3.user_id
		WHERE
			t2.project_id IN (
			SELECT
				t1.project_id 
			FROM
				tb_project_member t1 
			WHERE
				t1.user_id = #{userId} 
				AND t1.organization_id = #{organizationId} 
			)
		AND t3.del_flag = '0'	
		ORDER BY t3.user_id
    </select>
    
    <select id="getUserListByProjectId" parameterType="cn.staitech.anno.domain.ProjectMember" resultType="cn.staitech.anno.project.domain.SysUser">
		 SELECT
			DISTINCT(t2.user_id),
			t3.nick_name,
			t3.user_name 
		FROM
			tb_project_member t2
			LEFT JOIN sys_user t3 ON t2.user_id = t3.user_id
		<where>
			<if test="projectIds != null and projectIds.length > 0">
			       AND   t2.project_id IN
			                <foreach collection="projectIds" item="item" separator="," open="("  close=")">
			                    #{item}
			                </foreach>
			</if>
		</where>
    </select>
    
    <select id="getImageCount" parameterType="cn.staitech.anno.project.vo.ProjectMemberQuery" resultType="cn.staitech.anno.project.vo.ImageAnnoStatisticsVO">
    	SELECT
			t1.project_id,
			t2.project_name,
			t1.user_id,
			t3.user_name,
			t3.nick_name,
			t2.`status` ,
			<!-- 状态:1待启动，2进行中，3暂停，4已完成 -->
			case t2.`status`
			 when t2.`status` = 1 then '待启动'
			 when t2.`status` = 2 then '进行中'
			 when t2.`status` = 3 then '暂停'
			 when t2.`status` = 4 then '已完成' 
			else '' end as status_desc
		FROM
			tb_project_member t1
			LEFT JOIN tb_project t2 ON t1.project_id = t2.project_id
			LEFT JOIN sys_user t3 ON t1.user_id = t3.user_id 
		WHERE
			t2.project_type = 1 
			AND t2.del_flag = '0' 
			<if test="projectIds.size() != 0 and projectIds != null ">
			       AND   t1.project_id IN
			                <foreach collection="projectIds" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if>
				<if test="partUsers.size() != 0 and partUsers != null ">
			       AND   t1.user_id IN
			                <foreach collection="partUsers" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if> 
		ORDER BY
			t1.project_id,
			t3.nick_name
    </select>
    
    <select id="getProjectUserAnnoStatistics" parameterType="cn.staitech.anno.project.vo.ProjectMemberQuery" resultType="cn.staitech.anno.project.vo.ProjectUserAnnoStatisticsVO">
    	SELECT
			p1.project_id,
			p1.create_by,
			p1.slide_count image_count,
			p2.anno_count anno_count
		FROM
			(
			SELECT
				t.project_id,
				t.create_by,
				count(
				DISTINCT ( t.slide_id )) slide_count 
			FROM
				tb_marking t
			WHERE	
			    t.project_id IS NOT NULL
				<if test="projectIds.size() != 0 and projectIds != null ">
			       AND   t.project_id IN
			                <foreach collection="projectIds" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if>
				<if test="partUsers.size() != 0 and partUsers != null ">
			       AND   t.create_by IN
			                <foreach collection="partUsers" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if> 
			GROUP BY
				t.project_id,
				t.create_by 
			ORDER BY
				t.project_id,
				t.create_by 
			) p1
			LEFT JOIN (
			SELECT
				t.project_id,
				t.create_by,
				count( t.marking_id ) anno_count 
			FROM
				tb_marking t 
			WHERE
				t.project_id IS NOT NULL
				<if test="projectIds.size() != 0 and projectIds != null ">
			       AND   t.project_id IN
			                <foreach collection="projectIds" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if>
				<if test="partUsers.size() != 0 and partUsers != null ">
			       AND   t.create_by IN
			                <foreach collection="partUsers" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if> 
				
			GROUP BY
				t.project_id,
				t.create_by 
			ORDER BY
				t.project_id,
				t.create_by 
			) p2 ON p1.project_id = p2.project_id 
			AND p1.create_by = p2.create_by 
		ORDER BY
			p1.project_id,
			p1.create_by
    </select>
    
    
    <select id="getProjectUserAnnoStatistics1" parameterType="cn.staitech.anno.project.vo.ProjectMemberQuery" resultType="cn.staitech.anno.project.vo.ProjectUserAnnoStatisticsVO">
			SELECT
				t.project_id,
				t.create_by,
				count(
				DISTINCT ( t.slide_id )) image_count 
			FROM
				tb_marking t
			WHERE	
			    t.project_id IS NOT NULL
				<if test="projectIds.size() != 0 and projectIds != null ">
			       AND   t.project_id IN
			                <foreach collection="projectIds" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if>
				<if test="partUsers.size() != 0 and partUsers != null ">
			       AND   t.create_by IN
			                <foreach collection="partUsers" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if> 
			GROUP BY
				t.project_id,
				t.create_by 
			ORDER BY
				t.project_id,
				t.create_by 
    </select>
    
    
    <select id="getProjectUserAnnoStatistics2" parameterType="cn.staitech.anno.project.vo.ProjectMemberQuery" resultType="cn.staitech.anno.project.vo.ProjectUserAnnoStatisticsVO">
			SELECT
				t.project_id,
				t.create_by,
				count( t.marking_id ) anno_count 
			FROM
				tb_marking t 
			WHERE
				t.project_id IS NOT NULL
				<if test="projectIds.size() != 0 and projectIds != null ">
			       AND   t.project_id IN
			                <foreach collection="projectIds" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if>
				<if test="partUsers.size() != 0 and partUsers != null ">
			       AND   t.create_by IN
			                <foreach collection="partUsers" item="item" open="(" separator="," close=")">
			                    #{item}
			                </foreach>
				</if> 
				
			GROUP BY
				t.project_id,
				t.create_by 
			ORDER BY
				t.project_id,
				t.create_by 
    </select>
</mapper>