<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ProjectExtMapper">
    <resultMap type="cn.staitech.anno.vo.project.ProjectExt" id="ProjectMap">
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="specialId" column="special_id"/>
        <result property="systemCode" column="system_code"/>
        <result property="systemName" column="system_name"/>
        <result property="viscusCode" column="viscus_code"/>
        <result property="viscusName" column="viscus_name"/>
        <result property="slideTotal" column="slide_total"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createName" column="user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="organizationId" column="organization_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id
        , project_name, special_id, system_code, viscus_code, slide_total, del_flag,
        create_by, create_time, update_by, update_time, text_1, text_2,organization_id
    </sql>

    <select id="selectProjectList" parameterType="cn.staitech.anno.vo.project.ProjectExt" resultMap="ProjectMap">
        select
        p.project_id,
        p.project_name,
        p.special_id,
        p.system_code,
        '' system_name,
        p.viscus_code,
        '' viscus_name,
        count(ts.slide_id) slide_total,
        p. del_flag,
        p.create_by,
        u.user_name,
        p.create_time,
        p.update_by,
        p.update_time,
        p. text_1,
        p.text_2
        from tb_project p
        left join sys_user u
        on p.create_by=u.user_id
        AND u.status=0
        left join tb_slide ts
        on ts.project_id=p.project_id
        and ts.is_delete=0
        WHERE p.special_id = #{specialId}
        AND p.del_flag=0
        <if test="createName != null and createName != ''">
            AND u.user_name like concat('%', #{createName}, '%')
        </if>
        <if test="projectName != null and projectName != ''">
            AND p.project_name like concat('%', #{projectName}, '%')
        </if>
        <if test="systemCode != null and systemCode != 0">
            AND p.system_code = #{systemCode}
        </if>
        <if test="viscusCode != null and viscusCode != 0">
            AND p.viscus_code = #{viscusCode}
        </if>
        <if test="beginTime != null ">
            <!-- 开始时间检索 -->
            AND date_format(p.create_time,'%Y-%m-%d') &gt;= date_format(#{beginTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null ">
            <!-- 结束时间检索 -->
            AND date_format(p.create_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
        </if>

        group by p.project_id
        order by p.project_id desc
    </select>

    <select id="selectById" resultMap="ProjectMap">
        select project_id,
               project_name,
               special_id,
               system_code,
               viscus_code,
               slide_total,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               organization_id
        from tb_project
        where project_id = #{projectId}
    </select>

    <insert id="insert" parameterType="cn.staitech.anno.vo.project.ProjectExt" keyProperty="projectId"
            useGeneratedKeys="true">
        insert into tb_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="specialId != null">
                special_id,
            </if>
            <if test="systemCode != null">
                system_code,
            </if>
            <if test="viscusCode != null">
                viscus_code,
            </if>
            <if test="slideTotal != null">
                slide_total,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="specialId != null">
                #{specialId,jdbcType=BIGINT},
            </if>
            <if test="systemCode != null">
                #{systemCode,jdbcType=BIGINT},
            </if>
            <if test="viscusCode != null">
                #{viscusCode,jdbcType=BIGINT},
            </if>
            <if test="slideTotal != null">
                #{slideTotal,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.staitech.anno.vo.project.ProjectExt">
        update tb_project
        <set>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="specialId != null">
                special_id = #{specialId,jdbcType=BIGINT},
            </if>
            <if test="systemCode != null">
                system_code = #{systemCode,jdbcType=BIGINT},
            </if>
            <if test="viscusCode != null">
                viscus_code = #{viscusCode,jdbcType=BIGINT},
            </if>
            <if test="slideTotal != null">
                slide_total = #{slideTotal,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where project_id = #{projectId,jdbcType=BIGINT}
    </update>

    <select id="selectByProject" parameterType="cn.staitech.anno.vo.project.ProjectExt" resultMap="ProjectMap">
        select
        <include refid="Base_Column_List"/>
        from tb_project
        where special_id = #{specialId}
        AND del_flag=0
        <if test="projectName != null and projectName != ''">
            AND project_name = #{projectName}
        </if>
        <if test="viscusCode != null and viscusCode != 0">
            AND viscus_code = #{viscusCode}
        </if>
        <if test="projectId != null and projectId != 0">
            AND project_id != #{projectId}
        </if>
    </select>

    <update id="updateDelFlag">
        update tb_project
        set del_flag=1,
            create_by = #{createBy},
            create_time = now()
        where project_id = #{projectId}
    </update>

    <select id="selectProjectAll" resultType="cn.staitech.anno.vo.project.out.NavigationBarData">
        select project_id projectId, project_name projectName
        from tb_project
        where special_id = #{specialId}
          AND del_flag = 0
        order by project_id desc
    </select>

    <select id="selectCountSlide" resultType="java.lang.Integer">
        select count(0)
        from tb_slide
        where is_delete = 0
          and project_id = #{projectId}
    </select>
    <!--统计项目内切片未完成的数量-->
    <select id="countNotReady" resultType="java.lang.Integer">
        select count(0)
        from tb_slide
        where is_delete = 0
          and ai_analyzed<![CDATA[ <> ]]>2
          and project_id = #{projectId}
    </select>
</mapper>