<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ProjectUserLabelStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.ProjectUserLabelStatistics">
        <id column="project_user_label_statistics_id" property="projectUserLabelStatisticsId" />
        <result column="project_id" property="projectId" />
        <result column="project_name" property="projectName" />
        <result column="anno_user_id" property="annoUserId" />
        <result column="anno_nick_name" property="annoNickName" />
        <result column="indicator_id" property="indicatorId" />
        <result column="indicator_name" property="indicatorName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="marking_num" property="markingNum" />
        <result column="del_flag" property="delFlag" />
        <result column="task_create_time" property="taskCreateTime" />
        <result column="organization_id" property="organizationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        project_user_label_statistics_id, project_id, project_name, anno_user_id, anno_nick_name, indicator_id, indicator_name, category_id, category_name, marking_num, del_flag,organization_id, task_create_time
    </sql>
    
    <select id="getProjectUserLabelStatistics" parameterType="cn.staitech.anno.domain.ProjectUserLabelStatistics"
		resultType="cn.staitech.anno.domain.MarkingStatistic">
		SELECT 
			t.project_user_label_statistics_id,
			 t.project_id, 
			 t.project_name,
			 t.anno_user_id, 
			 t.anno_nick_name nick_name, 
			 t.indicator_id, 
			 t.indicator_name, 
			 t.category_id, 
			 t.category_name, 
			 t.marking_num, 
			 t.del_flag,
			 t.organization_id, 
			 t.task_create_time
		FROM tb_project_user_label_statistics t
		<where>
			<if test="projectIdList != null and projectIdList.size()>0 ">
                AND t.project_id IN
                <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
            <if test="indicatorIdList != null and indicatorIdList.size()>0 ">
                AND t.indicator_id IN
                <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                    #{indicatorId}
                </foreach>
            </if>
            <if test="projectAnnoUseridList != null and projectAnnoUseridList.size()>0 ">
                AND t.anno_user_id IN
                <foreach collection="projectAnnoUseridList" item="annoUserid" open="(" separator="," close=")">
                    #{"annoUserid"}
                </foreach>
            </if>
            <if test="categoryIdList != null and categoryIdList.size()>0 ">
                AND t.category_id IN
                <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if> 
			
			<if test="delFlag != null">
				AND t.del_flag = #{delFlag}
			</if>

			<if test="organizationId != null">
				AND t.organization_id = #{organizationId}
			</if>

		</where>
		 ORDER BY	t.marking_num DESC
	</select>

</mapper>
