<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ProjectStatisticsMapper">
    <resultMap type="cn.staitech.anno.vo.projectstatistics.ProjectInfoOut" id="projectInforResult">
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="indicatorId" column="indicator_id"/>
        <result property="indicatorName" column="indicator_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.projectstatistics.labelingPersonnelOut" id="labelingPersonnelResult">
        <result property="userId" column="user_id"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.projectstatistics.LabelOut" id="labelResult">
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.projectstatistics.ProjectLabelOut" id="projectLabelResult">
        <result property="categoryId" column="category_id"/>
        <result property="createBy" column="create_by"/>
        <result property="categoryName" column="category_name"/>
        <result property="markingNum" column="marking_num"/>
        <result property="imageNum" column="image_num"/>
        <result property="nickName" column="nick_name"/>
        <result property="slideId" column="slide_id"/>
        <result property="num" column="num"/>
        <result property="labelImageNum" column="label_image_num"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.projectstatistics.ProjectImageOut" id="projectImageResult">
        <result property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.projectstatistics.ImageLabelOut" id="imageLabelResult">
        <result property="categoryName" column="category_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="imageName" column="image_name"/>
        <result property="status" column="status"/>
        <result property="markingNum" column="marking_num"/>
    </resultMap>


    <!--当前项目和标签集-->
    <select id="projectInfor" parameterType="java.lang.Long" resultMap="projectInforResult">
        select p.project_name, p.project_id, pi.indicator_name, pi.indicator_id
        from tb_project as p
                 left join tb_pathological_indicator as pi on pi.indicator_id = p.indicator_id
        where p.project_id = #{projectId}
    </select>

    <!--标注人员-->
    <select id="labelingPersonnel" parameterType="java.lang.Long" resultMap="labelingPersonnelResult">
        select u.nick_name, u.user_id
        from tb_project_member as pm
                 left join sys_user as u on u.user_id = pm.user_id
                 left join tb_project as p on p.project_id = pm.project_id
        where p.project_id = #{projectId}
    </select>

    <!--标签-->
    <select id="label" parameterType="java.lang.Long" resultMap="labelResult">
        SELECT pic.category_id, pic.category_name
        FROM `tb_pathological_indicator_category` as pic
                 left join tb_structure as s on s.structure_id = pic.structure_id
                 left join tb_project as p on p.indicator_id = pic.indicator_id
        where s.type = 'RO'
          and p.project_id = #{projectId}
    </select>


    <!--查询项目下的image-->
    <select id="projectImage" parameterType="java.lang.Long" resultMap="projectImageResult">
        select i.image_id, i.image_name
        from tb_image as i
                 left join tb_slide as s on i.image_id = s.image_id
        where s.project_id = #{projectId}
          and s.is_delete = 0
    </select>

    <!--单图标签统计-->
    <select id="imageLabel" parameterType="cn.staitech.anno.vo.projectstatistics.ImageLabelIn"
            resultMap="imageLabelResult">
        SELECT
        m.slide_id,
        m.create_by,
        m.category_id,
        IF(m.category_id=0,"无属性",pic.category_name) as category_name,
        u.nick_name,
        i.file_name as image_name,
        i.image_id,
        s.status,
        count(*) AS marking_num
        FROM
        tb_marking AS m
        LEFT JOIN tb_slide AS s ON s.slide_id = m.slide_id
        LEFT JOIN tb_image AS i ON i.image_id = s.image_id
        left join tb_pathological_indicator_category as pic on pic.category_id=m.category_id
        left join sys_user as u on u.user_id=m.create_by
        <where>
            <if test="projectId != null">
                AND m.project_id =#{projectId}
            </if>
            <if test="imageIds != null and imageIds.size()>0 ">
                AND i.image_id IN
                <foreach collection="imageIds" item="imageId" open="(" separator="," close=")">
                    #{imageId}
                </foreach>
            </if>
            <if test="imageStatus != null and imageStatus.size()>0 ">
                AND s.status IN
                <foreach collection="imageStatus" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="userIds != null and userIds.size()>0 ">
                AND m.create_by IN
                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            <if test="categoryIds != null and categoryIds.size()>0 ">
                AND m.category_id IN
                <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
        </where>
        GROUP BY
        m.create_by,
        m.category_id,
        m.slide_id
        order by marking_num desc
    </select>

    <!--查询多标签统计标注数量-->
    <select id="labelsNumber" parameterType="cn.staitech.anno.vo.projectstatistics.ProjectLabelIn"
            resultMap="projectLabelResult">
        select m.create_by,m.category_id,u.nick_name,IF(m.category_id=0,"无属性",pic.category_name) as
        category_name,count(*) as marking_num,concat(m.create_by,"_",m.category_id) as num from tb_marking as m left
        join sys_user as u on u.user_id=m.create_by left join tb_pathological_indicator_category as pic on
        pic.category_id=m.category_id
        <where>
            <if test="projectId != null">
                AND m.project_id =#{projectId}
            </if>
            <if test="categoryIds != null and categoryIds.size()>0 ">
                AND m.category_id IN
                <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
            <if test="userIds != null and userIds.size()>0 ">
                AND m.create_by IN
                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
        group by m.create_by,m.category_id
    </select>

    <!--多标签统计当前标签标注图像数量-->
    <select id="labelImageNumber" parameterType="java.lang.Long" resultMap="projectLabelResult">
        select create_by,
               category_id,
               count(distinct slide_id)            as label_image_num,
               concat(create_by, "_", category_id) as num
        from tb_marking
        where project_id = #{projectId}
        group by create_by, category_id
    </select>
    
    <!--多标签统计当前项目下每个人的标注图像数量-->
    <select id="getLabelImageNumber" parameterType="java.lang.Long" resultMap="projectLabelResult">
        SELECT
			m.create_by,
			count(DISTINCT( m.slide_id )) as label_image_num 
		FROM
			tb_marking m 
		WHERE
			m.project_id = #{projectId} 
		GROUP BY
			m.create_by
    </select>


</mapper>