<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ProjectGroupMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.projectgroup.ProjectGroup">

        <id column="project_group_id" property="projectGroupId"/>
        <result column="project_id" property="projectId"/>
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="gender" property="gender"/>
        <result column="description" property="description"/>
        <result column="reasons" property="reasons"/>
        <result column="dosage" property="dosage"/>
        <result column="slide_total" property="slideTotal"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="text_1" property="text1"/>
        <result column="text_2" property="text2"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_group_id
        , project_id, group_id, group_name,gender,description,slide_total, del_flag, create_by, create_time, update_by, update_time, text_1, text_2
    </sql>

    <select id="selectProjectGroupList" resultMap="BaseResultMap">
        select pg.project_group_id,
               pg.project_id,
               pg.group_id,
               g.reasons,
               g.dosage,
               g.group_name,
               g.gender,
               g.description,
               (select count(0) from tb_slide sl where sl.group_id=pg.group_id and sl.project_id=pg.project_id and sl.is_delete=0  ) slide_total
        from tb_project_group pg
                 left join
             tb_group g
             on pg.group_id = g.group_id
        where pg.del_flag = '0'
          and pg.project_id = #{projectId}
          and g.reasons=#{reasons}
        order by CAST(SUBSTRING(g.group_name,6)as decimal), g.gender desc
    </select>

    <select id="selectProjectGroupByProjectId" parameterType="java.util.List" resultMap="BaseResultMap">
        select pg.project_group_id,
               pg.project_id,
               pg.group_id,
               g.group_name,
               g.gender,
               g.description,
               g.reasons,
               g.dosage
        from tb_project_group pg
                 left join
             tb_group g
             on pg.group_id = g.group_id
        where pg.del_flag = '0'
        AND  pg.project_id in
        <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
            #{projectId}
        </foreach>
        <if test="groupName != null and groupName != ''">
            AND g.group_name LIKE CONCAT('%',#{groupName},'%')
        </if>
        <if test="reasons != null">
            AND g.reasons = #{reasons}
        </if>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_project_group
        where
        project_group_id = #{projectGroupId}
    </select>

    <update id="updateState">
        update tb_project_group
        set del_flag='1',
            create_by = #{createBy},
            create_time = now()
        where project_group_id = #{projectGroupId}
    </update>

    <update id="updateProjectSlideTotal">
        update tb_project
        set slide_total='2'
        where project_group_id = #{projectGroupId}
    </update>

    <update id="updateGroupSlideTotal">
        update tb_project
        set slide_total='2'
        where project_group_id = #{projectGroupId}
    </update>

    <insert id="insertProjectGroupByGroup" parameterType="cn.staitech.anno.domain.project.ProjectExt">
        insert into tb_project_group(project_id, create_by, create_time, group_id)
        select #{projectId,jdbcType=BIGINT}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, g.group_id
        from tb_group g
        where g.del_flag = 0
        and g.special_id= #{specialId,jdbcType=BIGINT}
    </insert>

    <select id="selectCountSlide" resultType="java.lang.Integer">
        select count(0)
        from tb_slide
        where is_delete = 0
          and project_id = #{projectId}
          and group_id = #{groupId}
    </select>

    <select id="selectProcessSlide" resultType="java.lang.Integer">
        select count(0)
        from tb_slide
        where is_delete = 0
          and process_flag <![CDATA[ <> ]]> 0
          and project_id = #{projectId}
          and group_id = #{groupId}
    </select>

    <update id="updateStateSlide" >
        update tb_slide set is_delete = 1
        where group_id = #{groupId}
        and project_id = #{projectId}
        and   is_delete = 0
    </update>

    <update id="updateDelFlag">
        update tb_project_group
        set del_flag=1,
            create_by = #{createBy},
            create_time = now()
        where project_id = #{projectId}
    </update>

    <select id="selectReasonsList" resultType="java.lang.Integer">
        select g.reasons
        from tb_group g
                 left join tb_project_group pg
                     on g.group_id = pg.group_id
        where pg.project_id=#{projectId}
        and pg.del_flag=0
        group by g.reasons
    </select>

</mapper>