<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ProjectInStatisticsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.staitech.anno.domain.ProjectStatistics">
		<id column="project_statistics_id" property="projectStatisticsId" />
		<result column="project_id" property="projectId" />
		<result column="project_name" property="projectName" />
		<result column="indicator_id" property="indicatorId" />
		<result column="indicator_name" property="indicatorName" />
		<result column="project_status" property="projectStatus" />
		<result column="description" property="description" />
		<result column="project_create_by" property="projectCreateBy" />
		<result column="create_nick_name" property="createNickName" />
		<result column="project_create_time" property="projectCreateTime" />
		<result column="image_num" property="imageNum" />
		<result column="marking_num" property="markingNum" />
		<result column="organization_id" property="organizationId" />
		<result column="del_flag" property="delFlag" />
		<result column="task_create_time" property="taskCreateTime" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		project_statistics_id, project_id, project_name, indicator_id, indicator_name,
		project_status, description, project_create_by, create_nick_name,
		project_create_time, image_num, marking_num, organization_id,
		del_flag, task_create_time
	</sql>

	<select id="getProjectStatistics" parameterType="cn.staitech.anno.domain.ProjectStatistics"
		resultType="cn.staitech.anno.vo.labelprojectstatistics.ProjectLabelOut">
		SELECT 
			t.project_id,
			t.project_name,
			t.indicator_id,
			t.indicator_name,
			t.project_status `status`,
			<!-- 状态:1待启动，2进行中，3暂停，4已完成 -->
			case 
			 when t.`project_status` = 1 then '待启动'
			 when t.`project_status` = 2 then '进行中'
			 when t.`project_status` = 3 then '暂停'
			 when t.`project_status` = 4 then '已完成' 
			else '' end as status_name,
			t.description,
			t.project_create_by,
			t.create_nick_name nick_name,
			t.project_create_time create_time,
			t.image_num, 
			t.marking_num
		FROM tb_project_statistics t
		<where>
			<if test="projectIdList != null and projectIdList.size()>0 ">
                AND t.project_id IN
                <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
            <if test="projectStatusList != null and projectStatusList.size()>0 ">
                AND t.project_status IN
                <foreach collection="projectStatusList" item="projectStatus" open="(" separator="," close=")">
                    #{projectStatus}
                </foreach>
            </if>
            <if test="indicatorIdList != null and indicatorIdList.size()>0 ">
                AND t.indicator_id IN
                <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                    #{indicatorId}
                </foreach>
            </if>
            <if test="projectCreateByList != null and projectCreateByList.size()>0 ">
                AND t.project_create_by IN
                <foreach collection="projectCreateByList" item="projectCreate" open="(" separator="," close=")">
                    #{projectCreate}
                </foreach>
            </if>
            <!-- <if test="categoryIds != null and categoryIds.size()>0 ">
                AND t.category_id IN
                <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if> -->
			
			<if test="description != null and description != ''">
                AND t.description like concat('%', #{description}, '%')
            </if>
			<if test="delFlag != null">
				AND t.del_flag = #{delFlag}
			</if>

			<if test="organizationId != null">
				AND t.organization_id = #{organizationId}
			</if>

			<if test="createTimeParams != null">
				<if
					test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''">
					<!-- 开始时间检索 -->
					AND date_format(t.project_create_time,'%y%m%d') &gt;=
					date_format(#{createTimeParams.beginTime},'%y%m%d')
				</if>
				<if
					test="createTimeParams.endTime != null and createTimeParams.endTime != ''">
					<!-- 结束时间检索 -->
					AND date_format(t.project_create_time,'%y%m%d') &lt;=
					date_format(#{createTimeParams.endTime},'%y%m%d')
				</if>
			</if>
		</where>
		 ORDER BY	t.marking_num DESC
	</select>


</mapper>
