<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.ProjectAnnoStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.ProjectAnnoStatistics">
        <id column="project_anno_statistics_id" property="projectAnnoStatisticsId" />
        <result column="project_id" property="projectId" />
        <result column="project_name" property="projectName" />
        <result column="project_status" property="projectStatus" />
        <result column="anno_user_id" property="annoUserId" />
        <result column="anno_nick_name" property="annoNickName" />
        <result column="image_count" property="imageCount" />
        <result column="marking_num" property="markingNum" />
        <result column="del_flag" property="delFlag" />
        <result column="task_create_time" property="taskCreateTime" />
        <result column="organization_id" property="organizationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        project_anno_statistics_id, project_id, project_name, project_status, anno_user_id, anno_nick_name, image_count, marking_num, del_flag,organization_id, task_create_time
    </sql>
    
    <select id="getProjectAnnoStatistics" parameterType="cn.staitech.anno.domain.ProjectAnnoStatistics"
		resultType="cn.staitech.anno.project.vo.ImageAnnoStatisticsVO">
		SELECT 
			t.project_anno_statistics_id, 
			t.project_id, 
			t.project_name, 
			t.project_status `status`, 
			<!-- 状态:1待启动，2进行中，3暂停，4已完成 -->
			case 
			 when t.`project_status` = 1 then '待启动'
			 when t.`project_status` = 2 then '进行中'
			 when t.`project_status` = 3 then '暂停'
			 when t.`project_status` = 4 then '已完成' 
			else '' end as status_desc,
			t.anno_user_id, 
			t.anno_nick_name nick_name, 
			t.image_count, 
			t.marking_num, 
			t.del_flag,
			t.organization_id,
			t.task_create_time

		FROM tb_project_anno_statistics t
		<where>
			<if test="projectIdList != null and projectIdList.size()>0 ">
                AND t.project_id IN
                <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
            <!-- <if test="projectStatusList != null and projectStatusList.size()>0 ">
                AND t.project_status IN
                <foreach collection="projectStatusList" item="projectStatus" open="(" separator="," close=")">
                    #{"projectStatus"}
                </foreach>
            </if> -->
            <!-- <if test="indicatorIdList != null and indicatorIdList.size()>0 ">
                AND t.indicator_id IN
                <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                    #{indicatorId}
                </foreach>
            </if> -->
             <if test="projectAnnoUseridList != null and projectAnnoUseridList.size()>0 ">
                AND t.anno_user_id IN
                <foreach collection="projectAnnoUseridList" item="annoUserid" open="(" separator="," close=")">
                    #{annoUserid}
                </foreach>
            </if>
            <!-- <if test="categoryIdList != null and categoryIdList.size()>0 ">
                AND t.category_id IN
                <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if> -->
			
			<if test="delFlag != null">
				AND t.del_flag = #{delFlag}
			</if>

			<if test="organizationId != null">
				AND t.organization_id = #{organizationId}
			</if>

		</where>
		 ORDER BY	t.marking_num DESC
	</select>

</mapper>
