<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.QuestionBankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.QuestionBank">
        <id column="question_id" property="questionId"/>
        <result column="slide_id" property="slideId"/>
        <result column="image_id" property="imageId"/>
        <result column="project_id" property="projectId"/>
        <result column="image_code" property="imageCode"/>
        <result column="json_name" property="jsonName"/>
        <result column="size" property="size"/>
        <result column="fitting_interval" property="fittingInterval"/>
        <result column="topic_id" property="topicId"/>
        <result column="organization_id" property="organizationId"/>
        <result column="algorithm_status" property="algorithmStatus"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        question_id
        , slide_id, image_id, project_id, image_code, json_name, size, fitting_interval, create_by, create_time, update_by, update_time
    </sql>


    <select id="selectQuestionList" parameterType="cn.staitech.anno.domain.question.in.GetQuestionListIn"
            resultType="cn.staitech.anno.domain.question.out.GetQuestionListOut">
        select p.project_name projectName,
        tt.topic_name topicName,
        qb.question_id questionId,
        qb.image_code imageCode,
        qb.size as size,
        qb.json_name jsonName,
        o.organization_name organizationName,
        qb.create_time createTime
        from tb_question_bank qb
        left join tb_slide s
        on qb.slide_id = s.slide_id
        left join tb_project p
        on qb.project_id = p.project_id
        left join tb_topic tt
        on qb.topic_id = tt.topic_id
        left join sys_organization o
        on qb.organization_id = o.organization_id
        <where>
            <if test="projectName !=null and projectName ! =''">

                and p.project_name like CONCAT('%',#{projectName},'%')

            </if>

            <if test="imageCode !=null and imageCode ! =''">

                and qb.image_code like CONCAT('%',#{imageCode},'%')

            </if>

            <if test="topicName !=null and topicName ! =''">

                and tt.topic_name like CONCAT('%',#{topicName},'%')

            </if>

            <if test="organizationName !=null and organizationName ! =''">

                and o.organization_name like CONCAT('%',#{organizationName},'%')

            </if>

            <if test="organizationId !=null ">

                and qb.organization_id =#{organizationId}

            </if>
        </where>
        order by qb.create_time desc
    </select>

    <select id="selectProjectList" resultType="cn.staitech.anno.domain.question.out.GetProjectBoxOut"
            parameterType="java.lang.Long">
        select distinct
        qb.project_id projectId,
        p.project_name projectName
        from tb_question_bank qb
        left join tb_project p
        on qb.project_id = p.project_id
        <where>
            <if test="organizationId !=null">
                and qb.organization_id = #{organizationId}
            </if>
        </where>
    </select>
</mapper>
