<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.RecentlyVisitedMapper">

    <resultMap type="cn.staitech.anno.domain.RecentlyVisited" id="RecentlyVisitedResult">
        <result property="recentlyVisitedId" column="recently_visited_id"/>
        <result property="userId" column="user_id"/>
        <result property="slideId" column="slide_id"/>
        <result property="projectId" column="project_id"/>
        <result property="projectType" column="project_type"/>
        <result property="projectName" column="project_name"/>
        <result property="imageName" column="image_name"/>
        <result property="thumbUrl" column="thumb_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectRecentlyVisited">
        select recently_visited_id
             , user_id
             , slide_id
             , project_id
             , project_name
             , project_type
             , image_name
             , thumb_url
             , review_round_id
             , create_time
             , update_time
        from tb_recently_visited
    </sql>


    <sql id="selectBy">
        SELECT s.slide_id,
               s.review_round_id,
               i.image_name,
               i.thumb_url,
               p.project_id,
               p.project_type,
               p.project_name
        FROM tb_slide AS s
                 LEFT JOIN tb_image AS i ON s.image_id = i.image_id
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
    </sql>


    <select id="selectList" parameterType="cn.staitech.anno.domain.RecentlyVisited" resultMap="RecentlyVisitedResult">
        <include refid="selectRecentlyVisited"/>
        where
        <if test="userId != null">
            user_id = #{userId}
        </if>
        <if test="slideId != null">
            AND slide_id = #{slideId}
        </if>
        <if test="projectId != null">
            AND project_id = #{projectId}
        </if>
        order by create_time desc
    </select>

    <select id="selectUpdateIsTrue" parameterType="cn.staitech.anno.domain.RecentlyVisited" resultMap="RecentlyVisitedResult">
        <include refid="selectRecentlyVisited"/>
        where update_time is true
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        ORDER BY update_time desc
    </select>

    <select id="selectQueryBy" parameterType="cn.staitech.anno.domain.RecentlyVisited" resultMap="RecentlyVisitedResult">
        <include refid="selectRecentlyVisited"/>
        where
        <if test="slideId != null">
            slide_id = #{slideId}
        </if>
        <if test="projectId != null">
            AND project_id = #{projectId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
    </select>

    <select id="selectSpecial" parameterType="cn.staitech.anno.domain.RecentlyVisited"
            resultMap="RecentlyVisitedResult">
        <include refid="selectRecentlyVisited"/>
        where update_time is not null
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
    </select>


    <select id="selectMinUpdateTime" parameterType="cn.staitech.anno.domain.RecentlyVisited"
            resultMap="RecentlyVisitedResult">
        SELECT * FROM tb_recently_visited ORDER BY update_time ASC LIMIT 1;
    </select>

    <select id="selectBy" parameterType="Long" resultMap="RecentlyVisitedResult">
        <include refid="selectBy"/>
        where s.slide_id = #{slideId}
    </select>

    <delete id="deleteMinCreateTime" parameterType="cn.staitech.anno.domain.RecentlyVisited">
        delete from tb_recently_visited
        where
        <if test="projectId != null">
            project_id = #{projectId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        order by create_time asc limit 1;
    </delete>

    <delete id="deleteSpecial" parameterType="cn.staitech.anno.domain.RecentlyVisited">
        delete from tb_recently_visited
        where
        <if test="specialId != null">
            special_id = #{specialId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
    </delete>

    <update id="updateTime" parameterType="cn.staitech.anno.domain.RecentlyVisited">
        UPDATE tb_recently_visited
        SET update_time = NULL
        WHERE
        <if test="projectId != null">
            project_id = #{projectId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
    </update>


    <insert id="insert" parameterType="cn.staitech.anno.domain.RecentlyVisited">
        insert into tb_recently_visited (
        <if test="userId != null and userId != 0 ">user_id,</if>
        <if test="slideId != null and slideId != 0 ">slide_id,</if>
        <if test="projectId != null and projectId != 0 ">project_id,</if>
        <if test="projectName != null">project_name,</if>
        <if test="projectType != null">project_type,</if>
        <if test="imageName != null and imageName != ''">image_name,</if>
        <if test="thumbUrl != null and thumbUrl != ''">thumb_url,</if>
        <if test="reviewRoundId != null">review_round_id,</if>
        create_time,
        update_time
        )values(
        <if test="userId != null and userId != 0">#{userId},</if>
        <if test="slideId != null and slideId != ''">#{slideId},</if>
        <if test="projectId != null and projectId != ''">#{projectId},</if>
        <if test="projectName != null">#{projectName},</if>
        <if test="projectType != null">#{projectType},</if>
        <if test="imageName != null and imageName != ''">#{imageName},</if>
        <if test="thumbUrl != null and thumbUrl != ''">#{thumbUrl},</if>
        <if test="reviewRoundId != null">#{reviewRoundId},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="update" parameterType="Long">
        update tb_recently_visited
        <set>
            create_time = sysdate(),
            update_time = sysdate()
        </set>
        where recently_visited_id = #{recentlyVisitedId}
    </update>


</mapper>