<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.SlideAnnotationResultMapper">
    <resultMap type="cn.staitech.anno.domain.SlideAnnotationResult" id="SlideAnnotationResult">
        <result property="slideId" column="slide_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="processFlag" column="process_flag"/>
        <result property="sum" column="sum"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.vo.project.ProjectAnnotationVO" id="ProjectAnnotationVO">
        <result property="projectId" column="project_id"/>
        <result property="sum" column="sum"/>
    </resultMap>

    <sql id="selectVo">
        SELECT *
        FROM `tb_slide_annotation_result`
    </sql>

    <sql id="selectSumVo">
        SELECT COUNT(*) AS sum
        FROM tb_annotation
    </sql>

    <!--通过切片ID、更新者ID、标注类别查询-->
    <select id="selectById" parameterType="java.lang.Long" resultMap="SlideAnnotationResult">
        <include refid="selectVo"/>
        <where>
            <if test="slideId != null and slideId != '' ">
                AND slide_id = #{slideId}
            </if>
            <if test="updateBy != null and updateBy != '' ">
                AND update_by = #{updateBy}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>

            <!--            <choose>-->
            <!--                <when test="categoryId != null and categoryId != '' ">-->
            <!--                    AND category_id = #{categoryId}-->
            <!--                </when>-->
            <!--                <otherwise>-->
            <!--                    AND category_id is null-->
            <!--                </otherwise>-->
            <!--            </choose>-->
        </where>
        order by result_id desc
        limit 1
    </select>

    <!--根据切片ID、更新者ID、标注类别统计标注数量-->
    <select id="selectSum" parameterType="cn.staitech.anno.domain.SlideAnnotationResult" resultType="java.lang.Integer">
        <include refid="selectSumVo">
        </include>
        <where>
            <if test="slideId != null and slideId != '' ">
                AND slide_id = #{slideId}
            </if>
            <if test="updateBy != null and updateBy != '' ">
                AND create_by = #{updateBy}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <!--            <choose>-->
            <!--                <when test="categoryId != null and categoryId != '' ">-->
            <!--                    AND category_id = #{categoryId}-->
            <!--                </when>-->
            <!--                <otherwise>-->
            <!--                    AND category_id is null-->
            <!--                </otherwise>-->
            <!--            </choose>-->
        </where>
    </select>

    <!--根据项目ID统计项目标注数量-->
    <select id="selectProjectHumanAnnotationQuantity" parameterType="java.lang.Long"
            resultMap="ProjectAnnotationVO">
        SELECT
        p.project_id,
        p.project_name,
        SUM( r.sum ) as sum
        FROM
        `tb_slide_annotation_result` r
        LEFT JOIN tb_slide s ON s.slide_id = r.slide_id
        LEFT JOIN tb_project p ON p.project_id = s.project_id
        <where>
            r.category_id != 1
            <if test="projectId != null and projectId != '' ">
                AND p.project_id = #{projectId}
            </if>
        </where>
        GROUP BY
        p.project_id
    </select>

    <!--添加标注-->
    <insert id="insertBatch" parameterType="cn.staitech.anno.domain.SlideAnnotationResult">
        insert into tb_slide_annotation_result (
        <if test="slideId != null and slideId != '' ">
            slide_id,
        </if>
        <if test="categoryId != null ">
            category_id,
        </if>
        update_by,
        <if test="processFlag != null and processFlag != '' ">
            process_flag,
        </if>
        <if test="sum != null and sum != '' ">
            sum,
        </if>
        update_time
        )values(
        <if test="slideId != null and slideId != '' ">
            #{slideId},
        </if>
        <if test="categoryId != null">
            #{categoryId},
        </if>
        #{updateBy},
        <if test="processFlag != null and processFlag != '' ">
            #{processFlag},
        </if>
        <if test="sum != null and sum != '' ">
            #{sum},
        </if>
        sysdate()
        )
    </insert>

    <!--更新标注-->
    <update id="updateBatch" parameterType="cn.staitech.anno.domain.SlideAnnotationResult">
        update tb_slide_annotation_result
        <set>
            <if test="sum != null">
                sum = #{sum},
            </if>
            <if test="processFlag != null and processFlag != ''">
                process_flag = #{processFlag},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        <where>
            <if test="slideId != null and slideId != '' ">
                AND slide_id = #{slideId}
            </if>
            <if test="updateBy != null and updateBy != '' ">
                AND update_by = #{updateBy}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <!--            <choose>-->
            <!--                <when test="categoryId != null and categoryId != '' ">-->
            <!--                    AND category_id = #{categoryId}-->
            <!--                </when>-->
            <!--                <otherwise>-->
            <!--                    AND category_id is null-->
            <!--                </otherwise>-->
            <!--            </choose>-->
        </where>
    </update>

    <!--通过切片ID统计人工标注数-->
    <select id="selectSumBySlideId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT
        SUM( sum )
        FROM
        `tb_slide_annotation_result`
        WHERE
        category_id !=1
        <if test="slideId != null and slideId != '' ">
            AND slide_id = #{slideId}
        </if>
    </select>

    <select id="selectCategoryNum" parameterType="java.lang.Long" resultMap="SlideAnnotationResult">
        select category_id, sum(sum) as sum
        from tb_slide_annotation_result
        where slide_id=#{slideId}
        GROUP BY category_id
        order by sum desc
    </select>

    <select id="selectUpdateBy" parameterType="cn.staitech.anno.vo.project.ProjectInForImageVO"
            resultMap="SlideAnnotationResult">
        select DISTINCT a.update_by,sum(a.sum) as sum from tb_slide_annotation_result as a left join tb_slide as s
        on a.slide_id=s.slide_id
        <where>
            <if test="projectId != null and projectId != '' ">
                AND s.project_id = #{projectId}
            </if>
            <if test="slideId != null and slideId != '' ">
                AND s.slide_id = #{slideId}
            </if>
            and a.update_by!=0
        </where>
        group by update_by order by sum desc
    </select>

    <select id="selectAnnotationNum" parameterType="cn.staitech.anno.vo.project.ProjectInForImageVO"
            resultMap="SlideAnnotationResult">
        select distinct r.update_by,sum(r.sum) as sum from tb_slide as s left join tb_image as i on
        s.image_id=i.image_id left join
        tb_slide_annotation_result as r on s.slide_id=r.slide_id
        <where>
            <if test="projectId != null and projectId != '' ">
                AND s.project_id = #{projectId}
            </if>
            <if test="processFlag != null and processFlag != '' ">
                AND s.process_flag = #{processFlag}
            </if>
            <if test="imageName != null and imageName != '' ">
                AND i.image_name = #{imageName}
            </if>
            <if test="slideId != null and slideId != '' ">
                AND s.slide_id = #{slideId}
            </if>
        </where>
        GROUP BY r.update_by
    </select>
</mapper>