<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.SlideMapper">
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.Slide">
        <id column="slide_id" jdbcType="BIGINT" property="slideId"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="image_id" jdbcType="INTEGER" property="imageId"/>
        <result column="human_annotation_total" jdbcType="INTEGER" property="humanAnnotationTotal"/>
        <result column="algorithm_annotation_total" jdbcType="INTEGER" property="algorithmAnnotationTotal"/>
        <result column="examination_slide_total" jdbcType="INTEGER" property="examinationSlideTotal"/>
        <result column="process_flag" jdbcType="INTEGER" property="processFlag"/>
        <result column="examination_flag" jdbcType="INTEGER" property="examinationFlag"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="ai_check" jdbcType="INTEGER" property="aiCheck"/>
        <result column="ai_analyzed" jdbcType="INTEGER" property="aiAnalyzed"/>
        <result column="diagnosis" jdbcType="INTEGER" property="diagnosis"/>
        <result column="geojson_url" jdbcType="VARCHAR" property="geojsonUrl"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="round_id" jdbcType="BIGINT" property="roundId"/>
        <result column="review_round_id" jdbcType="BIGINT" property="reviewRoundId"/>
        <result column="topic_id" jdbcType="BIGINT" property="topicId"/>
        <result column="image_csv_id" jdbcType="BIGINT" property="imageCsvId"/>
    </resultMap>
    <sql id="Base_Column_List">
        slide_id,
        project_id,
        image_id,
        human_annotation_total,
        algorithm_annotation_total,
        examination_slide_total,
        process_flag,
        examination_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        description,
        group_id,
        is_delete,
        ai_check,
        ai_analyzed,
        diagnosis,
        geojson_url,
        remark,
        `status`,
        round_id,
        review_round_id,
        topic_id,
        image_csv_id
    </sql>

    <resultMap type="cn.staitech.anno.domain.Slide" id="SlideResult">
        <result property="slideId" column="slide_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imageId" column="image_id"/>
        <result property="humanAnnotationTotal" column="human_annotation_total"/>
        <result property="algorithmAnnotationTotal" column="algorithm_annotation_total"/>
        <result property="examinationSlideTotal" column="examination_slide_total"/>
        <result property="processFlag" column="process_flag"/>
        <result property="examinationFlag" column="examination_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.vo.statistic.StatisticSlideListOutVO" id="statisticSlideResult">
        <result property="slideId" column="slide_id"/>
        <result property="slideName" column="image_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.vo.ProjectListOutVO" id="projectSlideResult">
        <result property="slideId" column="slide_id"/>
        <result property="imageName" column="image_name"/>
        <result property="thumbUrl" column="thumb_url"/>
        <result property="processFlag" column="process_flag"/>
        <result property="description" column="description"/>
        <result property="humanAnnotationTotal" column="human_annotation_total"/>
        <result property="imageId" column="image_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="size" column="size"/>
    </resultMap>

    <sql id="selectByIdVo">
        SELECT slide_id,
               project_id,
               image_id,
               human_annotation_total,
               examination_flag,
               process_flag
        FROM tb_slide
    </sql>


    <!--通过项目ID列表查询图像列表-->
    <select id="selectSlideListByProjectIdList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticSlideListInVO"
            resultMap="statisticSlideResult">
        select s.slide_id, i.image_name, p.project_id, p.project_name
        from tb_slide as s
                 inner join tb_project as p on s.project_id = p.project_id
                 inner join tb_image as i on s.image_id = i.image_id
        <where>
            <if test="projectIdList.size() != 0 and projectIdList != null">
                AND s.project_id in
                <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
            <if test="organizationId != null and organizationId != 0">
                and p.organization_id = #{organizationId}
            </if>
        </where>
        order by p.project_id desc, s.slide_id desc
    </select>

    <!--更新切片表人工标注数及标注状态-->
    <update id="updateSlideHumanAnnotationQuantity" parameterType="cn.staitech.anno.domain.vo.ExaminationListVO">
        update tb_slide
        <set>
            <if test="humanAnnotationTotal != null">
                human_annotation_total = #{humanAnnotationTotal},
            </if>
            <if test="processFlag != null">
                process_flag = #{processFlag},
            </if>
        </set>
        where slide_id = #{slideId}
    </update>

    <resultMap type="cn.staitech.anno.domain.Image" id="ImageResult">
        <result property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="imagePath" column="image_path"/>
        <result property="thumbUrl" column="thumb_url"/>
        <result property="macroUrl" column="macro_url"/>
        <result property="labelUrl" column="label_url"/>
        <result property="format" column="format"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="depth" column="depth"/>
        <result property="size" column="size"/>
        <result property="globalSize" column="global_size"/>
        <result property="resolvingPower" column="resolving_power"/>
        <result property="tileCountList" column="tile_count_list"/>
        <result property="levelCount" column="level_count"/>
        <result property="chunkTotal" column="chunk_total"/>
        <result property="md5" column="md5"/>
        <result property="resolutionX" column="resolution_x"/>
        <result property="resolutionY" column="resolution_y"/>
        <result property="sourceLens" column="source_lens"/>
        <result property="processFlag" column="process_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.Project" id="ProjectResult">
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.marking.SlideRes" id="slideResult">
        <result property="slideId" column="slide_id"/>
        <result property="imageName" column="image_name"/>
    </resultMap>

    <resultMap id="SlideFileNameResultMap" type="cn.staitech.anno.domain.vo.file.SlideFileName">
        <id column="topic_name" jdbcType="BIGINT" property="topicName"/>
        <result column="image_name" jdbcType="BIGINT" property="imageName"/>
        <result column="slide_type" jdbcType="VARCHAR" property="slideType"/>
        <result column="category_number" jdbcType="INTEGER" property="categoryNumber"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_slide
        where slide_id = #{slideId,jdbcType=BIGINT}
    </select>

    <select id="selectReview" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_slide
        where slide_id = #{slideId,jdbcType=BIGINT}
    </select>


    <select id="slideReviewFileName" parameterType="java.lang.Long" resultMap="SlideFileNameResultMap">
        SELECT t.topic_name,
               i.image_name,
               CONCAT(p.project_type, r.round_id)      AS slide_type,
               group_concat(cate.number SEPARATOR "-") AS category_number
        FROM tb_slide AS s
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
                 LEFT JOIN tb_review_round AS re on re.review_round_id = s.review_round_id
                 LEFT JOIN tb_topic AS t ON t.topic_id = re.topic_id
                 LEFT JOIN tb_image AS i ON i.image_id = s.image_id
                 LEFT JOIN tb_pathological_indicator AS path ON path.indicator_id = p.indicator_id
                 LEFT JOIN tb_pathological_indicator_category AS cate ON cate.indicator_id = path.indicator_id
                 LEFT JOIN tb_round AS r ON r.round_id = s.round_id
        WHERE s.slide_id = #{slideId,jdbcType=BIGINT}
        GROUP BY t.topic_name
    </select>

    <select id="slideFileName" parameterType="java.lang.Long" resultMap="SlideFileNameResultMap">
        SELECT t.topic_name,
               i.image_name,
               CONCAT(p.project_type, r.round_id)      AS slide_type,
               group_concat(cate.number SEPARATOR "-") AS category_number
        FROM tb_slide AS s
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
                 LEFT JOIN tb_topic AS t ON t.topic_id = s.topic_id
                 LEFT JOIN tb_image AS i ON i.image_id = s.image_id
                 LEFT JOIN tb_pathological_indicator AS path ON path.indicator_id = p.indicator_id
                 LEFT JOIN tb_pathological_indicator_category AS cate ON cate.indicator_id = path.indicator_id
                 LEFT JOIN tb_round AS r ON r.round_id = s.round_id
        WHERE s.slide_id = #{slideId,jdbcType=BIGINT}
        GROUP BY t.topic_name
    </select>

    <delete id="deleteProjectImage" parameterType="java.lang.Long">
        delete
        from tb_slide
        where slide_id = #{slideId}
    </delete>

    <select id="getProjectInformation" parameterType="java.lang.Long" resultMap="SlideResult">
        select *
        from tb_slide
        where project_id = #{projectId}
    </select>


    <select id="selectImageList" parameterType="java.lang.Long" resultMap="slideResult">
        SELECT s.slide_id,
               i.image_name
        FROM tb_slide AS s
                 LEFT JOIN tb_project AS p ON p.project_id = s.project_id
                 LEFT JOIN tb_image AS i ON i.image_id = s.image_id
        WHERE p.project_id = #{projectId}
    </select>

    <!-- 根据项目ID删除映射关系 -->
    <delete id="deleteProjectInformation" parameterType="java.lang.Long">
        delete
        from tb_slide
        where project_id = #{projectId}
    </delete>

    <!-- 根据项目ID和图片列表查询切片 -->
    <select id="selectImageExist" parameterType="cn.staitech.anno.domain.Slide" resultMap="SlideResult">
        select *
        from tb_slide
        WHERE 1 = 1
        <if test="projectId != null and projectId != ''">
            AND project_id = #{projectId}
        </if>
        <if test="imageId != null and imageId != ''">
            AND image_id = #{imageId}
        </if>
    </select>

    <select id="selectCheckNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(slide_id)
        from tb_slide
        where is_delete = 0
          and project_id = #{projectId}
    </select>

    <select id="selectByStatus" parameterType="cn.staitech.anno.domain.vo.SlideSelectVO" resultMap="projectSlideResult">
        SELECT s.slide_id,
               s.human_annotation_total,
               i.image_name,
               i.size,
               i.thumb_url,
               s.process_flag,
               s.description,
               s.image_id,
               s.update_time,
               s.create_time
        FROM tb_slide AS s
                 LEFT JOIN tb_image AS i ON s.image_id = i.image_id
        <where>
            <if test="projectId != null and projectId != ''">
                AND s.project_id = #{projectId}
            </if>
            <if test="processFlag != null and processFlag >= 0">
                AND s.process_flag = #{processFlag}
            </if>
            <if test="description != null and description != ''">
                AND s.description like concat('%', #{description}, '%')
            </if>
            <if test="imageName != null and imageName != ''">
                AND i.image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(s.update_time, '%y%m%d') &gt;= date_format(#{params.beginTime}, '%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(s.update_time, '%y%m%d') &lt;= date_format(#{params.endTime}, '%y%m%d')
            </if>
        </where>
        <choose>
            <when test="(orderBy == 'human_annotation_total' or orderBy == 'create_time' or orderBy == 'update_time') and (sort == 'desc' or sort == 'asc')">
                order by s.${orderBy} ${sort}
            </when>
            <otherwise>
                ORDER BY
                s.update_time DESC
            </otherwise>
        </choose>
    </select>

    <!--项目批量添加图片-->
    <insert id="insertSlide" useGeneratedKeys="true"
            keyProperty="slideId">
        insert into tb_slide (project_id,
                              image_id,
                              create_by,
                              update_by,
                              create_time,
                              update_time)values
        <foreach collection="slideList" item="slide" separator=",">
            (#{slide.projectId},
             #{slide.imageId},
             #{slide.createBy},
             #{slide.createBy},
             sysdate(),
             sysdate())
        </foreach>
    </insert>

    <!--更改切片描述-->
    <update id="updateDescription" parameterType="cn.staitech.anno.domain.Slide" useGeneratedKeys="true"
            keyProperty="slideId">
        update tb_slide
        <set>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where slide_id = #{slideId}
    </update>

    <!--更改切片时间-->
    <update id="updateSlideTime" parameterType="cn.staitech.anno.domain.Slide" useGeneratedKeys="true"
            keyProperty="slideId">
        update tb_slide
        <set>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where slide_id = #{slideId}
    </update>


    <!--新程序-->
    <!--根据项目、分组及图像更新切片关系表-->
    <update id="updateBatchByCondition" parameterType="java.util.List">
        <foreach collection="slideList" item="item" index="index" open="" close="" separator=";">
            update tb_slide
            <set>
                is_delete=${item.isDelete},
                update_time=now()
            </set>
            where project_id = ${item.projectId}
              and image_id = ${item.imageId}
              and group_id = ${item.groupId}
        </foreach>
    </update>

    <!--根据项目、分组及图像更新切片诊断状态-->
    <update id="updateBatchBySpecialDiagnosis" parameterType="java.util.List">
        <foreach collection="diagnosisList" item="item" index="index" open="" close="" separator=";">
            update tb_slide
            <set>
                diagnosis=${item.diagnosisStatus},
                update_time=now(),
                process_flag=2
            </set>
            where project_id = ${item.projectId}
              and image_id = ${item.subImageId}
              and group_id = ${item.groupId}
        </foreach>
    </update>

    <!--查询组内切片报表摘要-->
    <select id="selectSlideByProjectAndGroup" parameterType="java.util.Map"
            resultType="cn.staitech.anno.domain.vo.image.SlideReportSummaryVo">
        select p.project_name,
               g.group_name,
               case when g.gender = 0 then '雌' else '雄' end as gender,
               count(s.slide_id)                              as total,
               sum(case when s.ai_analyzed = 2 then 1 end)       finish_total,
               g.description,
               g.reasons,
               g.dosage
        from tb_slide s
                 left join tb_group g on s.group_id = g.group_id
                 left join tb_project p on s.project_id = p.project_id
        <where>
            s.is_delete = 0
            <if test="params.groupId != null and params.groupId != ''">
                AND s.group_id = #{params.groupId}
            </if>
            <if test="params.projectId != null and params.projectId != ''">
                AND s.project_id = #{params.projectId}
            </if>
        </where>
        group by s.group_id, s.project_id
    </select>

    <!--组内切片报表分页查询-->
    <select id="pageSlideWithSubImage" parameterType="java.util.Map"
            resultType="cn.staitech.anno.domain.vo.image.SlideReportVo">
        select m.*,
               s.slide_id,
               s.diagnosis,
               s.ai_analyzed,
               s.ai_check,
               case when g.gender = 0 then '雌' else '雄' end as gender
        from tb_slide s
                 left join tb_sub_image m on m.image_id = s.image_id
                 left join tb_group g on s.group_id = g.group_id
        <where>
            s.is_delete = 0
            <if test="params.aiAnalyzed != null and params.aiAnalyzed != ''">
                AND s.ai_analyzed = #{params.aiAnalyzed}
            </if>
            <if test="params.aiCheck != null and params.aiCheck != ''">
                AND s.ai_check = #{params.aiCheck}
            </if>
            <if test="params.diagnosis != null and params.diagnosis != ''">
                AND s.diagnosis = #{params.diagnosis}
            </if>
            <if test="params.groupId != null and params.groupId != ''">
                AND s.group_id = #{params.groupId}
            </if>
            <if test="params.projectId != null and params.projectId != ''">
                AND s.project_id = #{params.projectId}
            </if>
            <if test="params.specialId != null and params.specialId != ''">
                AND m.special_id = #{params.specialId}
            </if>
            <if test="params.imageCode != null and params.imageCode != ''">
                AND m.image_name LIKE CONCAT('%', #{params.imageCode}, '%')
            </if>
            <if test="params.parentImageCode != null and params.parentImageCode != ''">
                AND m.parent_image_name LIKE CONCAT('%', #{params.parentImageCode}, '%')
            </if>
            <if test="params.visceraType != null and params.visceraType != ''">
                AND m.viscera_type = #{params.visceraType}
            </if>
            <if test="params.accessTime != null and params.accessTime.beginTime != null and params.accessTime.beginTime != ''">
                and date_format(m.create_time, '%y%m%d') &gt;= date_format(#{params.accessTime.beginTime}, '%y%m%d')
            </if>
            <if test="params.accessTime != null and params.accessTime.endTime != null and params.accessTime.endTime != ''">
                and date_format(m.create_time, '%y%m%d') &lt;= date_format(#{params.accessTime.endTime}, '%y%m%d')
            </if>
        </where>
    </select>

    <!--项目内切片统计-->
    <select id="pageSlideStatisticsByProject" parameterType="java.util.Map"
            resultType="cn.staitech.anno.domain.vo.image.ProjectStatisticsVo">
        select p.project_id,
               p.project_name,
               count(s.slide_id)                                                as slide_total,
               p.viscus_code,
               p.system_code,
               sum(case when s.ai_check = 1 then 1 end)                         as negative_total,
               sum(case when s.ai_check = 2 then 1 end)                         as positive_total,
               sum(case when s.ai_analyzed = 2 then 1 end)                      as finish_total,
               sum(case when s.diagnosis = 1 then 1 end)                        as diagnosis_total,
               sum(case when s.ai_analyzed = 1 or s.ai_analyzed = 3 then 1 end) as analysis_total
        from tb_project p
                 left join (select * from tb_slide where is_delete = 0) s on p.project_id = s.project_id
        where p.del_flag = 0
          and p.special_id in
        <foreach item="specialId" collection="params.specialIds" separator="," open="(" close=")" index="">
            #{specialId, jdbcType=NUMERIC}
        </foreach>
        <if test="params.projectName != null and params.projectName != ''">
            AND p.project_name LIKE CONCAT('%', #{params.projectName}, '%')
        </if>
        <if test="params.creator != null and params.creator != ''">
            AND p.create_by in
                (select u.user_id from sys_user u where u.user_name LIKE CONCAT('%', #{params.creator}, '%'))
        </if>
        <if test="params.viscusCode != null and params.viscusCode != ''">
            AND p.viscus_code = #{params.viscusCode}
        </if>
        <if test="params.systemCode != null and params.systemCode != ''">
            AND p.system_code = #{params.systemCode}
        </if>
        group by p.project_id
    </select>

    <!--切片报表分页查询-->
    <select id="pageSlideStatistics" parameterType="java.util.Map"
            resultType="cn.staitech.anno.domain.vo.image.SlideReportVo">
        select m.*,
               s.slide_id,
               s.diagnosis,
               s.ai_analyzed,
               s.ai_check,
               p.project_name,
               p.system_code,
               case when g.gender = 0 then '雌' else '雄' end as gender,
               p.viscus_code
        from tb_slide s
                 left join tb_sub_image m on m.image_id = s.image_id
                 left join tb_group g on s.group_id = g.group_id
                 left join tb_project p on s.project_id = p.project_id
        <where>
            s.is_delete = 0
            <if test="params.aiAnalyzed != null and params.aiAnalyzed != ''">
                AND s.ai_analyzed = #{params.aiAnalyzed}
            </if>
            <if test="params.aiCheck != null and params.aiCheck != ''">
                AND s.ai_check = #{params.aiCheck}
            </if>
            <if test="params.diagnosis != null and params.diagnosis != ''">
                AND s.diagnosis = #{params.diagnosis}
            </if>
            <if test="params.groupId != null and params.groupId != ''">
                AND s.group_id = #{params.groupId}
            </if>
            <if test="params.projectName != null and params.projectName != ''">
                AND p.project_name LIKE CONCAT('%', #{params.projectName}, '%')
            </if>
            <if test="params.viscusCode != null and params.viscusCode != ''">
                AND p.viscus_code = #{params.viscusCode}
            </if>
            <if test="params.systemCode != null and params.systemCode != ''">
                AND p.system_code = #{params.systemCode}
            </if>
            <if test="params.projectIds != null">
                AND s.project_id in
                <foreach item="projectId" collection="params.projectIds" separator="," open="(" close=")" index="">
                    #{projectId, jdbcType=NUMERIC}
                </foreach>
            </if>
            <if test="params.specialId != null and params.specialId != ''">
                AND m.special_id = #{params.specialId}
            </if>
            <if test="params.imageCode != null and params.imageCode != ''">
                AND m.image_name LIKE CONCAT('%', #{params.imageCode}, '%')
            </if>
            <if test="params.parentImageCode != null and params.parentImageCode != ''">
                AND m.parent_image_name LIKE CONCAT('%', #{params.parentImageCode}, '%')
            </if>
            <if test="params.visceraType != null and params.visceraType != ''">
                AND m.viscera_type = #{params.visceraType}
            </if>
            <if test="params.accessTime != null and params.accessTime.beginTime != null and params.accessTime.beginTime != ''">
                and date_format(m.create_time, '%y%m%d') &gt;= date_format(#{params.accessTime.beginTime}, '%y%m%d')
            </if>
            <if test="params.accessTime != null and params.accessTime.endTime != null and params.accessTime.endTime != ''">
                and date_format(m.create_time, '%y%m%d') &lt;= date_format(#{params.accessTime.endTime}, '%y%m%d')
            </if>
        </where>
    </select>
    <!--查询项目内切片诊断信息-->
    <select id="queryVisceraLesionRpt" parameterType="java.util.Map" resultType="java.util.Map">
        select g.group_name as 'group', g.description as groupDesc,
               g.group_id,
               g.gender,
               g.dosage,
               i.image_name        as subImageName,
               i.parent_image_name as imageName,
               i.image_id,
               t1.special_diagnosis_id,
               t1.diagnosis,
               CASE
                   WHEN (ISNULL(t1.remark) = 1) || (LENGTH(trim(t1.remark)) = 0) THEN '-'
                   ELSE t1.remark
                   END             as remark

        from tb_slide s
            left join tb_group g on s.group_id = g.group_id
            left join tb_sub_image i on s.image_id = i.image_id
            left join (select d.special_diagnosis_id,
                              d.project_id,
                              d.special_id,
                              d.sub_image_id,
                              d.group_id,
                              d.remark,
                              GROUP_CONCAT(t.tag_name SEPARATOR "; ") as diagnosis
                       from tb_special_diagnosis_detail t
                                left join tb_special_diagnosis d on t.special_diagnosis_id = d.special_diagnosis_id
        <where>
            <!--是否可用 0:不可用1:可用-->
            d.status = 1
            <if test="params.specialId != null and params.specialId != ''">
                AND d.special_id = #{params.specialId}
            </if>
            <if test="params.currentUserId != null and params.currentUserId != ''">
                <!--需求所要求权限-->
                <!--当抽取数据进报告时，如果是其他，不抽其他，只抽取用户自己输入的内容-->
                AND d.create_by = #{params.currentUserId}
            </if>
            <if test="params.projectId != null">
                AND d.project_id = #{params.projectId, jdbcType=NUMERIC}
            </if>
        </where>
        group by d.special_diagnosis_id, d.project_id, d.special_id, d.sub_image_id, d.group_id) t1
        on s.project_id = t1.project_id and s.group_id = t1.group_id and s.image_id = t1.sub_image_id
        <where>
            s.is_delete = 0
            <if test="params.groupId != null and params.groupId != ''">
                AND s.group_id = #{params.groupId}
            </if>
            <if test="params.projectId != null">
                AND s.project_id = #{params.projectId, jdbcType=NUMERIC}
            </if>
            <if test="params.reasons != null">
                AND g.reasons = #{params.reasons, jdbcType=NUMERIC}
            </if>
            <if test="params.gender != null">
                AND g.gender = #{params.gender, jdbcType=NUMERIC}
            </if>
        </where>
        order by g.gender, g.group_id, i.parent_image_name, i.image_name
    </select>

    <!--分页查询切片列表信息-->
    <select id="pageImageCsvListVOList" parameterType="cn.staitech.anno.domain.vo.imageCsv.ImageCsvGetVO"
            resultType="cn.staitech.anno.domain.vo.imageCsv.ImageCsvListVO">
        select s.slide_id,
               s.review_round_id,
               s.diagnosis,
               s.status,
               s.description,
               s.ai_analyzed,
               s.ai_check,
               m.image_id,
               m.thumb_url,
               m.format,
               m.width,
               m.height,
               m.resolution_x,
               m.resolution_y,
               m.source_lens,
               m.image_path,
   <!--            csv.id,
               csv.image_id,
               csv.image_name,
               csv.group_name,
               csv.gender,
               csv.species,
               csv.product_series,
               csv.dosage,
               csv.animal_source,
               csv.receiving_week,
               csv.dosing_cycle,
               csv.recovery_cycle,
               csv.date_of_death,
               csv.remove_reason,
               csv.remark,
               csv.organ,
               csv.lesion_type1,
               csv.lesion_degree1,
               csv.lesion_type2,
               csv.lesion_degree2,
               csv.process_flag,
               csv.create_by,
               csv.create_time,
               csv.update_by,
               csv.update_time,
               csv.topic_id,
               csv.topic_name,
               csv.status,
               csv.delete_flag,
               csv.organization_id,
               csv.host_id-->
        from tb_slide s
                 left join tb_image m on m.image_id = s.image_id
              <!--   left join tb_image_csv csv on csv.id = s.image_csv_id-->
        <where>
            <if test="projectId != null">
                AND s.project_id = #{projectId, jdbcType=NUMERIC}
            </if>
            <if test="reviewRoundId != null">
                AND s.review_round_id = #{reviewRoundId, jdbcType=NUMERIC}
            </if>
            <if test="imageName != null">
                AND m.image_name LIKE CONCAT('%', #{imageName}, '%')
            </if>
<!--            <if test="lesionType != null">
                AND csv.lesion_type1 LIKE CONCAT('%', #{lesionType}, '%')
                AND csv.lesion_type2 LIKE CONCAT('%', #{lesionType}, '%')
            </if>

            <if test="lesionDegree != null">
                AND csv.lesion_degree1 LIKE CONCAT('%', #{lesionDegree}, '%')
                AND csv.lesion_degree2 LIKE CONCAT('%', #{lesionDegree}, '%')
            </if>-->
            <if test="imageName != null and imageName != ''">
                <!-- 图像名称 -->
                and m.image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="createTimeParams != null">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''">
                    <!-- 开始时间检索 -->
                    and date_format(s.create_time, '%y%m%d') &gt;= date_format(#{createTimeParams.beginTime}, '%y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != ''">
                    <!-- 结束时间检索 -->
                    and date_format(s.create_time, '%y%m%d') &lt;= date_format(#{createTimeParams.endTime}, '%y%m%d')
                </if>
            </if>
        </where>
    </select>


    <select id="pageImageCsvListVOList1" parameterType="cn.staitech.anno.domain.vo.imageCsv.ImageCsvGetVO"
            resultType="cn.staitech.anno.domain.vo.imageCsv.ImageCsvListVO">
        select s.slide_id,
               s.review_round_id,
               s.diagnosis,
               s.status,
               s.remark,
               s.ai_analyzed,
               s.ai_check,
               m.image_id,
               m.image_path,
               m.thumb_url,
               m.format,
               m.width,
               m.height,
               m.resolution_x,
               m.resolution_y,
               m.source_lens
        <!--,
               csv.id,
               csv.image_id,
               csv.image_name,
               csv.group_name,
               csv.gender,
               csv.species,
               csv.product_series,
               csv.dosage,
               csv.animal_source,
               csv.receiving_week,
               csv.dosing_cycle,
               csv.recovery_cycle,
               csv.date_of_death,
               csv.remove_reason,
               csv.organ,
               csv.lesion_type1,
               csv.lesion_degree1,
               csv.lesion_type2,
               csv.lesion_degree2,
               csv.process_flag,
               csv.create_by,
               csv.create_time,
               csv.update_by,
               csv.update_time,
               csv.topic_id,
               csv.topic_name,
               csv.delete_flag,
               csv.organization_id,
               csv.host_id-->
        from tb_slide s
                 left join tb_image m on m.image_id = s.image_id
                <!-- left join tb_image_csv csv on csv.id = s.image_csv_id-->
        <where>
            <if test="projectId != null">
                AND s.project_id = #{projectId, jdbcType=NUMERIC}
            </if>
            <if test="reviewRoundId != null">
                AND s.review_round_id = #{reviewRoundId, jdbcType=NUMERIC}
            </if>
            <if test="imageName != null">
                AND m.image_name LIKE CONCAT('%', #{imageName}, '%')
            </if>
<!--            <if test="lesionType != null">
                AND csv.lesion_type1 LIKE CONCAT('%', #{lesionType}, '%')
                AND csv.lesion_type2 LIKE CONCAT('%', #{lesionType}, '%')
            </if>

            <if test="lesionDegree != null">
                AND csv.lesion_degree1 LIKE CONCAT('%', #{lesionDegree}, '%')
                AND csv.lesion_degree2 LIKE CONCAT('%', #{lesionDegree}, '%')
            </if>-->
            <if test="imageName != null and imageName != ''">
                <!-- 图像名称 -->
                and m.image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="createTimeParams != null">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''">
                    <!-- 开始时间检索 -->
                    and date_format(s.create_time, '%y%m%d') &gt;= date_format(#{createTimeParams.beginTime}, '%y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != ''">
                    <!-- 结束时间检索 -->
                    and date_format(s.create_time, '%y%m%d') &lt;= date_format(#{createTimeParams.endTime}, '%y%m%d')
                </if>
            </if>
        </where>
    </select>


    <select id="pageImageCsvListVOBy" parameterType="long" resultType="cn.staitech.anno.domain.vo.marking.out.SlideSelectBy">
        select s.slide_id,
        s.review_round_id,
        s.description,
        s.ai_analyzed,
        s.remark,
        s.diagnosis,
        s.status,
        s.ai_check,
        m.image_id,
        m.thumb_url,
        m.image_path,
        m.format,
        m.width,
        m.height,
        m.resolution_x,
        m.resolution_y,
        m.source_lens,
 <!--       csv.id,
        csv.image_id,
        csv.image_name,
        csv.group_name,
        csv.gender,
        csv.species,
        csv.product_series,
        csv.dosage,
        csv.animal_source,
        csv.receiving_week,
        csv.dosing_cycle,
        csv.recovery_cycle,
        csv.date_of_death,
        csv.remove_reason,
        csv.organ,
        csv.lesion_type1,
        csv.lesion_degree1,
        csv.lesion_type2,
        csv.lesion_degree2,
        csv.process_flag,
        csv.create_by,
        csv.create_time,
        csv.update_by,
        csv.update_time,
        csv.topic_id,
        csv.topic_name,
        csv.delete_flag,
        csv.organization_id,
        csv.host_id-->
        from tb_slide s
        left join tb_image m on m.image_id = s.image_id
      <!--  left join tb_image_csv csv on csv.id = s.image_csv_id-->
        <where>
            <if test="slideId != null">
                s.slide_id = #{slideId, jdbcType=NUMERIC}
            </if>
        </where>
    </select>
</mapper>


