<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.SpecialMapper">

    <resultMap type="cn.staitech.anno.domain.special.Special" id="SpecialResult">
        <result property="specialId" column="special_id"/>
        <result property="specialNumber" column="special_number"/>
        <result property="specialName" column="special_name"/>
        <result property="species" column="species"/>
        <result property="stainType" column="stain_type"/>
        <result property="indicatorId" column="indicator_id"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="trialType" column="trial_type"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.vo.special.SpecialResVo" id="selectResult">
        <result property="specialId" column="special_id"/>
        <result property="specialNumber" column="special_number"/>
        <result property="specialName" column="special_name"/>
        <result property="species" column="species"/>
        <result property="stainType" column="stain_type"/>
        <result property="indicatorId" column="indicator_id"/>
        <result property="status" column="status"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="indicatorName" column="indicator_name"/>
        <result property="projectNum" column="project_num"/>
        <result property="userName" column="user_name"/>
        <result property="trialType" column="trial_type"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.vo.special.SpecialStatisticsListVO" id="specialStatisticsResult">
        <result property="specialId" column="special_id"/>
        <result property="specialNumber" column="special_number"/>
        <result property="specialName" column="special_name"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <sql id="selectLists">
        select s.special_id
             , s.special_number
             , s.special_name
             , s.species
             , s.stain_type
             , s.indicator_id
             , s.status
             , s.trial_type
             , s.delivery_status
             , s.create_by
             , s.create_time
             , s.update_by
             , s.update_time
             , s.del_flag
             , u.user_name
             , p.indicator_name
        from tb_special as s
                 left join tb_pathological_indicator as p on s.indicator_id = p.indicator_id
                 left join tb_project as pro on pro.special_id = s.special_id
                 left join sys_user as u on u.user_id = s.create_by
                 left join tb_special_role_user as sru on sru.special_id = s.special_id
    </sql>

    <sql id="selectSpecialList">
        select special_id
             , special_number
             , special_name
             , species
             , stain_type
             , indicator_id
             , status
             , create_by
             , create_time
             , update_by
             , update_time
             , del_flag
        from tb_special
    </sql>

    <select id="selectSpecialSlideCount" parameterType="Long" resultType="int">
        SELECT
            count(sl.slide_id)
        FROM
            tb_special AS s
                LEFT JOIN tb_project AS p ON s.special_id = p.special_id
                LEFT JOIN tb_slide AS sl ON sl.project_id = p.project_id
        WHERE
            s.special_id = #{specialId}
          AND p.del_flag = 0
          AND sl.is_delete = 0
    </select>

    <select id="selectSpecialList" resultMap="SpecialResult">
        <include refid="selectSpecialList"/>
        where del_flag = 1
    </select>

    <select id="selectSpecialNumber" parameterType="cn.staitech.anno.domain.special.Special" resultMap="SpecialResult">
        <include refid="selectSpecialList"/>
        <where>
            del_flag != 2
            <if test="specialId != null and specialId != ''">
                AND special_id != #{specialId}
            </if>
            <if test="specialNumber != null and specialNumber != ''">
                AND special_number = #{specialNumber}
            </if>
            <if test="specialName != null and specialName != ''">
                AND special_name = #{specialName}
            </if>
        </where>
        limit 1
    </select>

    <select id="selectSpecialId" parameterType="Long" resultMap="selectResult">
        <include refid="selectLists"/>
        <where>
            s.del_flag = 0
            <if test="specialId != null and specialId != ''">
                AND s.special_id = #{specialId}
            </if>
        </where>
        group by s.special_id
    </select>

    <select id="selectSpecialById" parameterType="Long" resultMap="SpecialResult">
        <include refid="selectSpecialList"/>
        <where>
            del_flag = 0
            <if test="specialId != null and specialId != ''">
                AND special_id = #{specialId}
            </if>
        </where>
    </select>

    <!--查询专题表中使用的标签-->
    <select id="selectSpecialCategoryList" parameterType="Long" resultType="cn.staitech.anno.domain.PathologicalIndicatorCategory">
        SELECT DISTINCT
        c.category_Id as category_Id
        FROM
        tb_special AS s
        LEFT JOIN tb_project AS p ON p.special_id = s.special_id
        LEFT JOIN tb_slide AS sl ON sl.project_id = p.project_id
        LEFT JOIN tb_marking AS m ON m.slide_id = sl.slide_id
        LEFT JOIN tb_pathological_indicator_category AS ca ON ca.indicator_id = s.indicator_id
        INNER JOIN tb_pathological_indicator_category AS c ON c.category_id = m.category_id
        <where>
            <if test="specialId != null">
                AND s.special_id = #{specialId}
            </if>
        </where>
    </select>

    <!--查询专题列表-->
    <select id="selectList" parameterType="cn.staitech.anno.domain.special.Special" resultMap="selectResult">
        <include refid="selectLists"/>
        <where>
            s.del_flag != 2
            <if test="specialNumber != null and specialNumber != ''">
                AND s.special_number like concat('%', #{specialNumber}, '%')
            </if>
            <if test="specialName != null and specialName != ''">
                AND s.special_name like concat('%', #{specialName}, '%')
            </if>
            <if test="species != null and species != ''">
                AND s.species like concat('%', #{species}, '%')
            </if>
            <if test="stainType != null and stainType != ''">
                AND s.stain_type like concat('%', #{stainType}, '%')
            </if>
            <if test="indicatorId != null">
                AND s.indicator_id = #{indicatorId}
            </if>
            <if test="trialType != null and trialType != ''">
                AND s.trial_type = #{trialType}
            </if>
            <if test="status != null">
                AND s.status = #{status}
            </if>
            <if test="userName != null and userName != ''">
                AND u.user_name like concat('%', #{userName}, '%')
            </if>
            <if test="delFlag != null">
                AND s.del_flag = #{delFlag}
            </if>
            <if test="specialUserId != null and specialUserId != 0">
                AND sru.user_id = #{specialUserId}
            </if>
            <if test="createBy != null and createBy != 0">
                AND s.create_by = #{createBy}
            </if>
            <if test="specialId != null and specialId != 0">
                AND s.special_id != #{specialId}
            </if>
            <if test="createTimeParams != null">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''"><!-- 开始时间检索 -->
                    AND date_format(s.create_time,'%y%m%d') &gt;= date_format(#{createTimeParams.beginTime},'%y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != '' ">
                    AND date_format(s.create_time,'%y%m%d') &lt;= date_format(#{createTimeParams.endTime},'%y%m%d')
                </if>
            </if>
        </where>
        GROUP BY s.special_id
        ORDER BY s.create_time DESC
    </select>

    <!--专题统计-->
    <select id="specialStatistics" parameterType="cn.staitech.anno.domain.vo.special.SpecialStatisticsQueryVO"
            resultMap="specialStatisticsResult">
        SELECT
        s.special_id,
        s.special_number,
        s.special_name,
        s.`status`,
        u.user_id,
        COUNT( CASE WHEN p.del_flag = '0' THEN 1 ELSE NULL END ) AS project_total
        FROM
        tb_special s
        LEFT JOIN tb_special_role_user u ON u.special_id = s.special_id
        LEFT JOIN tb_project p ON u.special_id = p.special_id
        <where>
            s.del_flag = 0
            AND s.STATUS &lt;&gt; 0
            AND u.`status` = 0
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="specialNumber != null and specialNumber != ''">
                AND s.special_number like concat('%', #{specialNumber}, '%')
            </if>
            <if test="specialName != null and specialName != ''">
                AND s.special_name like concat('%', #{specialName}, '%')
            </if>
        </where>
        GROUP BY
        s.special_id
        ORDER BY
        s.update_time DESC
    </select>

    <!--专题统计-->
    <select id="specialStatisticsAdmin" parameterType="cn.staitech.anno.domain.vo.special.SpecialStatisticsQueryVO"
            resultMap="specialStatisticsResult">
        SELECT
        s.special_id,
        s.special_number,
        s.special_name,
        s.`status`,
        COUNT( CASE WHEN p.del_flag = '0' THEN 1 ELSE NULL END ) AS project_total
        FROM
        tb_special s
        LEFT JOIN tb_project p ON p.special_id = s.special_id
        <where>
            s.del_flag = 0
            AND s.STATUS &lt;&gt; 0
            <if test="specialNumber != null and specialNumber != ''">
                AND s.special_number like concat('%', #{specialNumber}, '%')
            </if>
            <if test="specialName != null and specialName != ''">
                AND s.special_name like concat('%', #{specialName}, '%')
            </if>
        </where>
        GROUP BY
        s.special_id
        ORDER BY
        s.update_time DESC
    </select>

    <!--查询专题下的项目ID-->
    <select id="queryProjectIdBySpecialId" parameterType="cn.staitech.anno.domain.vo.special.SpecialStatisticsListVO"
            resultType="long">
        SELECT
        p.project_id
        FROM
        tb_special AS s
        LEFT JOIN tb_special_role_user AS u ON u.special_id = s.special_id
        LEFT JOIN tb_project AS p ON u.special_id = p.special_id
        <where>
            s.del_flag = 0
            AND s.STATUS &lt;&gt; 0
            AND u.`status` = 0
            AND p.del_flag = '0'
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="specialId != null and specialId != ''">
                AND s.special_id = #{specialId}
            </if>
        </where>
    </select>

    <!--admin查询专题下的项目ID-->
    <select id="queryProjectIdAdminBySpecialId" parameterType="long" resultType="long">
        SELECT
        p.project_id
        FROM
        tb_special AS s
        LEFT JOIN tb_project AS p ON p.special_id = s.special_id
        <where>
            s.del_flag = 0
            AND s.STATUS &lt;&gt; 0
            AND p.del_flag = '0'
            <if test="specialId != null and specialId != ''">
                AND s.special_id = #{specialId}
            </if>
        </where>
    </select>

    <!--查询项目下的人工诊断状态-->
    <select id="queryDiagnosisByProjectId" parameterType="java.lang.Long" resultType="cn.staitech.anno.domain.vo.special.SpecialSlideStatisticsVO">
        <!-- SELECT
        diagnosis
        FROM
        tb_slide
        <where>
            <if test="projectId != null and projectId != ''">
                AND project_id = #{projectId}
            </if>
        </where> -->
        SELECT
			t.diagnosis,
			count( 1 ) total_count 
		FROM
			tb_slide t 
		WHERE
			t.project_id = #{projectId} 
			and t.is_delete = 0
		GROUP BY
			t.diagnosis
        
    </select>

    <!--查询专题阅片-->
    <select id="selectSpecialReadFilm" parameterType="cn.staitech.anno.domain.special.Special" resultMap="selectResult">
        <include refid="selectLists"/>
        <where>
            s.status != 0
                AND s.status != 2
            <if test="sruStatus != null">
                AND sru.status = 0
            </if>
            <if test="specialNumber != null and specialNumber != ''">
                AND s.special_number like concat('%', #{specialNumber}, '%')
            </if>
            <if test="specialName != null and specialName != ''">
                AND s.special_name like concat('%', #{specialName}, '%')
            </if>
            <if test="species != null and species != ''">
                AND s.species like concat('%', #{species}, '%')
            </if>
            <if test="stainType != null and stainType != ''">
                AND s.stain_type like concat('%', #{stainType}, '%')
            </if>
            <if test="indicatorId != null and indicatorId != ''">
                AND s.indicator_id = #{indicatorId}
            </if>
            <if test="status != null">
                AND s.status = #{status}
            </if>
            <if test="userName != null and userName != ''">
                AND u.user_name like concat('%', #{userName}, '%')
            </if>
            <if test="createBy != null and createBy != 0">
                AND sru.user_id = #{createBy}
            </if>
            <if test="delFlag != null">
                AND s.del_flag = #{delFlag}
            </if>
            <if test="specialId != null and specialId != 0">
                AND s.special_id != #{specialId}
            </if>
            <if test="createTimeParams != null">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''"><!-- 开始时间检索 -->
                    AND date_format(s.create_time,'%y%m%d') &gt;= date_format(#{createTimeParams.beginTime},'%y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != '' ">
                    AND date_format(s.create_time,'%y%m%d') &lt;= date_format(#{createTimeParams.endTime},'%y%m%d')
                </if>
            </if>
        </where>
        GROUP BY s.special_id
        ORDER BY s.update_time DESC
    </select>
    <!--根据userid查询所属专题-->
    <select id="selectByUserId" parameterType="java.util.Map" resultType="cn.staitech.anno.domain.special.Special">
        select t.*
        from tb_special t
        left join tb_special_role_user r on t.special_id = r.special_id
        <where>
            <if test="params.delFlag != null">
                AND t.del_flag = #{params.delFlag}
            </if>
            <if test="params.userId != null">
                AND r.user_id = #{params.userId}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="cn.staitech.anno.domain.special.Special" useGeneratedKeys="true"
            keyProperty="specialId">
        insert into tb_special (
        <if test="specialNumber != null and specialNumber != '' ">special_number,</if>
        <if test="specialName != null and specialName != '' ">special_name,</if>
        <if test="species != null and species != '' ">species,</if>
        <if test="stainType != null and stainType != ''">stain_type ,</if>
        <if test="indicatorId != null">indicator_id,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="updateBy != null and updateBy != ''">update_by,</if>
        <if test="trialType != null and trialType != ''">trial_type,</if>
        create_time,
        update_time
        )values(
        <if test="specialNumber != null and specialNumber != ''">#{specialNumber},</if>
        <if test="specialName != null and specialName != ''">#{specialName},</if>
        <if test="species != null and species != ''">#{species},</if>
        <if test="stainType != null and stainType != ''">#{stainType},</if>
        <if test="indicatorId != null">#{indicatorId},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
        <if test="trialType != null and trialType != ''">#{trialType},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="update" parameterType="cn.staitech.anno.domain.special.Special" useGeneratedKeys="true"
            keyProperty="specialId">
        update tb_special
        <set>
            <if test="specialNumber != null and specialNumber != ''">special_number = #{specialNumber},</if>
            <if test="specialName != null and specialName != ''">special_name = #{specialName},</if>
            <if test="species != null and species != ''">species = #{species},</if>
            <if test="stainType  != null and stainType != ''">stain_type = #{stainType},</if>
            <if test="deliveryStatus  != null and deliveryStatus != ''">delivery_status = #{deliveryStatus},</if>
            <if test="indicatorId != null">indicator_id = #{indicatorId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="trialType != null and trialType != ''">trial_type = #{trialType},</if>
            update_time = sysdate()
        </set>
        where special_id = #{specialId}
    </update>

    <update id="updateDelFlag" parameterType="cn.staitech.anno.domain.special.Special" useGeneratedKeys="true"
            keyProperty="specialId">
        update tb_special
        <set>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where special_id = #{specialId}
    </update>

    <update id="updateStatus" parameterType="cn.staitech.anno.domain.special.Special" useGeneratedKeys="true"
            keyProperty="specialId">
        update tb_special
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where special_id = #{specialId}
    </update>
</mapper>