<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.SpecialAnnotationMapper">
    <resultMap id="BaseResultMap" type="cn.staitech.anno.domain.special.SpecialAnnotation">
        <id column="slice_annotation_id" jdbcType="BIGINT" property="sliceAnnotationId"/>
        <result column="annotation_id" jdbcType="VARCHAR" property="annotationId"/>
        <result column="special_image_id" jdbcType="BIGINT" property="specialImageId"/>
        <result column="special_id" jdbcType="BIGINT" property="specialId"/>
        <result column="image_id" jdbcType="BIGINT" property="imageId"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="measure" jdbcType="DECIMAL" property="measure"/>
        <result column="perimeter" jdbcType="DECIMAL" property="perimeter"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="annotation_type" jdbcType="VARCHAR" property="annotationType"/>
        <result column="measure_full_name" jdbcType="VARCHAR" property="measureFullName"/>
        <result column="measure_type" jdbcType="INTEGER" property="measureType"/>
        <result column="measure_relation" jdbcType="VARCHAR" property="measureRelation"/>
        <result column="measure_name" jdbcType="VARCHAR" property="measureName"/>
        <result column="measure_number" jdbcType="INTEGER" property="measureNumber"/>
        <result column="radius" jdbcType="VARCHAR" property="radius"/>
        <result column="mean_distance" jdbcType="DOUBLE" property="meanDistance"/>
        <result column="max_distance" jdbcType="DOUBLE" property="maxDistance"/>
        <result column="min_distance" jdbcType="DOUBLE" property="minDistance"/>
        <result column="inner_angle" jdbcType="VARCHAR" property="innerAngle"/>
        <result column="exterior_angle" jdbcType="VARCHAR" property="exteriorAngle"/>
        <result column="center_point" jdbcType="VARCHAR" property="centerPoint"/>
        <result column="point_count" jdbcType="INTEGER" property="pointCount"/>
        <result column="location_type" jdbcType="VARCHAR" property="locationType"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="geometry" jdbcType="LONGVARCHAR" property="geometry"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.marking.PointCount" id="pointCountResult">
        <result property="category_id" column="category_id"/>
        <result property="point_count" column="point_count"/>
        <result property="label_name" column="category_name"/>
    </resultMap>
    <sql id="Base_Column_List">
        slice_annotation_id
        , annotation_id, special_image_id, special_id, image_id, area,
    measure, perimeter, category_id, description, annotation_type, measure_full_name, 
    measure_type, measure_relation, measure_name, measure_number, radius, mean_distance, 
    max_distance, min_distance, inner_angle, exterior_angle, center_point, point_count, 
    location_type, create_by, create_time, update_by, update_time,location,geometry
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_special_annotation
        where slice_annotation_id = #{sliceAnnotationId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tb_special_annotation
        where slice_annotation_id = #{sliceAnnotationId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation">
        insert into tb_special_annotation (slice_annotation_id, annotation_id, special_image_id,
                                           special_id, image_id, area,
                                           measure, perimeter, category_id,
                                           description, annotation_type, measure_full_name,
                                           measure_type, measure_relation, measure_name,
                                           measure_number, radius, mean_distance,
                                           max_distance, min_distance, inner_angle,
                                           exterior_angle, center_point, point_count,
                                           location_type, create_by, create_time,
                                           update_by, update_time)
        values (#{sliceAnnotationId,jdbcType=BIGINT}, #{annotationId,jdbcType=VARCHAR},
                #{specialImageId,jdbcType=BIGINT},
                #{specialId,jdbcType=BIGINT}, #{imageId,jdbcType=BIGINT}, #{area,jdbcType=VARCHAR},
                #{measure,jdbcType=DECIMAL}, #{perimeter,jdbcType=DECIMAL}, #{categoryId,jdbcType=INTEGER},
                #{description,jdbcType=VARCHAR}, #{annotationType,jdbcType=VARCHAR},
                #{measureFullName,jdbcType=VARCHAR},
                #{measureType,jdbcType=INTEGER}, #{measureRelation,jdbcType=VARCHAR}, #{measureName,jdbcType=VARCHAR},
                #{measureNumber,jdbcType=INTEGER}, #{radius,jdbcType=VARCHAR}, #{meanDistance,jdbcType=DOUBLE},
                #{maxDistance,jdbcType=DOUBLE}, #{minDistance,jdbcType=DOUBLE}, #{innerAngle,jdbcType=VARCHAR},
                #{exteriorAngle,jdbcType=VARCHAR}, #{centerPoint,jdbcType=VARCHAR}, #{pointCount,jdbcType=INTEGER},
                #{locationType,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
                #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation"
            keyProperty="sliceAnnotationId" useGeneratedKeys="true">
        insert into tb_special_annotation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sliceAnnotationId != null">
                slice_annotation_id,
            </if>
            <if test="annotationId != null">
                annotation_id,
            </if>
            <if test="specialImageId != null">
                special_image_id,
            </if>
            <if test="specialId != null">
                special_id,
            </if>
            <if test="imageId != null">
                image_id,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="measure != null">
                measure,
            </if>
            <if test="perimeter != null">
                perimeter,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="annotationType != null">
                annotation_type,
            </if>
            <if test="measureFullName != null">
                measure_full_name,
            </if>
            <if test="measureType != null">
                measure_type,
            </if>
            <if test="measureRelation != null">
                measure_relation,
            </if>
            <if test="measureName != null">
                measure_name,
            </if>
            <if test="measureNumber != null">
                measure_number,
            </if>
            <if test="radius != null">
                radius,
            </if>
            <if test="meanDistance != null">
                mean_distance,
            </if>
            <if test="maxDistance != null">
                max_distance,
            </if>
            <if test="minDistance != null">
                min_distance,
            </if>
            <if test="innerAngle != null">
                inner_angle,
            </if>
            <if test="exteriorAngle != null">
                exterior_angle,
            </if>
            <if test="centerPoint != null">
                center_point,
            </if>
            <if test="pointCount != null">
                point_count,
            </if>
            <if test="locationType != null">
                location_type,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="geometry != null">
                geometry,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sliceAnnotationId != null">
                #{sliceAnnotationId,jdbcType=BIGINT},
            </if>
            <if test="annotationId != null">
                #{annotationId,jdbcType=VARCHAR},
            </if>
            <if test="specialImageId != null">
                #{specialImageId,jdbcType=BIGINT},
            </if>
            <if test="specialId != null">
                #{specialId,jdbcType=BIGINT},
            </if>
            <if test="imageId != null">
                #{imageId,jdbcType=BIGINT},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="measure != null">
                #{measure,jdbcType=DECIMAL},
            </if>
            <if test="perimeter != null">
                #{perimeter,jdbcType=DECIMAL},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="annotationType != null">
                #{annotationType,jdbcType=VARCHAR},
            </if>
            <if test="measureFullName != null">
                #{measureFullName,jdbcType=VARCHAR},
            </if>
            <if test="measureType != null">
                #{measureType,jdbcType=INTEGER},
            </if>
            <if test="measureRelation != null">
                #{measureRelation,jdbcType=VARCHAR},
            </if>
            <if test="measureName != null">
                #{measureName,jdbcType=VARCHAR},
            </if>
            <if test="measureNumber != null">
                #{measureNumber,jdbcType=INTEGER},
            </if>
            <if test="radius != null">
                #{radius,jdbcType=VARCHAR},
            </if>
            <if test="meanDistance != null">
                #{meanDistance,jdbcType=DOUBLE},
            </if>
            <if test="maxDistance != null">
                #{maxDistance,jdbcType=DOUBLE},
            </if>
            <if test="minDistance != null">
                #{minDistance,jdbcType=DOUBLE},
            </if>
            <if test="innerAngle != null">
                #{innerAngle,jdbcType=VARCHAR},
            </if>
            <if test="exteriorAngle != null">
                #{exteriorAngle,jdbcType=VARCHAR},
            </if>
            <if test="centerPoint != null">
                #{centerPoint,jdbcType=VARCHAR},
            </if>
            <if test="pointCount != null">
                #{pointCount,jdbcType=INTEGER},
            </if>
            <if test="locationType != null">
                #{locationType,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="location != null">
                ST_GEOMFROMTEXT(#{location}),
                <!-- #{location} -->
            </if>
            <if test="geometry != null">
                #{geometry}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="cn.staitech.anno.domain.special.SpecialAnnotation">
        update tb_special_annotation
        <set>
            <if test="annotationId != null">
                annotation_id = #{annotationId,jdbcType=VARCHAR},
            </if>
            <if test="specialImageId != null">
                special_image_id = #{specialImageId,jdbcType=BIGINT},
            </if>
            <if test="specialId != null">
                special_id = #{specialId,jdbcType=BIGINT},
            </if>
            <if test="imageId != null">
                image_id = #{imageId,jdbcType=BIGINT},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="measure != null">
                measure = #{measure,jdbcType=DECIMAL},
            </if>
            <if test="perimeter != null">
                perimeter = #{perimeter,jdbcType=DECIMAL},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="annotationType != null">
                annotation_type = #{annotationType,jdbcType=VARCHAR},
            </if>
            <if test="measureFullName != null">
                measure_full_name = #{measureFullName,jdbcType=VARCHAR},
            </if>
            <if test="measureType != null">
                measure_type = #{measureType,jdbcType=INTEGER},
            </if>
            <if test="measureRelation != null">
                measure_relation = #{measureRelation,jdbcType=VARCHAR},
            </if>
            <if test="measureName != null">
                measure_name = #{measureName,jdbcType=VARCHAR},
            </if>
            <if test="measureNumber != null">
                measure_number = #{measureNumber,jdbcType=INTEGER},
            </if>
            <if test="radius != null">
                radius = #{radius,jdbcType=VARCHAR},
            </if>
            <if test="meanDistance != null">
                mean_distance = #{meanDistance,jdbcType=DOUBLE},
            </if>
            <if test="maxDistance != null">
                max_distance = #{maxDistance,jdbcType=DOUBLE},
            </if>
            <if test="minDistance != null">
                min_distance = #{minDistance,jdbcType=DOUBLE},
            </if>
            <if test="innerAngle != null">
                inner_angle = #{innerAngle,jdbcType=VARCHAR},
            </if>
            <if test="exteriorAngle != null">
                exterior_angle = #{exteriorAngle,jdbcType=VARCHAR},
            </if>
            <if test="centerPoint != null">
                center_point = #{centerPoint,jdbcType=VARCHAR},
            </if>
            <if test="pointCount != null">
                point_count = #{pointCount,jdbcType=INTEGER},
            </if>
            <if test="locationType != null">
                location_type = #{locationType,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="location != null">
                <!-- location = #{location,jdbcType=VARCHAR}, -->
                location = ST_GEOMFROMTEXT(#{location}),
            </if>
            <if test="geometry != null">
                geometry = #{geometry},
            </if>
        </set>
        where slice_annotation_id = #{sliceAnnotationId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation">
        update tb_special_annotation
        set annotation_id     = #{annotationId,jdbcType=VARCHAR},
            special_image_id  = #{specialImageId,jdbcType=BIGINT},
            special_id        = #{specialId,jdbcType=BIGINT},
            image_id          = #{imageId,jdbcType=BIGINT},
            area              = #{area,jdbcType=VARCHAR},
            measure           = #{measure,jdbcType=DECIMAL},
            perimeter         = #{perimeter,jdbcType=DECIMAL},
            category_id       = #{categoryId,jdbcType=INTEGER},
            description       = #{description,jdbcType=VARCHAR},
            annotation_type   = #{annotationType,jdbcType=VARCHAR},
            measure_full_name = #{measureFullName,jdbcType=VARCHAR},
            measure_type      = #{measureType,jdbcType=INTEGER},
            measure_relation  = #{measureRelation,jdbcType=VARCHAR},
            measure_name      = #{measureName,jdbcType=VARCHAR},
            measure_number    = #{measureNumber,jdbcType=INTEGER},
            radius            = #{radius,jdbcType=VARCHAR},
            mean_distance     = #{meanDistance,jdbcType=DOUBLE},
            max_distance      = #{maxDistance,jdbcType=DOUBLE},
            min_distance      = #{minDistance,jdbcType=DOUBLE},
            inner_angle       = #{innerAngle,jdbcType=VARCHAR},
            exterior_angle    = #{exteriorAngle,jdbcType=VARCHAR},
            center_point      = #{centerPoint,jdbcType=VARCHAR},
            point_count       = #{pointCount,jdbcType=INTEGER},
            location_type     = #{locationType,jdbcType=VARCHAR},
            create_by         = #{createBy,jdbcType=BIGINT},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            update_by         = #{updateBy,jdbcType=BIGINT},
            update_time       = #{updateTime,jdbcType=TIMESTAMP}
        where slice_annotation_id = #{sliceAnnotationId,jdbcType=BIGINT}
    </update>

    <select id="selectSpecialAnnotationList" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation"
            resultType="cn.staitech.anno.domain.special.SpecialAnnotation">
        SELECT
        t1.slice_annotation_id,
        t1.annotation_id,
        t1.special_image_id,
        t1.special_id,
        t1.image_id,
        t1.area,
        t1.measure,
        t1.perimeter,
        t1.category_id,
        t1.description,
        t1.annotation_type,
        t1.measure_full_name,
        t1.measure_type,
        t1.measure_relation,
        t1.measure_name,
        t1.measure_number,
        t1.radius,
        t1.mean_distance,
        t1.max_distance,
        min_distance,
        inner_angle,
        exterior_angle,
        center_point,
        point_count,
        t1.location_type,
        create_by,
        create_time,
        update_by,
        update_time,
        ST_ASTEXT ( t1.location ) AS location,
        t1.geometry,
        t1.update_by,
        t1.update_time
        FROM
        tb_special_annotation t1
        <where>
            <if test="specialId != null and specialId != ''">
                AND t1.special_id = #{specialId}
            </if>
            <if test="specialImageId != null and specialImageId != ''">
                AND t1.special_image_id = #{specialImageId}
            </if>
            <if test="sliceAnnotationId != null and sliceAnnotationId != ''">
                AND t1.slice_annotation_id = #{sliceAnnotationId}
            </if>
        </where>
        ORDER BY t1.create_time desc
    </select>

    <select id="selectCategoryCountList" parameterType="Long" resultMap="pointCountResult">
        SELECT category_id,
               count(slice_annotation_id) AS point_count
        FROM tb_special_annotation
        WHERE special_image_id = #{specialImageId}
          AND location_type = "Point"
        GROUP BY category_id
    </select>

    <select id="selectCategoryCount" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation"
            resultMap="pointCountResult">
        SELECT
        category_id,
        count( slice_annotation_id ) AS point_count
        FROM
        tb_special_annotation
        WHERE
        location_type = "Point"
        <if test="specialImageId != null">
            AND special_image_id = #{specialImageId}
        </if>
        <if test="categoryId != null">
            AND category_id = #{categoryId}
        </if>
    </select>

    <update id="updatePointCount" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation"
            useGeneratedKeys="true"
            keyProperty="sliceAnnotationId">
        update tb_special_annotation
        <set>
            point_count = #{pointCount}
        </set>
        where category_id = #{categoryId}
        AND special_image_id = #{specialImageId}
        AND location_type = 'Point'
    </update>


    <select id="selectAnnotationList" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation"
            resultType="cn.staitech.anno.domain.special.SpecialAnnotation">
        SELECT
        t1.*
        FROM
        tb_special_annotation t1
        <where>
            <if test="specialId != null and specialId != ''">
                AND t1.special_id = #{specialId}
            </if>
            <if test="specialImageId != null and specialImageId != ''">
                AND t1.special_image_id = #{specialImageId}
            </if>
            <if test="sliceAnnotationId != null and sliceAnnotationId != ''">
                AND t1.slice_annotation_id = #{sliceAnnotationId}
            </if>
        </where>
        ORDER BY t1.create_time desc
    </select>


    <select id="selectSpecialPropertiesList" parameterType="cn.staitech.anno.domain.special.SpecialAnnotation"
            resultType="cn.staitech.anno.domain.vo.specialimageanno.in.SpecialAnnoProperties">
        SELECT
        t1.slice_annotation_id,
        t1.annotation_id,
        t1.special_image_id,
        t1.special_id,
        t1.image_id,
        t1.area,
        t1.measure,
        t1.perimeter,
        t1.category_id,
        t1.description,
        t1.annotation_type,
        t1.measure_full_name,
        t1.measure_type,
        t1.measure_relation,
        t1.measure_name,
        t1.measure_number,
        t1.radius,
        t1.mean_distance,
        t1.max_distance,
        t1.min_distance,
        t1.inner_angle,
        t1.exterior_angle,
        t1.center_point,
        t1.point_count,
        t1.location_type,
        t1.create_by,
        t1.create_time,
        t1.update_by,
        t1.update_time,
        ST_ASTEXT ( t1.location ) AS location,
        t1.geometry
        FROM
        tb_special_annotation t1
        <where>
            <if test="specialId != null and specialId != ''">
                AND t1.special_id = #{specialId}
            </if>
            <if test="specialImageId != null and specialImageId != ''">
                AND t1.special_image_id = #{specialImageId}
            </if>
            <if test="sliceAnnotationId != null and sliceAnnotationId != ''">
                AND t1.slice_annotation_id = #{sliceAnnotationId}
            </if>
        </where>
        ORDER BY t1.create_time desc
    </select>
</mapper>