<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.SpecialDiagnosisMapper">
	<resultMap id="BaseResultMap"
		type="cn.staitech.anno.domain.diagnosis.SpecialDiagnosis">
		<id column="special_diagnosis_id" jdbcType="BIGINT" property="specialDiagnosisId" />
		<result column="special_id" jdbcType="BIGINT" property="specialId" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="sub_image_id" jdbcType="BIGINT" property="subImageId" />
		<result column="group_id" jdbcType="BIGINT" property="groupId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="diagnosis_status" jdbcType="SMALLINT" property="diagnosisStatus" />
		<result column="status" jdbcType="SMALLINT" property="status" />
		<result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		special_diagnosis_id, special_id, project_id,
		sub_image_id, remark, diagnosis_status,
		status, delete_flag,
		create_by, create_time, update_by, update_time,group_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_special_diagnosis
		where special_diagnosis_id =
		#{specialDiagnosisId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tb_special_diagnosis
		where special_diagnosis_id =
		#{specialDiagnosisId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.staitech.anno.domain.diagnosis.SpecialDiagnosis">
		insert into
		tb_special_diagnosis (special_diagnosis_id, special_id,
		project_id,
		sub_image_id, remark, diagnosis_status,
		status, delete_flag,
		create_by,
		create_time, update_by, update_time
		)
		values
		(#{specialDiagnosisId,jdbcType=BIGINT}, #{specialId,jdbcType=BIGINT},
		#{projectId,jdbcType=BIGINT},
		#{subImageId,jdbcType=BIGINT},
		#{remark,jdbcType=VARCHAR}, #{diagnosisStatus,jdbcType=SMALLINT},
		#{status,jdbcType=SMALLINT}, #{deleteFlag,jdbcType=SMALLINT},
		#{createBy,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.staitech.anno.domain.diagnosis.SpecialDiagnosis" useGeneratedKeys="true" keyProperty="specialDiagnosisId">
		insert into tb_special_diagnosis
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="specialDiagnosisId != null">
				special_diagnosis_id,
			</if>
			<if test="specialId != null">
				special_id,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="subImageId != null">
				sub_image_id,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="diagnosisStatus != null">
				diagnosis_status,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="specialDiagnosisId != null">
				#{specialDiagnosisId,jdbcType=BIGINT},
			</if>
			<if test="specialId != null">
				#{specialId,jdbcType=BIGINT},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=BIGINT},
			</if>
			<if test="subImageId != null">
				#{subImageId,jdbcType=BIGINT},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="diagnosisStatus != null">
				#{diagnosisStatus,jdbcType=SMALLINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag,jdbcType=SMALLINT},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.staitech.anno.domain.diagnosis.SpecialDiagnosis">
		update tb_special_diagnosis
		<set>
			<if test="specialId != null">
				special_id = #{specialId,jdbcType=BIGINT},
			</if>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=BIGINT},
			</if>
			<if test="subImageId != null">
				sub_image_id = #{subImageId,jdbcType=BIGINT},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="diagnosisStatus != null">
				diagnosis_status = #{diagnosisStatus,jdbcType=SMALLINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag,jdbcType=SMALLINT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=BIGINT},
			</if>
		</set>
		<where>
			<if test="specialDiagnosisId != null">
	       		AND special_diagnosis_id = #{specialDiagnosisId}
	      	</if>
	      	<if test="specialId != null">
	       		AND special_id = #{specialId}
	      	</if>
	      	<if test="projectId != null">
	       		AND project_id = #{projectId}
	      	</if>
	      	<if test="subImageId != null">
	       		AND sub_image_id = #{subImageId}
	      	</if>
	      	<if test="groupId != null">
	       		AND group_id = #{groupId}
	      	</if>
		</where>
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.staitech.anno.domain.diagnosis.SpecialDiagnosis">
		update
		tb_special_diagnosis
		set special_id = #{specialId,jdbcType=BIGINT},
		project_id = #{projectId,jdbcType=BIGINT},
		sub_image_id =
		#{subImageId,jdbcType=BIGINT},
		remark = #{remark,jdbcType=VARCHAR},
		diagnosis_status = #{diagnosisStatus,jdbcType=SMALLINT},
		status =
		#{status,jdbcType=SMALLINT},
		delete_flag =
		#{deleteFlag,jdbcType=SMALLINT},
		create_by =
		#{createBy,jdbcType=BIGINT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_by =
		#{updateBy,jdbcType=BIGINT},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where special_diagnosis_id =
		#{specialDiagnosisId,jdbcType=BIGINT}
	</update>

	<select id="getSpecialDiagnosisListByParm" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_special_diagnosis 
		<where>
			<if test="specialId != null">
				AND special_id = #{specialId}
			</if>
			<if test="projectId != null">
				AND project_id = #{projectId}
			</if>
			<if test="subImageId != null">
				AND sub_image_id = #{subImageId}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
			<if test="diagnosisStatus != null">
				AND diagnosis_status = #{diagnosisStatus}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="deleteFlag != null">
				AND delete_flag = #{deleteFlag}
			</if>
			<if test="createBy != null">
				AND create_by = #{createBy}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateBy != null">
				AND update_by = #{updateBy}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="groupId != null">
				AND group_id = #{groupId}
			</if>
		</where>
	</select>
	
	<select id="getStatisticsHeadVoListByParm" parameterType="map" resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsHeadVo">
		SELECT
			t3.gender,
			CASE
			WHEN t3.gender = 0 THEN
			'雌性'
			WHEN t3.gender = 1 THEN
			'雄性' ELSE '未知'
			END AS 'sex',
			t3.group_name,
			t3.dosage,
			count( 1 ) total
		FROM
			tb_slide t1
			LEFT JOIN tb_project t2 ON t1.project_id = t2.project_id
			LEFT JOIN tb_group t3 ON t1.group_id = t3.group_id
		WHERE
			t2.del_flag = 0
			AND t3.del_flag = 0
			<if test="reasons != null">
				AND t3.reasons = #{reasons}
			</if>
			AND t1.is_delete = 0
			<if test="specialId != null">
				AND t2.special_id = #{specialId}
			</if>
		GROUP BY
			t3.gender,
			sex,
			t3.group_name,
			t3.dosage
		ORDER BY
			t3.gender DESC,
			sex,
			t3.group_name,
			t3.dosage
	</select>
	
	<select id="getSysVisceraNameListByParm" parameterType="map"	resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsHeadVo">
		SELECT DISTINCT
			( aa.sys_viscera_name )
		FROM
		tb_special_diagnosis a
		LEFT JOIN (
		SELECT
		special_diagnosis_id,
		group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tag_name END )	sys_viscera_name,
		group_concat( CASE WHEN dict_type = 'sys_position'	THEN tag_name END )	sys_position_name,
		group_concat( CASE WHEN dict_type	= 'sys_lesion' THEN tag_name END )	sys_lesion_name,
		group_concat( CASE	WHEN dict_type = 'sys_ddefinition' THEN tag_name END )	sys_ddefinition_name,
		group_concat( CASE WHEN dict_type = 'sys_grade'	THEN tag_name END ) sys_grade_name
		FROM
		tb_special_diagnosis_detail
		GROUP	BY	special_diagnosis_id
		) AS aa ON a.special_diagnosis_id =	aa.special_diagnosis_id
		WHERE
		a.special_id = #{specialId}
		AND a.`status` =	#{status}
		AND a.group_id IN ( SELECT t4.group_id FROM tb_group t4 WHERE t4.special_id = #{specialId} AND t4.reasons = #{reasons} ) 
	</select>
	
	<select id="getDiagnosedListByParm" parameterType="map"	resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsBodyVo">
		SELECT
			g2.total 
		FROM
		(
		SELECT
			( SELECT g.gender FROM tb_group g WHERE g.group_id = p1.group_id ) gender,
			( SELECT g.group_name FROM tb_group g WHERE g.group_id = p1.group_id ) group_name,
			( SELECT g.dosage FROM tb_group g WHERE g.group_id = p1.group_id ) dosage,
			p1.sys_viscera,
			p2.sys_viscera_name,
			count( 1 ) total 
		FROM
			(
			SELECT
				aa.sys_viscera,
				aa.sys_position,	
				aa.sys_grade,
				aa.sys_ddefinition,
				aa.sys_lesion,
				a.* 
			FROM
				tb_special_diagnosis a
				LEFT JOIN (
				SELECT
					special_diagnosis_id,
					group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tags END ) sys_viscera,
					group_concat( CASE WHEN dict_type = 'sys_position' THEN tags END ) sys_position,
					group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tags END ) sys_lesion,
					group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tags END ) sys_ddefinition,
					group_concat( CASE WHEN dict_type = 'sys_grade' THEN tags END ) sys_grade 
				FROM
					tb_special_diagnosis_detail 
				GROUP BY
					special_diagnosis_id 
				) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
			) p1,
			(
			SELECT
				aa.sys_viscera_name,
				aa.sys_position_name,
				aa.sys_grade_name,
				aa.sys_ddefinition_name,
				aa.sys_lesion_name,
				a.special_diagnosis_id 
			FROM
				tb_special_diagnosis a
				LEFT JOIN (
				SELECT
					special_diagnosis_id,
					group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tag_name END ) sys_viscera_name,
					group_concat( CASE WHEN dict_type = 'sys_position' THEN tag_name END ) sys_position_name,
					group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tag_name END ) sys_lesion_name,
					group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tag_name END ) sys_ddefinition_name,
					group_concat( CASE WHEN dict_type = 'sys_grade' THEN tag_name END ) sys_grade_name 
				FROM
					tb_special_diagnosis_detail 
				GROUP BY
					special_diagnosis_id 
				) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
			) p2 
		WHERE
			p1.special_diagnosis_id = p2.special_diagnosis_id 
			AND p1.special_id = #{specialId}
			AND p1.`status` = #{status} 
			<if test="sysGrade != null">
				AND p1.sys_grade = #{sysGrade}
			</if>
		GROUP BY
			gender,
			group_name,
			dosage,
			p1.sys_viscera,
			p2.sys_viscera_name 
		ORDER BY
			gender DESC,
			group_name,
			dosage 
		) g2 
	WHERE
		g2.gender = #{gender} 
		AND g2.group_name = #{groupName}
		AND g2.dosage = #{dosage}
		AND g2.sys_viscera_name = #{sysVisceraName}
</select>

<select id="getLessionListByParm" parameterType="map"	resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsBodyVo">
			SELECT
				sys_lesion_name,
				sys_position_name,
				sys_grade_name,
				count( 1 ) total 
			FROM
			(
			SELECT
				aa.sys_lesion_name sys_lesion_name,
				aa.sys_position_name sys_position_name,
				aa.sys_grade_name sys_grade_name 
			FROM
				tb_special_diagnosis a
				LEFT JOIN (
				SELECT
					special_diagnosis_id,
					group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tag_name END ) sys_viscera_name,
					group_concat( CASE WHEN dict_type = 'sys_position' THEN tag_name END ) sys_position_name,
					group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tag_name END ) sys_lesion_name,
					group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tag_name END ) sys_ddefinition_name,
					group_concat( CASE WHEN dict_type = 'sys_grade' THEN tag_name END ) sys_grade_name 
				FROM
					tb_special_diagnosis_detail 
				GROUP BY
					special_diagnosis_id 
				) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
			WHERE
				a.special_id = #{specialId} 
				AND a.`status` = #{status} 
				AND aa.sys_grade_name is not NULL
				and aa.sys_grade_name != '未见明显异常'
				AND a.group_id IN ( SELECT t4.group_id FROM tb_group t4 WHERE t4.special_id = #{specialId}  AND t4.reasons = #{reasons} ) 
			ORDER BY
				aa.sys_grade_name DESC 
			) P 
			GROUP BY
				sys_lesion_name,
				sys_position_name,
				sys_grade_name
	</select>
	
	<select id="getLessionStaticsListByParm" parameterType="map"	resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsBodyVo">
		SELECT
			* 
		FROM
			(
			SELECT
				( SELECT g.gender FROM tb_group g WHERE g.group_id = p1.group_id ) gender,
				( SELECT g.group_name FROM tb_group g WHERE g.group_id = p1.group_id ) group_name,
				( SELECT g.dosage FROM tb_group g WHERE g.group_id = p1.group_id ) dosage,
				p1.sys_viscera,
				p2.sys_viscera_name,
				p2.sys_lesion_name,
				p2.sys_position_name,
				count( 1 ) total 
			FROM
				(
				SELECT
					aa.sys_viscera,
					aa.sys_position,
					aa.sys_grade,
					aa.sys_ddefinition,
					aa.sys_lesion,
					a.* 
				FROM
					tb_special_diagnosis a
					LEFT JOIN (
					SELECT
						special_diagnosis_id,
						group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tags END ) sys_viscera,
						group_concat( CASE WHEN dict_type = 'sys_position' THEN tags END ) sys_position,
						group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tags END ) sys_lesion,
						group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tags END ) sys_ddefinition,
						group_concat( CASE WHEN dict_type = 'sys_grade' THEN tags END ) sys_grade 
					FROM
						tb_special_diagnosis_detail 
					GROUP BY
						special_diagnosis_id 
					) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
				) p1,
				(
				SELECT
					aa.sys_viscera_name,
					aa.sys_position_name,
					aa.sys_grade_name,
					aa.sys_ddefinition_name,
					aa.sys_lesion_name,
					a.special_diagnosis_id 
				FROM
					tb_special_diagnosis a
					LEFT JOIN (
					SELECT
						special_diagnosis_id,
						group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tag_name END ) sys_viscera_name,
						group_concat( CASE WHEN dict_type = 'sys_position' THEN tag_name END ) sys_position_name,
						group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tag_name END ) sys_lesion_name,
						group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tag_name END ) sys_ddefinition_name,
						group_concat( CASE WHEN dict_type = 'sys_grade' THEN tag_name END ) sys_grade_name 
					FROM
						tb_special_diagnosis_detail 
					GROUP BY
						special_diagnosis_id 
					) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
				) p2 
			WHERE
				p1.special_diagnosis_id = p2.special_diagnosis_id 
				AND p1.special_id =  #{specialId}
				AND p1.`status` = #{status} 
				AND p2.sys_lesion_name =  #{sysLesionName}
				AND p2.sys_position_name =  #{sysPositionName}
				AND p2.sys_viscera_name =  #{sysVisceraName}
				
			GROUP BY
				gender,
				group_name,
				dosage,
				p1.sys_viscera,
				p2.sys_viscera_name,
				p2.sys_lesion_name,
				p2.sys_position_name 
			ORDER BY
				gender DESC,
				group_name,
				dosage 
			) g2 
		WHERE
			g2.gender = #{gender}
			AND g2.group_name = #{groupName}
			AND g2.dosage = #{dosage}
	</select>
	
	
	<select id="getLessionGradeStaticsListByParm" parameterType="map"	resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsBodyVo">
		SELECT
			* 
		FROM
			(
			SELECT
				( SELECT g.gender FROM tb_group g WHERE g.group_id = p1.group_id ) gender,
				( SELECT g.group_name FROM tb_group g WHERE g.group_id = p1.group_id ) group_name,
				( SELECT g.dosage FROM tb_group g WHERE g.group_id = p1.group_id ) dosage,
				p1.sys_viscera,
				p2.sys_viscera_name,
				p2.sys_lesion_name,
				p2.sys_position_name,
				p2.sys_grade_name,
				count( 1 ) total 
			FROM
				(
				SELECT
					aa.sys_viscera,
					aa.sys_position,
					aa.sys_grade,
					aa.sys_ddefinition,
					aa.sys_lesion,
					a.* 
				FROM
					tb_special_diagnosis a
					LEFT JOIN (
					SELECT
						special_diagnosis_id,
						group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tags END ) sys_viscera,
						group_concat( CASE WHEN dict_type = 'sys_position' THEN tags END ) sys_position,
						group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tags END ) sys_lesion,
						group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tags END ) sys_ddefinition,
						group_concat( CASE WHEN dict_type = 'sys_grade' THEN tags END ) sys_grade 
					FROM
						tb_special_diagnosis_detail 
					GROUP BY
						special_diagnosis_id 
					) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
				) p1,
				(
				SELECT
					aa.sys_viscera_name,
					aa.sys_position_name,
					aa.sys_grade_name,
					aa.sys_ddefinition_name,
					aa.sys_lesion_name,
					a.special_diagnosis_id 
				FROM
					tb_special_diagnosis a
					LEFT JOIN (
					SELECT
						special_diagnosis_id,
						group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tag_name END ) sys_viscera_name,
						group_concat( CASE WHEN dict_type = 'sys_position' THEN tag_name END ) sys_position_name,
						group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tag_name END ) sys_lesion_name,
						group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tag_name END ) sys_ddefinition_name,
						group_concat( CASE WHEN dict_type = 'sys_grade' THEN tag_name END ) sys_grade_name 
					FROM
						tb_special_diagnosis_detail 
					GROUP BY
						special_diagnosis_id 
					) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
				) p2 
			WHERE
				p1.special_diagnosis_id = p2.special_diagnosis_id 
				AND p1.special_id =  #{specialId}
				AND p1.`status` = #{status} 
				AND p2.sys_lesion_name =  #{sysLesionName}
				AND p2.sys_position_name =  #{sysPositionName}
				AND p2.sys_viscera_name =  #{sysVisceraName}
				AND p2.sys_grade_name =  #{sysGradeName}
				
			GROUP BY
				gender,
				group_name,
				dosage,
				p1.sys_viscera,
				p2.sys_viscera_name,
				p2.sys_lesion_name,
				p2.sys_position_name ,
				p2.sys_grade_name
			ORDER BY
				gender DESC,
				group_name,
				dosage 
			) g2 
		WHERE
			g2.gender = #{gender}
			AND g2.group_name = #{groupName}
			AND g2.dosage = #{dosage}
	</select>
	
	<select id="getNeedStaticsListByParm" parameterType="map"	resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsBodyVo">
		SELECT
			CASE
					
				WHEN
					p2.gender = 0 THEN
						'雌性' 
						WHEN p2.gender = 1 THEN
						'雄性' ELSE '未知' 
					END AS 'gender_name',
					p2.group_name,
					p2.dosage,
					p1.sys_viscera_name,
					p1.sys_grade_name,
					p1.sys_lesion_name,
					p1.sys_position_name 
				FROM
					(
					SELECT
						a.special_diagnosis_id,
						a.special_id,
						a.group_id,
						a.project_id,
						a.sub_image_id,
						a.diagnosis_status,
						a.`status`,
						aa.sys_viscera_name sys_viscera_name,
						aa.sys_lesion_name sys_lesion_name,
						aa.sys_position_name sys_position_name,
						aa.sys_grade_name sys_grade_name 
					FROM
						tb_special_diagnosis a
						LEFT JOIN (
						SELECT
							special_diagnosis_id,
							group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tag_name END ) sys_viscera_name,
							group_concat( CASE WHEN dict_type = 'sys_position' THEN tag_name END ) sys_position_name,
							group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tag_name END ) sys_lesion_name,
							group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tag_name END ) sys_ddefinition_name,
							group_concat( CASE WHEN dict_type = 'sys_grade' THEN tag_name END ) sys_grade_name 
						FROM
							tb_special_diagnosis_detail 
						GROUP BY
							special_diagnosis_id 
						) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
					WHERE
						a.special_id = #{specialId} 
						AND a.`status` = #{status} 
						AND a.group_id IN ( SELECT t4.group_id FROM tb_group t4 WHERE t4.special_id = #{specialId} AND t4.reasons = #{reasons} ) 
					) p1
					LEFT JOIN tb_group p2 ON p1.group_id = p2.group_id 
				WHERE
					p2.special_id = #{specialId} 
					AND p2.reasons = #{reasons}
					AND p1.sys_viscera_name is not NULL
					AND p1.sys_grade_name is not NULL
				ORDER BY
					p2.gender DESC,
					p2.group_name,
					p2.dosage,
					p1.sys_viscera_name,
					p1.sys_lesion_name,
				p1.sys_position_name,
				p1.sys_grade_name 
	</select>
	
	<select id="getStaticsVisceraListByParm" parameterType="map"	resultType="cn.staitech.anno.domain.vo.diagnosis.StatisticsBodyVo">
	
		SELECT
			sys_viscera_name,
			sys_lesion_name,
			sys_position_name,
			sys_grade_name,
			count( 1 ) total 
		FROM
			(
			SELECT
				aa.sys_viscera_name,
				aa.sys_lesion_name sys_lesion_name,
				aa.sys_position_name sys_position_name,
				aa.sys_grade_name sys_grade_name 
			FROM
				tb_special_diagnosis a
				LEFT JOIN (
				SELECT
					special_diagnosis_id,
					group_concat( CASE WHEN dict_type = 'sys_viscera' THEN tag_name END ) sys_viscera_name,
					group_concat( CASE WHEN dict_type = 'sys_position' THEN tag_name END ) sys_position_name,
					group_concat( CASE WHEN dict_type = 'sys_lesion' THEN tag_name END ) sys_lesion_name,
					group_concat( CASE WHEN dict_type = 'sys_ddefinition' THEN tag_name END ) sys_ddefinition_name,
					group_concat( CASE WHEN dict_type = 'sys_grade' THEN tag_name END ) sys_grade_name 
				FROM
					tb_special_diagnosis_detail 
				GROUP BY
					special_diagnosis_id 
				) AS aa ON a.special_diagnosis_id = aa.special_diagnosis_id 
			WHERE
				a.special_id = #{specialId}
				AND a.`status` = #{status}
				and aa.sys_grade_name != '未见明显异常'
				AND a.group_id IN ( SELECT t4.group_id FROM tb_group t4 WHERE t4.special_id = #{specialId} AND t4.reasons = #{reasons} )
				ORDER BY aa.sys_grade_name DESC ) P 
			GROUP BY
				sys_viscera_name,
				sys_lesion_name,
				sys_position_name,
				sys_grade_name 
		ORDER BY
			sys_viscera_name
	
	
	</select>
</mapper>