<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.StatisticMapper">
    <resultMap id="StatisticResult" type="cn.staitech.anno.domain.vo.statistic.StatisticObjectOutVO">
        <result property="statisticCount" column="annotation_count"/>
        <result property="statisticCount" column="image_count"/>
        <result property="statisticId" column="project_id"/>
        <result property="statisticName" column="project_name"/>
        <result property="statisticId" column="indicator_id"/>
        <result property="statisticName" column="indicator_name"/>
        <result property="statisticId" column="category_id"/>
        <result property="statisticName" column="category_name"/>
        <result property="statisticId" column="create_by"/>
        <result property="statisticName" column="user_name"/>
        <result property="statisticId" column="image_id"/>
        <result property="statisticName" column="image_name"/>
        <result property="statisticDate" column="statistic_date"/>
    </resultMap>

    <resultMap id="AnnotationResult"
               type="cn.staitech.anno.domain.vo.statistic.AnnotationStatisticIdListOutVO">
        <result property="statisticId" column="project_id"/>
        <result property="statisticName" column="project_name"/>
        <result property="statisticId" column="indicator_id"/>
        <result property="statisticName" column="indicator_name"/>
        <result property="statisticId" column="category_id"/>
        <result property="statisticName" column="category_name"/>
        <result property="statisticId" column="user_id"/>
        <result property="statisticName" column="user_name"/>
        <result property="statisticId" column="image_id"/>
        <result property="statisticName" column="image_name"/>
    </resultMap>

    <resultMap id="AnnotationPageResult"
               type="cn.staitech.anno.domain.vo.statistic.AnnotationStatisticListPageOutVO">
        <result property="markingId" column="marking_id"/>
    </resultMap>

    <resultMap id="UserListResult" type="cn.staitech.anno.domain.vo.statistic.StatisticUserListOutVO">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <resultMap id="EarliestDateResult" type="cn.staitech.anno.domain.vo.statistic.TableDateOutVO">
        <result property="earliestDate" column="earliest_date"/>
    </resultMap>

    <resultMap id="DictDataResult"
               type="cn.staitech.anno.domain.vo.statistic.StatisticSysDictDataOutVO">
        <result property="dictCode" column="dict_code"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictSort" column="dict_sort"/>
    </resultMap>

    <sql id="statisticSelectAnnotationSql">
        AND a.category_id != 1
        <if test="organizationId !=null and organizationId !=0">
            AND a.organization_id =#{organizationId}
        </if>
        <if test="startTime != null and startTime != ''">
            <!-- 开始时间检索 -->
            AND date_format(a.update_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            <!-- 结束时间检索 -->
            AND date_format(a.update_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
        </if>
        <if test="projectIdList != null and projectIdList.size() >0 ">
            AND a.project_id IN
            <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
        <if test="indicatorIdList != null and indicatorIdList.size() >0 ">
            AND a.project_id IN
            (
            SELECT
            p.project_id
            FROM
            tb_project as p
            WHERE
            indicator_id IN
            <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                #{indicatorId}
            </foreach>
            )
        </if>
        <if test="categoryIdList != null and categoryIdList.size() >0">
            AND a.category_id IN
            <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        <if test="userIdList != null and userIdList.size() >0 ">
            AND a.create_by IN
            <foreach collection="userIdList" item="createBy" open="(" separator="," close=")">
                #{createBy}
            </foreach>
        </if>
        <if test="slideIdList != null and slideIdList.size() >0 ">
            AND a.slide_id IN
            <foreach collection="slideIdList" item="slideId" open="(" separator="," close=")">
                #{slideId}
            </foreach>
        </if>
        <!--<if test="examinationFlag != null and examinationFlag == 45 or examinationFlag == 46 or examinationFlag == 47 ">
            AND a.slide_id IN (
            <if test="examinationFlag == 45 ">&#45;&#45; 图像标注完成
                SELECT s.slide_id FROM tb_slide as s WHERE s.process_flag = 2
            </if>
            <if test="examinationFlag == 46 ">&#45;&#45; 图像复核通过
                SELECT s.slide_id FROM tb_slide as s WHERE s.examination_flag = 2
            </if>
            <if test="examinationFlag == 47 ">&#45;&#45; 图像交付
                SELECT s.slide_id FROM tb_slide as s WHERE s.examination_flag = 4
            </if>
            )
        </if>-->

        <if test="examinationFlag != null and examinationFlag != ''">
            AND a.slide_id IN (
            SELECT s.slide_id FROM tb_slide as s WHERE s.status = #{examinationFlag})
        </if>
    </sql>

    <sql id="statisticSelectImageSql">
        <if test="startTime != null and startTime != ''">
            <!-- 开始时间检索 -->
            AND date_format(s.create_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            <!-- 结束时间检索 -->
            AND date_format(s.create_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
        </if>
        <if test="projectIdList != null and projectIdList.size() >0 ">
            AND s.project_id IN
            <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
        <if test="indicatorIdList != null and indicatorIdList.size() >0 ">
            AND s.project_id IN
            (
            SELECT
            p.project_id
            FROM
            tb_project AS p
            WHERE
            p.indicator_id IN
            <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                #{indicatorId}
            </foreach>
            )
        </if>
        <if test="categoryIdList != null and categoryIdList.size() >0">
            AND s.slide_id IN
            (
            SELECT
            a.slide_id
            FROM
            tb_annotation AS a
            WHERE a.category_id IN
            <foreach collection="categoryIdList" item="categoryIdId" open="(" separator="," close=")">
                #{categoryIdId}
            </foreach>
            )
        </if>
        <if test="userIdList != null and userIdList.size() >0 ">
            AND s.create_by IN
            <foreach collection="userIdList" item="createBy" open="(" separator="," close=")">
                #{createBy}
            </foreach>
        </if>
        <if test="slideIdList != null and slideIdList.size() >0 ">
            AND s.slide_id IN
            <foreach collection="slideIdList" item="slideId" open="(" separator="," close=")">
                #{slideId}
            </foreach>
        </if>
        <!--<if test="examinationFlag != null and examinationFlag == 45 or examinationFlag == 46 or examinationFlag == 47 ">
            AND
            <if test="examinationFlag == 45 ">&#45;&#45; 图像标注完成
                s.process_flag = 2
            </if>
            <if test="examinationFlag == 46 ">&#45;&#45; 图像复核通过
                s.examination_flag = 2
            </if>
            <if test="examinationFlag == 47 ">&#45;&#45; 图像交付
                s.examination_flag = 4
            </if>
        </if>-->
        <if test="examinationFlag != null and examinationFlag !=''">
            AND s.status = #{examinationFlag}
        </if>
    </sql>

    <!--综合统计列表：标注数量-项目-->
    <select id="statisticSelectAnnoProjectList" parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="StatisticResult">
        SELECT
        a.project_id,
        p.project_name,
        count(a.marking_id) as annotation_count
        FROM
        tb_marking as a
        inner join tb_project as p on a.project_id = p.project_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY a.project_id,project_name
        order by a.project_id desc
    </select>

    <!--综合统计列表：标注数量-病理指标-->
    <select id="statisticSelectAnnoIndicatorList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        pi.indicator_id,
        pi.indicator_name,
        count(a.marking_id) as annotation_count
        FROM
        tb_marking AS a
        INNER JOIN tb_project AS p ON a.project_id = p.project_id
        INNER JOIN tb_pathological_indicator AS pi ON pi.indicator_id = p.indicator_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY pi.indicator_id, pi.indicator_name
        order by pi.indicator_id desc
    </select>

    <!--综合统计列表：标注数量-标注类别-->
    <select id="statisticSelectAnnoCategoryList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        pic.category_id,
        pic.category_name,
        count(a.marking_id) as annotation_count
        FROM
        tb_marking AS a
        left JOIN tb_pathological_indicator_category AS pic ON a.category_id = pic.category_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY pic.category_id, pic.category_name
        order by pic.category_id desc
    </select>

    <!--综合统计列表：标注数量-成员-->
    <select id="statisticSelectMemberList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT a.create_by,
        u.user_name,
        count(a.marking_id) AS annotation_count
        FROM tb_marking AS a
        LEFT JOIN sys_user u ON a.create_by = u.user_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY a.create_by
        ORDER BY a.create_by DESC
    </select>

    <!--综合统计列表：标注数量-图像-->
    <select id="statisticSelectAnnoImageList" parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="StatisticResult">
        SELECT
        i.image_id,
        i.image_name,
        count(a.marking_id) as annotation_count
        FROM
        tb_marking AS a
        INNER JOIN tb_image AS i ON a.image_id = i.image_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY i.image_id, i.image_name
        order by i.image_id desc
    </select>

    <!--综合统计列表：标注数量-日期-按天统计-->
    <select id="statisticSelectAnnoDateDaysList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        DATE_FORMAT(a.update_time,'%Y-%m-%d') as statistic_date,
        count(a.annotation_id) as annotation_count
        FROM
        tb_annotation AS a
        <where>
            AND a.category_id != 1
            <if test="startTime != null and startTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(a.update_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(a.update_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="projectIdList != null and projectIdList.size() >0 ">
                AND a.project_id IN
                <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
            <if test="indicatorIdList != null and indicatorIdList.size() >0 ">
                AND a.project_id IN
                (
                SELECT
                p.project_id
                FROM
                tb_project as p
                WHERE
                indicator_id IN
                <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                    #{indicatorId}
                </foreach>
                )
            </if>
            <if test="categoryIdList != null and categoryIdList.size() >0">
                AND a.category_id IN
                <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
            <if test="userIdList != null and userIdList.size() >0 ">
                AND a.create_by IN
                <foreach collection="userIdList" item="createBy" open="(" separator="," close=")">
                    #{createBy}
                </foreach>
            </if>
            <if test="slideIdList != null and slideIdList.size() >0 ">
                AND a.slide_id IN
                <foreach collection="slideIdList" item="slideId" open="(" separator="," close=")">
                    #{slideId}
                </foreach>
            </if>
            <!--<if test="examinationFlag != null and examinationFlag == 45 or examinationFlag == 46 or examinationFlag == 47 ">
                AND a.slide_id IN (
                <if test="examinationFlag == 45 ">&#45;&#45; 图像标注完成
                    SELECT s.slide_id FROM tb_slide as s WHERE s.process_flag = 2
                </if>
                <if test="examinationFlag == 46 ">&#45;&#45; 图像复核通过
                    SELECT s.slide_id FROM tb_slide as s WHERE s.examination_flag = 2
                </if>
                <if test="examinationFlag == 47 ">&#45;&#45; 图像交付
                    SELECT s.slide_id FROM tb_slide as s WHERE s.examination_flag = 4
                </if>
                )
            </if>-->
            <if test="examinationFlag != null and examinationFlag !=''">
                AND s.status = #{examinationFlag}
            </if>
        </where>
        GROUP BY DATE_FORMAT(a.update_time,'%Y-%m-%d')
        order by statistic_date desc
    </select>

    <!--综合统计列表：标注数量-日期-按天统计-->
    <select id="statisticSelectAnnoDateDaysListExt"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        DATE_FORMAT(a.update_time,'%Y-%m-%d') as statistic_date,
        count(a.marking_id) as annotation_count
        FROM
        tb_marking AS a
        left join tb_project as p
        on a.project_id=p.project_id
        left join tb_slide as s
        on a.slide_id=s.slide_id
        left join tb_project_member pm
        on p.project_id = pm.project_id
        where a.category_id != 1
        <if test="organizationId != null and organizationId !=0">
            AND a.organization_id = #{organizationId}
        </if>
        <if test="member !=null and member != 0">
            AND pm.user_id = #{member}
        </if>
        <if test="startTime != null and startTime != ''">
            <!-- 开始时间检索 -->
            AND date_format(a.create_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            <!-- 结束时间检索 -->
            AND date_format(a.create_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
        </if>
        <if test="projectIdList != null and projectIdList.size() >0 ">
            AND a.project_id IN
            <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
        <if test="indicatorIdList != null and indicatorIdList.size() >0 ">
            AND p.indicator_id IN
            <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                #{indicatorId}
            </foreach>
            )
        </if>
        <if test="categoryIdList != null and categoryIdList.size() >0">
            AND a.category_id IN
            <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        <if test="userIdList != null and userIdList.size() >0 ">
            AND a.create_by IN
            <foreach collection="userIdList" item="createBy" open="(" separator="," close=")">
                #{createBy}
            </foreach>
        </if>
        <if test="slideIdList != null and slideIdList.size() >0 ">
            AND a.slide_id IN
            <foreach collection="slideIdList" item="slideId" open="(" separator="," close=")">
                #{slideId}
            </foreach>
        </if>
        <if test="examinationFlag != null and examinationFlag !=''">
            AND s.status = #{examinationFlag}
        </if>
        GROUP BY DATE_FORMAT(a.update_time,'%Y-%m-%d')
        order by statistic_date desc
    </select>

    <!--综合统计列表：标注数量-日期-按月统计-->
    <select id="statisticSelectAnnoDateMonthsList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        DATE_FORMAT(a.create_time,'%Y-%m') as statistic_date,
        count(a.annotation_id) as annotation_count
        FROM
        tb_annotation AS a
        <where>
            AND a.category_id != 1
            <if test="startTime != null and startTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(a.update_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(a.update_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="projectIdList != null and projectIdList.size() >0 ">
                AND a.project_id IN
                <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
            <if test="indicatorIdList != null and indicatorIdList.size() >0 ">
                AND a.project_id IN
                (
                SELECT
                p.project_id
                FROM
                tb_project as p
                WHERE
                indicator_id IN
                <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                    #{indicatorId}
                </foreach>
                )
            </if>
            <if test="categoryIdList != null and categoryIdList.size() >0">
                AND a.category_id IN
                <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
            <if test="userIdList != null and userIdList.size() >0 ">
                AND a.create_by IN
                <foreach collection="userIdList" item="createBy" open="(" separator="," close=")">
                    #{createBy}
                </foreach>
            </if>
            <if test="slideIdList != null and slideIdList.size() >0 ">
                AND a.slide_id IN
                <foreach collection="slideIdList" item="slideId" open="(" separator="," close=")">
                    #{slideId}
                </foreach>
            </if>
            <if test="examinationFlag != null and examinationFlag == 45 or examinationFlag == 46 or examinationFlag == 47 ">
                AND a.slide_id IN (
                <if test="examinationFlag == 45 ">
                    -- 图像标注完成
                    SELECT s.slide_id FROM tb_slide as s WHERE s.process_flag = 2
                </if>
                <if test="examinationFlag == 46 ">
                    -- 图像复核通过
                    SELECT s.slide_id FROM tb_slide as s WHERE s.examination_flag = 2
                </if>
                <if test="examinationFlag == 47 ">
                    -- 图像交付
                    SELECT s.slide_id FROM tb_slide as s WHERE s.examination_flag = 4
                </if>
                )
            </if>
        </where>
        GROUP BY DATE_FORMAT(a.create_time,'%Y-%m')
        order by statistic_date desc
    </select>

    <select id="statisticSelectAnnoDateMonthsListExt"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        DATE_FORMAT(a.update_time,'%Y-%m') as statistic_date,
        count(a.marking_id) as annotation_count
        FROM
        tb_marking AS a
        left join tb_project as p
        on a.project_id=p.project_id
        left join tb_slide as s
        on a.slide_id=s.slide_id
        left join tb_project_member pm
        on p.project_id = pm.project_id
        where a.category_id != 1
        <if test="organizationId != null and organizationId !=0">
            AND a.organization_id = #{organizationId}
        </if>
        <if test="member !=null and member != 0">
            AND pm.user_id = #{member}
        </if>
        <if test="startTime != null and startTime != ''">
            <!-- 开始时间检索 -->
            AND date_format(a.create_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            <!-- 结束时间检索 -->
            AND date_format(a.create_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
        </if>
        <if test="projectIdList != null and projectIdList.size() >0 ">
            AND a.project_id IN
            <foreach collection="projectIdList" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
        <if test="indicatorIdList != null and indicatorIdList.size() >0 ">
            AND p.indicator_id IN
            <foreach collection="indicatorIdList" item="indicatorId" open="(" separator="," close=")">
                #{indicatorId}
            </foreach>
            )
        </if>
        <if test="categoryIdList != null and categoryIdList.size() >0">
            AND a.category_id IN
            <foreach collection="categoryIdList" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        <if test="userIdList != null and userIdList.size() >0 ">
            AND a.create_by IN
            <foreach collection="userIdList" item="createBy" open="(" separator="," close=")">
                #{createBy}
            </foreach>
        </if>
        <if test="slideIdList != null and slideIdList.size() >0 ">
            AND a.slide_id IN
            <foreach collection="slideIdList" item="slideId" open="(" separator="," close=")">
                #{slideId}
            </foreach>
        </if>
        <if test="examinationFlag != null and examinationFlag !=''">
            AND s.status = #{examinationFlag}
        </if>
        GROUP BY DATE_FORMAT(a.update_time,'%Y-%m')
        order by statistic_date desc
    </select>


    <!--综合统计列表：图像数量-项目-->
    <select id="statisticSelectImageProjectList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        p.project_id,
        p.project_name,
        count(s.slide_id) as image_count
        FROM
        tb_slide AS s
        INNER JOIN tb_project AS p ON s.project_id = p.project_id
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and p.organization_id =#{organizationId}
            </if>
            <include refid="statisticSelectImageSql"/>
        </where>
        GROUP BY p.project_id, p.project_name
        order by p.project_id desc
    </select>

    <!--综合统计列表：图像数量-病理指标-->
    <select id="statisticSelectImageIndicatorList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        pi.indicator_id,
        pi.indicator_name,
        count(s.slide_id) as image_count
        FROM
        tb_slide AS s
        INNER JOIN tb_project AS p ON s.project_id = p.project_id
        INNER JOIN tb_pathological_indicator AS pi ON pi.indicator_id = p.indicator_id
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and p.organization_id =#{organizationId}
            </if>
            <include refid="statisticSelectImageSql"/>
        </where>
        GROUP BY pi.indicator_id, pi.indicator_name
        order by pi.indicator_id desc
    </select>

    <!--综合统计列表：图像数量-标注类别-->
    <select id="statisticSelectImageCategoryList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        pic.category_id,
        pic.category_name,
        pic.indicator_id,
        count(
        DISTINCT ( a.slide_id )) image_count
        FROM
        tb_marking a
        LEFT JOIN tb_slide s ON s.slide_id = a.slide_id
        LEFT JOIN tb_pathological_indicator_category pic ON a.category_id = pic.category_id
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and a.organization_id =#{organizationId}
            </if>
            <include refid="statisticSelectImageSql"/>
        </where>
        GROUP BY
        a.category_id
        ORDER BY
        a.category_id DESC
    </select>

    <!--综合统计列表：图像数量-成员-->
    <select id="statisticSelectImageMemberList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        s.create_by,
        u.user_name,
        count(DISTINCT s.slide_id ) image_count
        FROM
        `tb_slide` s
        LEFT JOIN sys_user u ON u.user_id = s.create_by
        LEFT JOIN tb_project p ON p.project_id = s.project_id
        LEFT JOIN tb_pathological_indicator pi ON pi.indicator_id = p.indicator_id
        LEFT JOIN tb_pathological_indicator_category pic ON pic.indicator_id = pi.indicator_id
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and p.organization_id =#{organizationId}
            </if>
            <include refid="statisticSelectImageSql"/>
        </where>
        GROUP BY
        s.create_by
        ORDER BY
        s.create_by DESC
    </select>

    <!--综合统计列表：图像数量-日期  按天统计-->
    <select id="statisticSelectImageDateDaysList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        DATE_FORMAT(a.create_time,'%Y-%m-%d') as statistic_date,
        count(distinct(s.slide_id)) as image_count
        FROM
        tb_slide AS s
        inner join tb_marking AS a on s.slide_id = a.slide_id
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and a.organization_id =#{organizationId}
            </if>
            <include refid="statisticSelectImageSql"/>
        </where>
        GROUP BY DATE_FORMAT(a.create_time,'%Y-%m-%d')
        order by statistic_date desc
    </select>

    <!--综合统计列表：图像数量-日期  按月统计-->
    <select id="statisticSelectImageDateMonthsList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO" resultMap="StatisticResult">
        SELECT
        DATE_FORMAT(a.create_time,'%Y-%m') as statistic_date,
        count(distinct(s.slide_id)) as image_count
        FROM
        tb_slide AS s
        inner join tb_marking AS a on s.slide_id = a.slide_id
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and a.organization_id =#{organizationId}
            </if>
            <include refid="statisticSelectImageSql"/>
        </where>
        GROUP BY DATE_FORMAT(a.create_time,'%Y-%m')
        order by statistic_date desc
    </select>


    <!--综合统计列表: 成员列表-标注  -->
    <select id="queryAnnotationMembersList" parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="UserListResult">
        SELECT DISTINCT
        u.user_id,
        u.user_name
        FROM
        tb_marking a
        LEFT JOIN sys_user u ON u.user_id = a.create_by
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        ORDER BY
        u.user_id DESC
    </select>

    <!--综合统计列表: 成员列表-图像  -->
    <select id="queryImageMembersList" parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="UserListResult">
        SELECT DISTINCT
        u.user_id,
        u.user_name
        FROM
        tb_slide s
        LEFT JOIN sys_user u ON u.user_id = s.create_by
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and u.organization_id =#{organizationId}
            </if>
            <include refid="statisticSelectImageSql"/>
        </where>
        ORDER BY
        u.user_id DESC
    </select>


    <!--标注统计列表: 项目列表 inner join 和left join 效果一样标准从属于一个项目 -->
    <select id="statisticSelectAnnoProjectIdList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="AnnotationResult">
        SELECT
        p.project_id,
        p.project_name
        FROM
        tb_marking as a
        inner join tb_project as p on a.project_id = p.project_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY a.project_id
        order by a.project_id desc
    </select>

    <!--标注统计列表: 病理指标列表-->
    <select id="statisticSelectAnnoIndicatorIdList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="AnnotationResult">
        SELECT
        pi.indicator_id,
        pi.indicator_name
        FROM
        tb_marking AS a
        INNER JOIN tb_project AS p ON a.project_id = p.project_id
        INNER JOIN tb_pathological_indicator AS pi ON pi.indicator_id = p.indicator_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY pi.indicator_id
        order by pi.indicator_id desc
    </select>

    <!--标注统计列表: 标注类别列表-->
    <select id="statisticSelectAnnoCategoryIdList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="AnnotationResult">
        SELECT
        pic.category_id,
        pic.category_name
        FROM
        tb_marking AS a
        left JOIN tb_pathological_indicator_category AS pic ON a.category_id = pic.category_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY a.category_id
        order by a.category_id desc
    </select>

    <!--标注统计列表: 成员列表  -->
    <select id="statisticSelectAnnoMembersIdList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="AnnotationResult">
        SELECT DISTINCT
        u.user_id,
        u.user_name
        FROM
        tb_marking a
        LEFT JOIN sys_user u ON u.user_id = a.create_by
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        ORDER BY
        u.user_id DESC
    </select>

    <!--标注统计列表: 图像列表-->
    <select id="statisticSelectAnnoImageIdList"
            parameterType="cn.staitech.anno.domain.vo.statistic.StatisticListInVO"
            resultMap="AnnotationResult">
        SELECT
        i.image_id,
        i.image_name
        FROM
        tb_marking AS a
        INNER JOIN tb_image AS i ON a.image_id = i.image_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
        </where>
        GROUP BY i.image_id
        order by i.image_id desc
    </select>


    <!--标注统计列表-项目Page-->
    <select id="statisticSelectAnnoProjectPageList"
            parameterType="cn.staitech.anno.domain.vo.statistic.AnnotationStatisticListPageInVO"
            resultMap="AnnotationPageResult">
        SELECT
        p.project_id,
        p.project_name,
        a.marking_id
        FROM
        tb_marking as a
        inner join tb_project as p on a.project_id = p.project_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
            AND p.project_id = #{statisticId}
        </where>
        ORDER BY
        a.project_id DESC,
        a.update_time DESC
    </select>

    <!--标注统计列表-病理指标Page-->
    <select id="statisticSelectAnnoIndicatorPageList"
            parameterType="cn.staitech.anno.domain.vo.statistic.AnnotationStatisticListPageInVO"
            resultMap="AnnotationPageResult">
        SELECT
        pi.indicator_id,
        pi.indicator_name,
        a.annotation_id
        FROM
        tb_marking AS a
        INNER JOIN tb_project AS p ON a.project_id = p.project_id
        INNER JOIN tb_pathological_indicator AS pi ON pi.indicator_id = p.indicator_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
            AND pi.indicator_id = #{statisticId}
        </where>
        order by pi.indicator_id desc, a.update_time desc
    </select>

    <!--标注统计列表: 标注类别Page-->
    <select id="statisticSelectAnnoCategoryPageList"
            parameterType="cn.staitech.anno.domain.vo.statistic.AnnotationStatisticListPageInVO"
            resultMap="AnnotationPageResult">
        SELECT
        a.category_id,
        pic.category_name,
        a.annotation_id
        FROM
        tb_marking AS a
        left JOIN tb_pathological_indicator_category AS pic ON a.category_id = pic.category_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
            AND a.category_id = #{statisticId}
        </where>
        order by a.category_id desc, a.update_time desc
    </select>

    <!--标注统计列表: 成员Page-->
    <select id="SelectMembersPageList"
            parameterType="cn.staitech.anno.domain.vo.statistic.AnnotationStatisticListPageInVO"
            resultMap="AnnotationPageResult">
        SELECT
        u.user_id,
        u.user_name,
        a.annotation_id,
        a.update_time
        FROM
        tb_marking AS a
        LEFT JOIN sys_user u ON u.user_id = a.create_by
        <where>
            <include refid="statisticSelectAnnotationSql"/>
            AND a.create_by = #{statisticId}
        </where>
        ORDER BY
        a.create_by DESC,
        a.update_time DESC
    </select>

    <!--标注统计列表: 图像Page-->
    <select id="statisticSelectAnnoImagePageList"
            parameterType="cn.staitech.anno.domain.vo.statistic.AnnotationStatisticListPageInVO"
            resultMap="AnnotationPageResult">
        SELECT
        i.image_id,
        i.image_name,
        a.annotation_id
        FROM
        tb_marking AS a
        INNER JOIN tb_image AS i ON a.image_id = i.image_id
        <where>
            <include refid="statisticSelectAnnotationSql"/>
            AND i.image_id = #{statisticId}
        </where>
        order by i.image_id desc, a.update_time desc
    </select>


    <!--查询标注表最早时间记录-->
    <select id="statisticSelectEarliestAnnoDate" parameterType="java.lang.String" resultMap="EarliestDateResult">
        SELECT MIN(create_time) as earliest_date
        from tb_marking
        <where>
            <if test="organizationId !=null and organizationId !=0">
                and organization_id = #{organizationId}
            </if>
        </where>
    </select>

    <!--根据字典数据ID查询信息-->
    <select id="statisticSelectDictDataById" parameterType="java.lang.Long" resultMap="DictDataResult">
        select dict_code, dict_label, dict_sort
        from sys_dict_data
        where dict_code = #{dictCode}
    </select>
</mapper>