<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.SubImageMapper">
    <resultMap type="cn.staitech.anno.vo.organization.SysOrganizationAuthorization" id="organizationResult">
        <result property="organizationId" column="organization_id"/>
        <result property="authorizationImageLimit" column="authorization_image_limit"/>
    </resultMap>

    <select id="pageSubImage" parameterType="java.util.Map" resultType="cn.staitech.anno.vo.slide.SubImageVO">
        select m.*
        from tb_sub_image m
        <where>
            m.audit_status = 1
            <if test="params.specialId != null and params.specialId != ''">
                AND m.special_id = #{params.specialId}
            </if>
            <if test="params.imageCode != null and params.imageCode != ''">
                AND m.image_name LIKE CONCAT('%',#{params.imageCode},'%')
            </if>
            <if test="params.parentImageCode != null and params.parentImageCode != ''">
                AND m.parent_image_name LIKE CONCAT('%',#{params.parentImageCode},'%')
            </if>
            <if test="params.visceraType != null and params.visceraType != ''">
                AND m.viscera_type = #{params.visceraType}
            </if>
            <if test="params.groupId != null and params.groupId != ''">
                AND m.image_id in (select s.image_id from tb_slide s where s.is_delete = 0 and s.project_id =
                #{params.projectId}
                and s.group_id = #{params.groupId})
            </if>
            <if test="params.accessTime!=null and params.accessTime.beginTime != null and params.accessTime.beginTime != ''">
                and date_format(m.create_time,'%y%m%d') &gt;= date_format(#{params.accessTime.beginTime},'%y%m%d')
            </if>
            <if test="params.accessTime!=null and params.accessTime.endTime != null and params.accessTime.endTime != ''">
                and date_format(m.create_time,'%y%m%d') &lt;= date_format(#{params.accessTime.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <select id="selectImageRelByIds" parameterType="java.util.Map"
            resultType="cn.staitech.anno.vo.image.ImageRelVO">
        select s.image_id as imageId,
        group_concat(distinct(g.group_id)) as groupIds,
        group_concat(distinct(g.group_name)) as groupNames,
        group_concat(p.project_id) as projectIds,
        group_concat(p.project_name) as projectNames
        from tb_slide s
        left join tb_group g on s.group_id = g.group_id
        left join tb_project p on s.project_id = p.project_id
        <if test="imageIds != null and imageIds.size() >0 ">
            <where>
                is_delete = 0
                and s.image_id in
                <foreach item="imageId" collection="imageIds" separator="," open="(" close=")" index="">
                    #{imageId, jdbcType=NUMERIC}
                </foreach>
            </where>
        </if>
        group by image_id
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="cn.staitech.anno.vo.special.SpecialImage">
        update tb_sub_image
        <set>
            <if test="auditStatus != null">
                audit_status = #{auditStatus},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            <if test="imageId != null">
                AND image_id = #{imageId}
            </if>
            <if test="imageIds != null">
                AND image_id in
                <foreach collection="imageIds" item="subImageId" index="index" open="(" close=")" separator=",">
                    #{subImageId}
                </foreach>
            </if>
        </where>
    </update>

    <select id="selectSpecialCounts" parameterType="Long" resultType="int">
        select count(image_id)
        from tb_sub_image
        <where>
            audit_status = 1
            <if test="specialId !=null and specialId != 0">
                AND special_id = #{specialId}
            </if>
        </where>
    </select>

    <select id="selectImageCount" parameterType="java.lang.Long"
            resultType="cn.staitech.anno.vo.slide.SubImageVO">
        SELECT si.special_image_id
        FROM sys_organization AS o
                 LEFT JOIN sys_user AS u ON u.organization_id = o.organization_id
                 LEFT JOIN tb_special_role_user AS spe ON spe.user_id = u.user_id
                 LEFT JOIN tb_special_image AS si ON si.special_id = spe.special_id
        WHERE o.organization_id = #{organizationId}
          AND si.STATUS = 1
    </select>

    <select id="selectOrganization" parameterType="java.lang.Long" resultMap="organizationResult">
        SELECT o.organization_id,
               o.authorization_image_limit
        FROM sys_organization_authorization AS o
                 LEFT JOIN sys_user AS u ON u.organization_id = o.organization_id
        WHERE u.user_id = #{userId}
    </select>
</mapper>