<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.TopicMapper">
    <resultMap type="cn.staitech.anno.domain.Topic" id="SpecialResult">
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="organizationId" column="organization_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <resultMap type="cn.staitech.anno.domain.topic.TopicIdName" id="topicIdNameResult">
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
    </resultMap>

    <sql id="selectList">
        select topic_id
             , topic_name
             , organization_id
             , create_by
             , create_time
             , update_by
             , update_time
             , del_flag
        from tb_topic
    </sql>

    <!--查询专题表IdNameList-->
    <select id="selectIdNameList" resultMap="topicIdNameResult">
        select distinct topic_id, topic_name
        from tb_topic
        order by topic_id asc;
    </select>
</mapper>