<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.anno.mapper.VisceraTagMapper">

    <select id="pageVisceraTag" parameterType="java.util.Map" resultType="cn.staitech.anno.domain.vo.VisceraTagVo">
        select v.*,dict_label as visceraName, concat('C',dict_value) as visceraCode
        from tb_viscera_tag v
        left join sys_dict_data d on d.dict_code = v.viscera_id
        <where>
            <if test="params.visceraName != null and params.visceraName != ''">
                AND d.dict_label like CONCAT('%',#{params.visceraName},'%')
            </if>
            <if test="params.matched != null">
                AND v.matched = #{params.matched}
            </if>
            <if test="params.accessTime!=null and params.accessTime.beginTime != null and params.accessTime.beginTime != ''">
                and date_format(v.create_time,'%y%m%d') &gt;= date_format(#{params.accessTime.beginTime},'%y%m%d')
            </if>
            <if test="params.accessTime!=null and params.accessTime.endTime != null and params.accessTime.endTime != ''">
                and date_format(v.create_time,'%y%m%d') &lt;= date_format(#{params.accessTime.endTime},'%y%m%d')
            </if>
        </where>
    </select>

</mapper>